<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Feuille de Match</h2>
  </div>
  <div class="col-lg-2 text-right">Club Africain 2023</div>
</div>
<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="ibox-content">
      <div class="table-responsive">
        <h4>Joueurs</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 10%">N° Maillot</th>
              <th style="width: 10%">Nom & Prénom</th>
              <th style="width: 10%">Statuts</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>02</td>
              <td>Skander Labidi</td>
              <td>
                <select class="form-control">
                  <option selected></option>

                  <option>Titulaire</option>
                  <option>Remplaçant</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>32</td>
              <td>Moze Hassen</td>
              <td>
                <select class="form-control">
                  <option selected></option>

                  <option>Titulaire</option>
                  <option>Remplaçant</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>20</td>
              <td>Rami Cheti</td>
              <td>
                <select class="form-control">
                  <option selected></option>
                  <option>Titulaire</option>
                  <option>Remplaçant</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="modal-footer">
          <input
            type="submit"
            class="btn btn-primary btn-xs dropdown-toggle"
            value="Valider"
          />

          <input
            type="submit"
            class="btn btn-white btn-xs dropdown-toggle"
            value="Annuler"
          />
        </div>
      </div>
    </div>

    <div class="ibox-content">
      <div class="table-responsive">
        <h4>Staff</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 90%">Nom et Prénom</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />&nbsp;&nbsp;&nbsp;Skander Labidi
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />&nbsp;&nbsp;&nbsp;Skander Labidi
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />&nbsp;&nbsp;&nbsp;Skander Labidi
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />&nbsp;&nbsp;&nbsp;Skander Labidi
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />&nbsp;&nbsp;&nbsp;Skander Labidi
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="modal-footer">
          <input
            type="submit"
            class="btn btn-primary btn-xs dropdown-toggle"
            value="Valider"
          />

          <input
            type="submit"
            class="btn btn-white btn-xs dropdown-toggle"
            value="Annuler"
          />
        </div>
      </div>
    </div>

    <div class="ibox-content">
      <div class="table-responsive">
        <h4>Changements</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 10%">Joueurs</th>
              <th style="width: 10%">Statut</th>
              <th style="width: 10%">Minute Entrée</th>
              <th style="width: 10%">Minute Sortie</th>
              <th style="width: 10%">Echangé Par</th>

              <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Aymen dridi</td>
              <td>Titulaire</td>
              <td>1</td>
              <td>90</td>
              <td>-</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#Remplacer"
                        >Remplacer</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>Aymen dridi</td>
              <td>Titulaire</td>
              <td>1</td>
              <td>90</td>
              <td>-</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#Remplacer"
                        >Remplacer</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>Aymen dridi</td>
              <td>Remplaçant</td>
              <td>56</td>
              <td>90</td>
              <td>Oussema Cheti</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#Remplacer"
                        >Remplacer</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          class="modal inmodal"
          id="Remplacer"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content animated bounceInRight">
              <div class="modal-header">
                <h6 class="modal-title">Remplacer Joueur</h6>
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span
                  ><span class="sr-only">Fermer</span>
                </button>
              </div>

              <div class="modal-body">
                <div class="row">
                  <form>
                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <label>Joueur Titulaire </label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationDefault04"
                          placeholder=""
                          required
                        />
                      </div>
                      <div class="col-md-6 mb-3">
                        <label f>Joueur Remplacant</label>
                        <select class="form-control">
                          <option>Joueur 1</option>
                          <option selected>Joueur 2</option>
                          <option>Joueur 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label f>Minute </label>
                        <input
                          type="time"
                          class="form-control"
                          id="validationDefault04"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>

                    <div class="row" class="text-right">
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-white btn-xs dropdown-toggle"
                          data-dismiss="modal"
                        >
                          Annuler
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary btn-xs dropdown-toggle"
                        >
                          Valider
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="modal-footer">
          <input
            type="submit"
            class="btn btn-primary btn-xs dropdown-toggle"
            value="Valider"
          />

          <input
            type="submit"
            class="btn btn-white btn-xs dropdown-toggle"
            value="Annuler"
          />
        </div>
      </div>
    </div>

    <div class="ibox-content">
      <h4>Score et Buts Marqués</h4>
      <div class="table-responsive">
        <form>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label>Equipe 1</label>
              <input
                type="number"
                class="form-control"
                id="validationDefault04"
                placeholder=""
                required
              />
            </div>

            <div class="col-md-6 mb-3">
              <label f>Equipe 2 </label>
              <input
                type="number"
                class="form-control"
                id="validationDefault04"
                placeholder=""
                required
              />
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-5 mb-3">
              <label f>Joueur </label>
              <select class="form-control">
                <option value="" selected>Joueur 1</option>
                <option value="option1">Joueur 2</option>
                <option value="" selected>Joueur 3</option>
                <option value="option1">Joueur 4</option>
                <option value="" selected>Joueur 5</option>
                <option value="option1">Joueur 6</option>
                <option value="" selected>Joueur 7</option>
                <option value="option1">Joueur 8</option>
              </select>
            </div>

            <div class="col-md-5 mb-3">
              <label>Minute </label>
              <input
                type="time"
                class="form-control"
                id="validationDefault04"
                placeholder=""
                required
              />
            </div>
            <div class="col-md-2 mb-3">
              <label> </label>
              <input
                type="sumbit"
                class="btn btn-primary btn-xs dropdown-toggle"
                value="Ajouter"
                required
              />
            </div>
          </div>
          <br />
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10%">Joueurs</th>
                    <th style="width: 10%">Minute</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Aymen dridi</td>
                    <td>60'</td>
                  </tr>
                  <tr>
                    <td>Hassen CHERIF</td>
                    <td>45'</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
        <br />
      </div>
      <br />
      <div class="row">
        <div class="modal-footer">
          <input
            type="submit"
            class="btn btn-primary btn-xs dropdown-toggle"
            value="Valider"
          />

          <input
            type="submit"
            class="btn btn-white btn-xs dropdown-toggle"
            value="Annuler"
          />
        </div>
      </div>
    </div>
    <div class="ibox-content">
      <h4>Arbitres</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 10%"></th>
              <th style="width: 10%">Arbitre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Arbitre Central</td>
              <td>
                <select class="form-control">
                  <option>Arbitre 1</option>
                  <option>Arbitre 2</option>
                  <option>Arbitre 3</option>
                  <option>Arbitre 4</option>
                  <option>Arbitre 5</option>
                  <option>Arbitre 6</option>
                  <option>Arbitre 7</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>1ére assistant</td>
              <td>
                <select class="form-control">
                  <option>Arbitre 1</option>
                  <option>Arbitre 2</option>
                  <option>Arbitre 3</option>
                  <option>Arbitre 4</option>
                  <option>Arbitre 5</option>
                  <option>Arbitre 6</option>
                  <option>Arbitre 7</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>2éme assistant</td>
              <td>
                <select class="form-control">
                  <option>Arbitre 1</option>
                  <option>Arbitre 2</option>
                  <option>Arbitre 3</option>
                  <option>Arbitre 4</option>
                  <option>Arbitre 5</option>
                  <option>Arbitre 6</option>
                  <option>Arbitre 7</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>4éme Arbitre</td>
              <td>
                <select class="form-control">
                  <option>Arbitre 1</option>
                  <option>Arbitre 2</option>
                  <option>Arbitre 3</option>
                  <option>Arbitre 4</option>
                  <option>Arbitre 5</option>
                  <option>Arbitre 6</option>
                  <option>Arbitre 7</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="modal-footer">
          <input
            type="submit"
            class="btn btn-primary btn-xs dropdown-toggle"
            value="Valider"
          />

          <input
            type="submit"
            class="btn btn-white btn-xs dropdown-toggle"
            value="Annuler"
          />
        </div>
      </div>
    </div>
    <div class="ibox-content">
      <div class="table-responsive">
        <h4>Sanctions</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 30%">Nom et Prénom</th>
              <th colspan="2" style="width: 10%">Carton Jaune</th>
              <th colspan="2" style="width: 10%">2éme Carton Jaune</th>
              <th colspan="2" style="width: 10%">Carton Rouge</th>
              <th colspan="2" style="width: 10%">Carton Jaune + Rouge</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Skander Labidi</td>
              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>
            </tr>
            <tr>
              <td>Skander Labidi</td>
              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>
            </tr>
            <tr>
              <td>Skander Labidi</td>
              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>
            </tr>
            <tr>
              <td>Skander Labidi</td>
              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td>
                <input type="text" placeholder="Minute" class="form-control" />
              </td>
            </tr>
            <tr>
              <td>Skander Labidi</td>
              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>

              <td>
                <input
                  type="checkbox"
                  checked
                  class="i-checks"
                  name="input[]"
                />
              </td>
              <td id="messageCell" contenteditable="true">
                <input type="text" placeholder="Minute" class="form-control" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="modal-footer">
          <input
            type="submit"
            class="btn btn-primary btn-xs dropdown-toggle"
            value="Valider"
          />

          <input
            type="submit"
            class="btn btn-white btn-xs dropdown-toggle"
            value="Annuler"
          />
        </div>
      </div>
    </div>
    <div class="ibox-content">
      <div class="table-responsive">
        <div class="col-lg-12">
          <form>
            <div class="col-md-12 mb-3">
              <label>Réserves Techniques</label>
              <textarea
                type="text"
                class="form-control"
                id="validationDefault04"
                placeholder=""
                required
              ></textarea>
            </div>
            <br />
            <div class="col-md-12 mb-3">
              <label>Réserves Disciplinaires</label>
              <textarea
                type="text"
                class="form-control"
                id="validationDefault04"
                placeholder=""
                required
              ></textarea>
            </div>
            <div class="col-md-12 mb-3">
              <label>Notes</label>
              <textarea
                type="text"
                class="form-control"
                id="validationDefault04"
                placeholder=""
                required
              ></textarea>
            </div>
          </form>
        </div>
        <br />
      </div>
      <br />
      <div class="row">
        <div class="modal-footer">
          <input
            type="submit"
            class="btn btn-primary btn-xs dropdown-toggle"
            value="Cloturée"
          />

          <input
            type="submit"
            class="btn btn-white btn-xs dropdown-toggle"
            value="Annuler"
          />
        </div>
      </div>
    </div>
  </div>
</div>
