<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-info pull-right">Annual</span>

          <small><b style="font-size: 12px">Missions Ouvertes</b></small>
        </div>
        <div class="ibox-content">
          <small class="text-left"
            ><b>Controle Interne &nbsp;&nbsp;&nbsp; 10</b>
            <b class="stat-percent font-bold text-success"
              >98% <i class="fa fa-bolt"> </i
            ></b> </small
          ><br />
          <small class="text-left"
            ><b>Audit Financier &nbsp;&nbsp; &nbsp;&nbsp; 30</b>
            <b class="stat-percent font-bold text-success"
              >98% <i class="fa fa-bolt"> </i
            ></b>
          </small>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">Monthly</span>

          <small><b style="font-size: 12px">Missions Clôturées</b></small>
        </div>
        <div class="ibox-content">
          <small class="text-left"
            ><b>Controle Interne &nbsp;&nbsp;&nbsp; 10</b>
            <b class="stat-percent font-bold text-success"
              >98% <i class="fa fa-bolt"> </i
            ></b> </small
          ><br />
          <small class="text-left"
            ><b>Audit Financier &nbsp;&nbsp; &nbsp;&nbsp; 30</b>
            <b class="stat-percent font-bold text-success"
              >98% <i class="fa fa-bolt"> </i
            ></b>
          </small>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Today</span>

          <small><b style="font-size: 12px">Effectif</b></small>
        </div>
        <div class="ibox-content">
          <small class="text-left"
            ><b style="font-size: 9px">Affecté &nbsp;&nbsp;&nbsp;&nbsp;10</b>
            <b class="stat-percent font-bold text-info"
              >&nbsp;&nbsp;98% <i class="fa fa-level-up"></i
            ></b> </small
          ><br />
          <small class="text-left"
            ><b style="font-size: 9px">à Affecté &nbsp; 20</b>
            <b class="stat-percent font-bold text-success"
              >20%<i class="fa fa-bolt"> </i
            ></b>
          </small>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Evolution taux Affectation</h5>
          <div class="ibox-tools">
            <span class="label label-primary">Updated 12.2015</span>
          </div>
        </div>
        <div class="ibox-content no-padding">
          <div class="flot-chart m-t-lg" style="height: 55px">
            <div class="flot-chart-content" id="flot-chart1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div>
            <h3 class="font-bold no-margins">Evolution chiffre d'Affaires</h3>
          </div>

          <div class="m-t-sm">
            <div class="row">
              <div class="col-md-8">
                <div>
                  <canvas
                    id="lineChart"
                    style="width: 30%; height: 2000%"
                  ></canvas>
                </div>
              </div>
              <div class="col-md-4">
                <ul class="stat-list m-t-lg">
                  <li>
                    <h2 class="no-margins">2,346</h2>
                    <small>Chiffre d'affaires du mois </small>
                    <div class="progress progress-mini">
                      <div class="progress-bar" style="width: 48%"></div>
                    </div>
                  </li>
                  <li>
                    <h2 class="no-margins">4,422</h2>
                    <small>Chiffre d'affaires de l'exercice</small>
                    <div class="progress progress-mini">
                      <div class="progress-bar" style="width: 60%"></div>
                    </div>
                  </li>
                  <li>
                    <h2 class="no-margins">4,345</h2>
                    <small>Chiffre d'affaires de l'exercice précedent</small>
                    <div class="progress progress-mini">
                      <div class="progress-bar" style="width: 60%"></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Missions En Cours</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a></li>
              <li><a href="#">Config option 2</a></li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Clients</th>
                <th>Progression</th>
                <th>Restant</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Haifa Dali</td>
                <td class="text-center"><span class="pie">0.52,1.041</span></td>
                <td></td>
              </tr>
              <tr>
                <td>Mahmoud Karabaka</td>
                <td class="text-center"><span class="pie">226,134</span></td>
                <td><b style="color: rgb(32, 157, 84)"> 3</b></td>
              </tr>
              <tr>
                <td>Ichrak Cherif</td>
                <td class="text-center"><span class="pie">0.52/1.561</span></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <small><b>Top 5 Chefs de mission (Par Mission) </b></small>
      <ul class="list-group clear-list m-t">
        <li class="list-group-item fist-item">
          <span class="label label-success">1</span>&nbsp;&nbsp; Amine Kesntini
          &nbsp;&nbsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>10</b>
          </span>
        </li>
        <li class="list-group-item">
          <span class="label label-info">2</span>&nbsp;&nbsp;Nizar Samet
          &nbsp;&nbsp;&nbsp;&nbsp; &emsp; &emsp; &emsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>6</b></span
          >
        </li>
        <li class="list-group-item">
          <span class="label label-primary">3</span>&nbsp;&nbsp; Open new
          shop&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
              >4</b
            >
          </span>
        </li>
        <li class="list-group-item fist-item">
          <span class="label label-info">4</span>&nbsp;&nbsp; Amine Kesntini
          &nbsp;&nbsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>10</b>
          </span>
        </li>
        <li class="list-group-item fist-item">
          <span class="label label-success">5</span>&nbsp;&nbsp; Amine Kesntini
          &nbsp;&nbsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>10</b>
          </span>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <small><b>Top 5 Auditeur (Par Section) </b></small>
      <ul class="list-group clear-list m-t">
        <li class="list-group-item fist-item">
          <span class="label label-success">1</span>&nbsp;&nbsp; Haifa Hadj
          Mohamed&nbsp;&nbsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>7</b>
          </span>
        </li>
        <li class="list-group-item">
          <span class="label label-info">2</span>&nbsp;&nbsp;Mahmoud
          Karabaka&nbsp;&nbsp;&nbsp;&nbsp; &emsp; &emsp; &emsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>6</b></span
          >
        </li>
        <li class="list-group-item">
          <span class="label label-primary">3</span>&nbsp;&nbsp; Open new
          shop&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
              >4</b
            >
          </span>
        </li>
        <li class="list-group-item fist-item">
          <span class="label label-primary">4</span>&nbsp;&nbsp; Haifa Hadj
          Mohamed&nbsp;&nbsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>7</b>
          </span>
        </li>
        <li class="list-group-item fist-item">
          <span class="label label-success">5</span>&nbsp;&nbsp; Haifa Hadj
          Mohamed&nbsp;&nbsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>7</b>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <small><b>Top 5 Auditeur (Par Sous Section) </b></small>
      <ul class="list-group clear-list m-t">
        <li class="list-group-item fist-item">
          <span class="label label-success">1</span>&nbsp;&nbsp; Haifa Hadj
          Mohamed&nbsp;&nbsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>7</b>
          </span>
        </li>
        <li class="list-group-item">
          <span class="label label-info">2</span>&nbsp;&nbsp;Mahmoud
          Karabaka&nbsp;&nbsp;&nbsp;&nbsp; &emsp; &emsp; &emsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>6</b></span
          >
        </li>
        <li class="list-group-item">
          <span class="label label-primary">3</span>&nbsp;&nbsp; Open new shop
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b
              >4</b
            >
          </span>
        </li>
        <li class="list-group-item">
          <span class="label label-primary">4</span>&nbsp;&nbsp;Mahmoud
          Karabaka&nbsp;&nbsp;&nbsp;&nbsp; &emsp; &emsp; &emsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>6</b></span
          >
        </li>
        <li class="list-group-item">
          <span class="label label-info">5</span>&nbsp;&nbsp;Mahmoud
          Karabaka&nbsp;&nbsp;&nbsp;&nbsp; &emsp; &emsp; &emsp;
          <span class="pull-right"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>6</b></span
          >
        </li>
      </ul>
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-content">
          <h3 class="text-center">Missions en instance</h3>

          <h5>Clients</h5>

          <ul class="sortable-list connectList agile-list" id="todo">
            <li class="warning-element" id="task1">
              <div class="row">
                <div class="col-md-8">
                  NACEUR AUTOMOBILE SERVICES<i class="fa fa-clock-o"></i> 2023
                </div>
                <div class="col-md-3 text-right">
                  <input value="Renouveler" class="btn btn-xs btn-primary" />
                </div>
              </div>
            </li>

            <li class="success-element" id="task2">
              <div class="row">
                <div class="col-md-8">
                  K2A CONSULTING <i class="fa fa-clock-o"></i> 2023
                </div>

                <div class="col-md-3 text-right">
                  <input value="Renouveler" class="btn btn-xs btn-primary" />
                </div>
              </div>
            </li>
            <li class="info-element" id="task3">
              <div class="row">
                <div class="col-md-8">
                  ZITOUNA LOGESTICS SERVICES<i class="fa fa-clock-o"></i> 2023
                </div>
                <div class="col-md-3 text-right">
                  <input value="Renouveler" class="btn btn-xs btn-primary" />
                </div>
              </div>
            </li>
            <li class="danger-element" id="task4">
              <div class="row">
                <div class="col-md-8">
                  WARAM MEDICAL <i class="fa fa-clock-o"></i> 2023
                </div>

                <div class="col-md-3 text-right">
                  <input value="Renouveler" class="btn btn-xs btn-primary" />
                </div>
              </div>
            </li>
            <li class="warning-element" id="task5">
              <div class="row">
                <div class="col-md-8">
                  MUREX BUSINESS SOLUTIONS <i class="fa fa-clock-o"></i> 2023
                </div>
                <div class="col-md-3 text-right">
                  <input value="Renouveler" class="btn btn-xs btn-primary" />
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-content">
          <h3 class="text-center">Mondats Expirés</h3>

          <h5>Clients</h5>

          <ul class="sortable-list connectList agile-list" id="todo">
            <li class="warning-element" id="task1">
              <div class="row">
                <div class="col-md-8">
                  MUREX BUSINESS SOLUTIONS
                  <i class="fa fa-clock-o"></i> 2021-2023
                </div>
                <div class="col-md-3 text-right">
                  <input value="Renouveler" class="btn btn-xs btn-primary" />
                </div>
              </div>
            </li>
            <li class="success-element" id="task2">
              <div class="row">
                <div class="col-md-8">
                  BIJOUX PHARMA <i class="fa fa-clock-o"></i> 2021-2023
                </div>
                <div class="col-md-3 text-right">
                  <input value="Renouveler" class="btn btn-xs btn-primary" />
                </div>
              </div>
            </li>
            <li class="info-element" id="task3">
              <div class="row">
                <div class="col-md-8">
                  MUREX DIGITAL AGENCY <i class="fa fa-clock-o"></i> 2021-2023
                </div>
                <div class="col-md-3 text-right">
                  <input value="Renouveler" class="btn btn-xs btn-primary" />
                </div>
              </div>
            </li>
            <li class="danger-element" id="task4">
              <div class="row">
                <div class="col-md-8">
                  MULTIPLOGY<i class="fa fa-clock-o"></i> 2021-2023
                </div>
                <div class="col-md-3 text-right">
                  <input value="Renouveler" class="btn btn-xs btn-primary" />
                </div>
              </div>
            </li>
            <li class="warning-element" id="task5">
              <div class="row">
                <div class="col-md-8">
                  CELLVITAL NUTRITION <i class="fa fa-clock-o"></i> 2021-2023
                </div>
                <div class="col-md-3 text-right">
                  <input value="Renouveler" class="btn btn-xs btn-primary" />
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
