<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Évènement</h2>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-8">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <div class="row">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-right"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModal"
                    class="btn btn-lg btn-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Ajouter"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
                <div
                  class="modal inmodal"
                  id="myModal"
                  tabindex="-1"
                  role="dialog"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                      <div class="modal-header">
                        <h6 class="modal-title">Ajouter Évènement</h6>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          <span aria-hidden="true">&times;</span
                          ><span class="sr-only">Fermer</span>
                        </button>
                      </div>

                      <div class="modal-body"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 pull-right">
                <div class="input-group">
                  <input
                    type="text"
                    placeholder="Rechercher"
                    class="input-sm form-control"
                  />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-primary">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Adversaire</th>
                    <th>Date de début</th>
                    <th>Date fin</th>

                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>ENTRAINEMENT</td>
                    <td></td>

                    <td>06/01/2023</td>
                    <td>06/01/2023</td>
                    <td class="overflow-hidden">
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                        >
                          Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              data-toggle="modal"
                              data-target="#myModalModifier"
                              >Modifier</a
                            >
                          </li>
                          <li><a href="#">Supprimer</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>ENTRAINEMENT</td>
                    <td></td>

                    <td>06/01/2023</td>
                    <td>06/01/2023</td>
                    <td class="overflow-hidden">
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                        >
                          Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              data-toggle="modal"
                              data-target="#myModalModifier"
                              >Modifier</a
                            >
                          </li>
                          <li><a href="#">Supprimer</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>ENTRAINEMENT</td>
                    <td></td>

                    <td>06/01/2023</td>
                    <td>06/01/2023</td>
                    <td class="overflow-hidden">
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                        >
                          Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              data-toggle="modal"
                              data-target="#myModalModifier"
                              >Modifier</a
                            >
                          </li>
                          <li><a href="#">Supprimer</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>ENTRAINEMENT</td>
                    <td></td>

                    <td>06/01/2023</td>
                    <td>06/01/2023</td>
                    <td class="overflow-hidden">
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                        >
                          Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              data-toggle="modal"
                              data-target="#myModalModifier"
                              >Modifier</a
                            >
                          </li>
                          <li><a href="#">Supprimer</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>ENTRAINEMENT</td>
                    <td></td>

                    <td>06/01/2023</td>
                    <td>06/01/2023</td>
                    <td class="overflow-hidden">
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                        >
                          Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              data-toggle="modal"
                              data-target="#myModalModifier"
                              >Modifier</a
                            >
                          </li>
                          <li><a href="#">Supprimer</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>ENTRAINEMENT</td>
                    <td></td>

                    <td>06/01/2023</td>
                    <td>06/01/2023</td>
                    <td class="overflow-hidden">
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                        >
                          Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              data-toggle="modal"
                              data-target="#myModalModifier"
                              >Modifier</a
                            >
                          </li>
                          <li><a href="#">Supprimer</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                class="modal inmodal"
                id="myModalModifier"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                      <h6 class="modal-title">Ajouter Contact</h6>
                      <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span
                        ><span class="sr-only">Fermer</span>
                      </button>
                    </div>

                    <div class="modal-body"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ibox float-e-margins">
          <div class="text-center float-e-margins p-md"></div>
          <div class="ibox-content" id="ibox-content">
            <a href="#" class="btn btn-xs btn-primary" id="leftVersion"
              >Afficher Time Line</a
            >
            <div
              id="vertical-timeline"
              class="vertical-container dark-timeline center-orientation"
            >
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg">
                  <i class="fa fa-briefcase"></i>
                </div>

                <div class="vertical-timeline-content">
                  <h2>ENTRAINEMENT</h2>
                  <p>Date début 12/11/2023 Heure Debut 09:00</p>
                  <p>Date début 12/11/2023 Heure Debut 09:00</p>

                  <a href="#" class="btn btn-sm btn-primary"> More info</a>
                  <span class="vertical-date">
                    Today <br />
                    <small>Dec 24</small>
                  </span>
                </div>
              </div>

              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon blue-bg">
                  <i class="fa fa-file-text"></i>
                </div>

                <div class="vertical-timeline-content">
                  <h2>Send documents to Mike</h2>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since.
                  </p>
                  <a href="#" class="btn btn-sm btn-success">
                    Download document
                  </a>
                  <span class="vertical-date">
                    Today <br />
                    <small>Dec 24</small>
                  </span>
                </div>
              </div>

              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon lazur-bg">
                  <i class="fa fa-coffee"></i>
                </div>

                <div class="vertical-timeline-content">
                  <h2>Coffee Break</h2>
                  <p>
                    Go to shop and find some products. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's.
                  </p>
                  <a href="#" class="btn btn-sm btn-info">Read more</a>
                  <span class="vertical-date">
                    Yesterday <br /><small>Dec 23</small></span
                  >
                </div>
              </div>

              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon yellow-bg">
                  <i class="fa fa-phone"></i>
                </div>

                <div class="vertical-timeline-content">
                  <h2>Phone with Jeronimo</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Iusto, optio, dolorum provident rerum aut hic quasi placeat
                    iure tempora laudantium ipsa ad debitis unde? Iste
                    voluptatibus minus veritatis qui ut.
                  </p>
                  <span class="vertical-date"
                    >Yesterday <br /><small>Dec 23</small></span
                  >
                </div>
              </div>

              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon lazur-bg">
                  <i class="fa fa-user-md"></i>
                </div>

                <div class="vertical-timeline-content">
                  <h2>Go to the doctor dr Smith</h2>
                  <p>
                    Find some issue and go to doctor. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since
                    the 1500s.
                  </p>
                  <span class="vertical-date"
                    >Yesterday <br /><small>Dec 23</small></span
                  >
                </div>
              </div>

              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg">
                  <i class="fa fa-comments"></i>
                </div>

                <div class="vertical-timeline-content">
                  <h2>Chat with Monica and Sandra</h2>
                  <p>
                    Web sites still in their infancy. Various versions have
                    evolved over the years, sometimes by accident, sometimes on
                    purpose (injected humour and the like).
                  </p>
                  <span class="vertical-date"
                    >Yesterday <br /><small>Dec 23</small></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
