<div class="contentPanel">
  <div class="row">
    <div class="col-12 p-2">
      <!------------------------------------------- TABLE LIST ----------------------------------------------------->
      <div class="container-fluid docPage">
        <div class="row">
          <div class="col-5 docHeaderLogo">
            <img src="./DocAchatAmine_files/logo-connect.png" class="mw-100" />
          </div>
          <div class="col-7 docHeaderSlogan">Grow Stronger <b>Together</b></div>
          <div class="col-12 docTitle">
            Bon de Commande &nbsp; <b>BC22001</b>
          </div>
          <div class="col-12 docContent">
            <div class="row">
              <div class="col-6 pr-3">
                <table
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  class="detailsDoc"
                >
                  <tbody>
                    <tr>
                      <td width="40%" class="detailsDocTitle">
                        N° Bon de Commande
                      </td>
                      <td class="detailsDocTitle">BC22001</td>
                    </tr>
                    <tr>
                      <td>Date</td>
                      <td>19/12/2022</td>
                    </tr>
                    <tr>
                      <td>Mode Réglement</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Date Exigibilité</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-6">
                <table
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  class="detailsDoc"
                >
                  <tbody>
                    <tr>
                      <td width="40%" class="detailsDocTitle">Fournisseur</td>
                      <td class="detailsDocTitle">FR0004</td>
                    </tr>
                    <tr>
                      <td>Intitulé</td>
                      <td>ACTIVE TRAVEL</td>
                    </tr>
                    <tr>
                      <td>MF / IU</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Adresse</td>
                      <td>Tunis, 1000, Tunis - Tunisie.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-12 pt-3 pb-3">
                <table
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  class="detailsDocContainer"
                >
                  <tbody>
                    <tr>
                      <td valign="top">
                        <table
                          cellpadding="0"
                          cellspacing="0"
                          width="100%"
                          class="detailsDoc"
                        >
                          <tbody>
                            <tr>
                              <td
                                width="47%"
                                class="detailsDocTitle text-center"
                              >
                                Designation
                              </td>
                              <td class="detailsDocTitle text-center">Qte</td>
                              <td class="detailsDocTitle text-center">
                                P.U.HT
                              </td>
                              <td class="detailsDocTitle text-center">
                                Remise
                              </td>
                              <td class="detailsDocTitle text-center">TVA</td>
                              <td class="detailsDocTitle last text-center">
                                Total HT
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Séjour pour une personne du 01/03/2023 au
                                05032023
                              </td>
                              <td class="text-center">1.00</td>
                              <td class="text-right">2 000.000</td>
                              <td class="text-center">0.00 %</td>
                              <td class="text-center">19.00 %</td>
                              <td class="text-right last">2 000.000</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-6 pr-3">
                <table
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  class="detailsDoc"
                >
                  <tbody>
                    <tr>
                      <td class="detailsDocTitle text-center">Base TVA</td>
                      <td class="detailsDocTitle text-center">Taux</td>
                      <td class="detailsDocTitle text-center">Montant</td>
                    </tr>
                    <tr>
                      <td class="text-right">2 000.000</td>
                      <td class="text-center">19.00 %</td>
                      <td class="text-right">380.000</td>
                    </tr>
                  </tbody>
                </table>

                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td style="padding-top: 67px">
                        Arrêté le présent bon de commande à la somme de :
                        <br />
                        <i><b>Deux mille trois cent quatre vingts dinars</b></i
                        >.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-6 pb-3" style="padding-left: 97px">
                <table
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  class="detailsDoc"
                >
                  <tbody>
                    <tr>
                      <td>Total HT Net</td>
                      <td class="text-right">2 000.000</td>
                    </tr>
                    <tr>
                      <td>Total TVA</td>
                      <td class="text-right">380.000</td>
                    </tr>
                    <tr>
                      <td width="50%" class="detailsDocTitle">
                        Net à Payer TTC
                      </td>
                      <td class="detailsDocTitle text-right">2 380.000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid docSignature">
          <img src="./DocAchatAmine_files/signature.jpg" />
        </div>
        <div class="container-fluid docFooter p-0">
          <div class="row">
            <div class="col-4">
              <b>Strategy &amp; Management Services - SARL -</b>
              <br />
              <span class="pe-7s-keypad"></span> 1659966 M/A/M/000 <br />
              <span class="pe-7s-cash"></span> Capital 20 000 dinars
            </div>
            <div class="col-8">
              <div class="row">
                <div class="col-6">
                  <span class="pe-7s-call"></span> +216 71 815 556 <br />
                  <span class="pe-7s-mail"></span> contact@smservices.tn
                </div>
                <div class="col-6">
                  <span class="pe-7s-culture"></span> Banque Zitouna, Agence
                  Jardins Menzah 2 <br />
                  <span class="pe-7s-credit"></span> RIB. 25 118 000009735000056
                </div>
                <div class="col-12">
                  <span class="pe-7s-map-marker"></span> Immeuble Les Jardins
                  Avenue des violettes 1er Etage B1-1 Jardins El Manzeh 2, 2094,
                  Ariana - Tunisie.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!------------------------------------------- / TABLE LIST ----------------------------------------------------->
    </div>
  </div>
</div>
