<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Support</h2>
    <ol class="breadcrumb">
      <li>
        <a>Tickets </a>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row"></div>

          <div class="row m-t-sm">
            <div class="col-lg-12">
              <div class="panel blank-panel">
                <div class="panel-body">
                  <div class="tab-content">
                    <div class="panel-body">
                      <div class="row mb-3">
                        <div
                          class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-right"
                        >
                          <button
                            data-toggle="modal"
                            data-target="#myModal"
                            class="btn btn-lg btn-outline-primary"
                            class="btn btn-outline btn-info add dim"
                            title="Ajouter"
                          >
                            <i class="fa fa-plus"></i>
                          </button>
                          <div
                            class="modal inmodal"
                            id="myModal"
                            tabindex="-1"
                            role="dialog"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                  <button
                                    type="button"
                                    class="close"
                                    data-dismiss="modal"
                                  >
                                    <span aria-hidden="true">&times;</span
                                    ><span class="sr-only">Fermer</span>
                                  </button>

                                  <h4 class="modal-title">
                                    Ajouter Demande d'intervention
                                  </h4>
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <form>
                                        <div class="form-group text-left">
                                          <div class="col-md-12 mb-3">
                                            <label for="validationDefault02"
                                              >Objet de la demande
                                            </label>
                                            <input
                                              type="text"
                                              class="form-control"
                                              id="validationDefault02"
                                              placeholder=""
                                              required
                                            />
                                          </div>
                                        </div>
                                        <div class="form-group text-left">
                                          <div class="col-md-6 mb-3">
                                            <label for="validationDefault03"
                                              >Priorité
                                            </label>
                                            <input
                                              type="text"
                                              class="form-control"
                                              id="validationDefault02"
                                              placeholder=""
                                              required
                                            />
                                          </div>

                                          <div class="col-md-6 mb-3">
                                            <label for="validationDefault04"
                                              >Echéance
                                            </label>
                                            <input
                                              type="date"
                                              class="form-control"
                                              id="validationDefault02"
                                              placeholder=""
                                              required
                                            />
                                          </div>
                                        </div>
                                        <div class="form-group text-left">
                                          <div class="col-md-6 mb-3">
                                            <label for="validationDefault03"
                                              >Client
                                            </label>
                                            <select class="form-control">
                                              <option selected>Client 1</option>
                                              <option>Client 2</option>
                                              <option>Client 3</option>
                                              <option>Client 4</option>
                                              <option>Client 5</option>
                                            </select>
                                          </div>
                                          <div class="col-md-6 mb-3">
                                            <label for="validationDefault04"
                                              >Responsable
                                            </label>
                                            <select class="form-control">
                                              <option selected>
                                                Responsable 1
                                              </option>
                                              <option>Responsable 2</option>
                                              <option>Responsable 3</option>
                                              <option>Responsable 4</option>
                                              <option>Responsable 5</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="form-group text-left">
                                          <div class="col-md-6 mb-3">
                                            <label for="validationDefault03"
                                              >Sous-traitant
                                            </label>
                                            <select class="form-control">
                                              <option selected>
                                                Sous-traitant 1
                                              </option>
                                              <option>Sous-traitant 2</option>
                                              <option>Sous-traitant 3</option>
                                              <option>Sous-traitant 4</option>
                                            </select>
                                          </div>
                                          <div class="col-md-6 mb-3">
                                            <label for="validationDefault03"
                                              >Collaborateurs
                                            </label>
                                            <select class="form-control">
                                              <option selected>
                                                Collaborateur 1
                                              </option>
                                              <option>Collaborateur 2</option>
                                              <option>Collaborateur 3</option>
                                              <option>Collaborateur 4</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="form-group text-left">
                                          <div class="col-md-4 mb-3">
                                            <label for="validationDefault03"
                                              >Honoraire
                                            </label>
                                            <select class="form-control">
                                              <option selected>
                                                Honoraire 1
                                              </option>
                                              <option>Honoraire 2</option>
                                              <option>Honoraire 3</option>
                                              <option>Honoraire 4</option>
                                            </select>
                                          </div>
                                          <div class="col-md-4 mb-3">
                                            <label for="validationDefault03"
                                              >Montant
                                            </label>
                                            <input
                                              type="text"
                                              class="form-control"
                                              id="validationDefault02"
                                              placeholder=""
                                              required
                                            />
                                          </div>
                                          <div class="col-md-4 mb-3">
                                            <label for="validationDefault03"
                                              >Avance
                                            </label>
                                            <input
                                              type="text"
                                              class="form-control"
                                              id="validationDefault02"
                                              placeholder=""
                                              required
                                            />
                                          </div>
                                        </div>
                                        <div class="form-group text-left">
                                          <div class="col-md-12 mb-3">
                                            <label for="validationDefault03"
                                              >Détails de la demande
                                            </label>
                                            <textarea
                                              type="text"
                                              class="form-control"
                                              id="validationDefault02"
                                              placeholder=""
                                              required
                                            ></textarea>
                                          </div>
                                        </div>
                                      </form>
                                      <br />
                                      <br />
                                      <br />
                                      <br />
                                    </div>
                                    <div class="col-lg-12">
                                      <div class="row" class="text-right">
                                        <br />
                                        <br />
                                        <br />
                                        <div class="modal-footer">
                                          <input
                                            type="submit"
                                            class="btn btn-xs btn-default"
                                            data-dismiss="modal"
                                            value="Annuler"
                                          />
                                          <input
                                            type="submit"
                                            data-dismiss="modal"
                                            class="btn btn-xs btn-primary"
                                            value="Ajouter"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <div
                          id="table_clients_wrapper"
                          class="dataTables_wrapper dt-bootstrap4 no-footer"
                        >
                          <div class="row">
                            <div class="col-sm-12 col-md-6">
                              <div
                                class="dataTables_length"
                                id="table_clients_length"
                              >
                                <label
                                  >Afficher
                                  <select
                                    name="table_clients_length"
                                    aria-controls="table_clients"
                                    class="custom-select custom-select-sm form-control form-control-sm"
                                  >
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                  </select>
                                  entrées
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                              <div
                                id="table_clients_filter"
                                class="dataTables_filter"
                              >
                                <label
                                  >Rechercher :
                                  <input
                                    type="search"
                                    class="form-control form-control-sm"
                                    placeholder=""
                                    aria-controls="table_clients"
                                  />
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <table
                                id="table_clients"
                                class="table table-striped table-bordered table-hover dataTables-example dataTable no-footer"
                                role="grid"
                                aria-describedby="table_clients_info"
                                style="width: 100%"
                              >
                                <thead>
                                  <tr>
                                    <th
                                      class="sorting"
                                      tabindex="0"
                                      aria-controls="table_clients"
                                      rowspan="1"
                                      colspan="1"
                                      aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                                      style="width: 20%"
                                    >
                                      Ouvrir Par
                                    </th>
                                    <th
                                      class="sorting"
                                      tabindex="0"
                                      aria-controls="table_clients"
                                      rowspan="1"
                                      colspan="1"
                                      aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                                      style="width: 20%"
                                    >
                                      Nomination
                                    </th>
                                    <th
                                      class="sorting"
                                      tabindex="0"
                                      aria-controls="table_clients"
                                      rowspan="1"
                                      colspan="1"
                                      aria-label="Type : activer pour trier la colonne par ordre croissant"
                                      style="width: 20%"
                                    >
                                      Priorité
                                    </th>

                                    <th
                                      class="sorting"
                                      tabindex="0"
                                      aria-controls="table_clients"
                                      rowspan="1"
                                      colspan="1"
                                      aria-label="Type : activer pour trier la colonne par ordre croissant"
                                      style="width: 20%"
                                    >
                                      Client
                                    </th>
                                    <th
                                      class="sorting"
                                      tabindex="0"
                                      aria-controls="table_clients"
                                      rowspan="1"
                                      colspan="1"
                                      aria-label="Type : activer pour trier la colonne par ordre croissant"
                                      style="width: 20%"
                                    >
                                      Sous-Traitant
                                    </th>
                                    <th
                                      class="sorting"
                                      tabindex="0"
                                      aria-controls="table_clients"
                                      rowspan="1"
                                      colspan="1"
                                      aria-label="Type : activer pour trier la colonne par ordre croissant"
                                      style="width: 20%"
                                    >
                                      Statut
                                    </th>
                                    <th
                                      class="sorting"
                                      tabindex="0"
                                      aria-controls="table_clients"
                                      rowspan="1"
                                      colspan="1"
                                      aria-label="Type : activer pour trier la colonne par ordre croissant"
                                      style="width: 20%"
                                    >
                                      Date
                                    </th>
                                    <th
                                      class="sorting"
                                      tabindex="0"
                                      aria-controls="table_clients"
                                      rowspan="1"
                                      colspan="1"
                                      aria-label="Type : activer pour trier la colonne par ordre croissant"
                                      style="width: 20%"
                                    >
                                      Actions
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Abonné</td>
                                    <td>Transfert de siège+CNSS gérant</td>
                                    <td>Haute</td>
                                    <td>
                                      <b>KR TECH Mr. KSIBI</b> <br />Aymen
                                    </td>
                                    <td>
                                      <b>STRATEGY & MANAGEMENT SERVICES </b
                                      ><br />Mlle. Charaabi Itaf
                                    </td>
                                    <td>Réponse reçue</td>
                                    <td>12/06/2023</td>
                                    <td class="overflow-hidden">
                                      <div class="btn-group">
                                        <button
                                          routerLink="ConsulterFiche"
                                          data-toggle="dropdown"
                                          class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                        >
                                          Consulter Ticket
                                        </button>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>Admin</td>

                                    <td>Contrat de cession</td>
                                    <td>Haute</td>
                                    <td>
                                      <b>INTER DECOR INDUSTRIE</b><br />

                                      Mr. HANAFI Sami
                                    </td>

                                    <td>
                                      <b>STRATEGY & MANAGEMENT SERVICES </b
                                      ><br />Mlle. Charaabi Itaf
                                    </td>
                                    <td>Traitement en cours</td>
                                    <td>12/06/2023</td>
                                    <td class="overflow-hidden">
                                      <div class="btn-group">
                                        <button
                                          routerLink="ConsulterFiche"
                                          data-toggle="dropdown"
                                          class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                        >
                                          Consulter Ticket
                                        </button>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>User</td>

                                    <td>Contrat de cession</td>
                                    <td>Haute</td>
                                    <td>
                                      <b>INTER DECOR INDUSTRIE</b><br />

                                      Mr. HANAFI Sami
                                    </td>

                                    <td>
                                      <b>STRATEGY & MANAGEMENT SERVICES </b
                                      ><br />Mlle. Charaabi Itaf
                                    </td>
                                    <td>Traitement en cours</td>
                                    <td>12/06/2023</td>
                                    <td class="overflow-hidden">
                                      <div class="btn-group">
                                        <button
                                          routerLink="ConsulterFiche"
                                          data-toggle="dropdown"
                                          class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                        >
                                          Consulter Ticket
                                        </button>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                              <div
                                id="table_clients_processing"
                                class="dataTables_processing card"
                                style="display: none"
                              >
                                Traitement...
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12 col-md-5">
                              <div
                                class="dataTables_info"
                                id="table_clients_info"
                                role="status"
                                aria-live="polite"
                              >
                                Affichage de 1 à 10 sur 18 entrées
                              </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                              <div
                                class="text-right"
                                class="dataTables_paginate paging_simple_numbers"
                                id="table_clients_paginate"
                              >
                                <ul class="pagination">
                                  <li
                                    class="paginate_button page-item previous disabled"
                                    id="table_clients_previous"
                                  >
                                    <a
                                      aria-controls="table_clients"
                                      data-dt-idx="0"
                                      tabindex="0"
                                      class="page-link"
                                      >Précédent</a
                                    >
                                  </li>
                                  <li class="paginate_button page-item active">
                                    <a
                                      aria-controls="table_clients"
                                      data-dt-idx="1"
                                      tabindex="0"
                                      class="page-link"
                                      >1</a
                                    >
                                  </li>

                                  <li class="paginate_button page-item">
                                    <a
                                      aria-controls="table_clients"
                                      data-dt-idx="2"
                                      tabindex="0"
                                      class="page-link"
                                      >2</a
                                    >
                                  </li>
                                  <li
                                    class="paginate_button page-item next"
                                    id="table_clients_next"
                                  >
                                    <a
                                      aria-controls="table_clients"
                                      data-dt-idx="3"
                                      tabindex="0"
                                      class="page-link"
                                      >Suivant</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
