<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-lg-12">
      <form>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault02">Stock de Sécurité </label>
            <input
              type="text"
              class="form-control"
              id="validationDefault02"
              placeholder=""
              required
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault04">Stock Réapprovisionnement </label>
            <input
              type="text"
              class="form-control"
              id="validationDefault02"
              placeholder=""
              required
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault04">Pack </label>
            <select class="form-control">
              <option selected>Oui</option>
              <option>Non</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault02">Garantie </label>
            <input
              type="text"
              class="form-control"
              id="validationDefault02"
              placeholder="Mois"
              required
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault04">Durée Garantie </label>
            <input
              type="text"
              class="form-control"
              id="validationDefault02"
              placeholder="Mois"
              required
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault04">Emplacement </label>
            <select class="form-control">
              <option value="" selected></option>
              <option value="option1"></option>
              <option value="option1"></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Emplacement</h5>
                <div class="ibox-tools">
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">Config option 1</a></li>
                    <li><a href="#">Config option 2</a></li>
                  </ul>
                  <a class="close-link">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="ibox-content">
                <form>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="validationDefault02"> Dépôt </label>
                      <select class="form-control">
                        <option value="" selected></option>
                        <option value="option1"></option>
                        <option value="option1"></option>
                      </select>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="validationDefault04">Rayon </label>
                      <input
                        type="text"
                        class="form-control"
                        id="validationDefault02"
                        placeholder=""
                        required
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="validationDefault04">Etagére </label>
                      <input
                        type="text"
                        class="form-control"
                        id="validationDefault02"
                        placeholder=""
                        required
                      />
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="validationDefault03">Casier </label>
                      <input
                        type="text"
                        class="form-control"
                        id="validationDefault02"
                        placeholder=""
                        required
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <br />
      </form>
    </div>
  </div>
</div>
