<form>
  <div class="form-row">
    <div class="col-md-6">
      <label>Club</label>

      <input type="text" placeholder="Club" class="form-control" />
    </div>
    <div class="col-md-6">
      <label>Abréviation</label>

      <input type="text" placeholder="Abréviation" class="form-control" />
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6">
      <label>N° Tel 1</label>

      <input type="text" placeholder="N° Tel 1" class="form-control" />
    </div>
    <div class="col-md-6">
      <label>N° Tel 2</label>

      <input type="text" placeholder="N° Tel 2" class="form-control" />
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4">
      <label>Adresse</label>

      <input type="text" placeholder="Adresse" class="form-control" />
    </div>

    <div class="col-md-4">
      <label>Code Postal</label>

      <input type="text" placeholder="Code Postal" class="form-control" />
    </div>
    <div class="col-md-4">
      <label>Pays</label>

      <input type="text" placeholder="Pays" class="form-control" />
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-12">
      <label>Fédération locale</label>

      <input type="text" placeholder="Fédération locale" class="form-control" />
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Complexe </label>
      <div class="input-group">
        <select class="form-control">
          <option>Complexe 1</option>
          <option>Complexe 2</option>
          <option selected>Complexe X</option>
        </select>
        <span class="input-group-btn">
          <button
            data-toggle="modal"
            data-target="#myModalComplexe"
            type="button"
            class="btn btn-xl btn-primary"
          >
            <i class="fa fa-plus"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Stade </label>
      <div class="input-group">
        <select class="form-control">
          <option>Stade 1</option>
          <option>Stade 2</option>
          <option selected>Stade X</option>
        </select>
        <span class="input-group-btn">
          <button
            data-toggle="modal"
            data-target="#myModalStade"
            type="button"
            class="btn btn-xl btn-primary"
          >
            <i class="fa fa-plus"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="col-md-4">
      <label>Bus de Club</label>

      <input
        type="text"
        placeholder="Saisie  Matricule de bus"
        class="form-control"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-12">
      <label>Logo</label>
      <input type="file" placeholder="Adresse" class="form-control" />
      <div>
        <img id="imageAffiche" style="max-width: 300px; max-height: 300px" />
      </div>
    </div>
  </div>
  <div class="row" class="text-right">
    <div class="modal-footer">
      <button type="button" class="btn btn-white" data-dismiss="modal">
        Annuler
      </button>
      <button type="button" class="btn btn-primary">Ajouter</button>
    </div>
  </div>
</form>

<div
  class="modal inmodal fade"
  id="myModalComplexe"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span
          ><span class="sr-only">Fermer</span>
        </button>
        <h4 class="modal-title">Ajouter Complexe</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-row">
            <div class="col-md-4">
              <label>Nom </label>
              <input
                type="text"
                class="form-control"
                id="validationDefault04"
                placeholder=""
                required
              />
            </div>
            <div class="col-md-4">
              <label>Zone</label>
              <input
                type="text"
                class="form-control"
                id="validationDefault04"
                placeholder=""
                required
              />
            </div>
            <div class="col-md-4">
              <label> Adresse</label>

              <input type="text" placeholder="Adresse" class="form-control" />
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4">
              <label>Nom Responsable</label>

              <input
                type="text"
                placeholder="N° Maillot"
                class="form-control"
              />
            </div>

            <div class="col-md-4">
              <label> N° Tel Responsable</label>

              <input type="text" placeholder=" N° Tel" class="form-control" />
            </div>
            <div class="col-md-4">
              <label> Email responsable</label>

              <input
                type="text"
                placeholder=" Email responsable"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12">
              <label> Categorie Complexe</label>

              <select class="form-control">
                <option>Complexe Sportif</option>
                <option>Stade</option>
                <option>Salle de Sport</option>
                <option selcted>Terrain de sport</option>
                <option>Piscine</option>
              </select>
            </div>
          </div>

          <div class="row" class="text-right">
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-white btn-xs dropdown-toggle"
                data-dismiss="modal"
              >
                Annuler
              </button>
              <button
                type="button"
                class="btn btn-primary btn-xs dropdown-toggle"
              >
                Ajouter
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal inmodal fade"
  id="myModalStade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span
          ><span class="sr-only">Fermer</span>
        </button>
        <h4 class="modal-title">Ajouter Stade</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-row">
            <div class="col-md-4">
              <label>Nom </label>
              <input
                type="text"
                class="form-control"
                id="validationDefault04"
                placeholder=""
                required
              />
            </div>
            <div class="col-md-4">
              <label>Zone</label>
              <input
                type="text"
                class="form-control"
                id="validationDefault04"
                placeholder=""
                required
              />
            </div>
            <div class="col-md-4">
              <label> Adresse</label>

              <input type="text" placeholder="Adresse" class="form-control" />
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4">
              <label>Nom Responsable</label>

              <input
                type="text"
                placeholder="N° Maillot"
                class="form-control"
              />
            </div>

            <div class="col-md-4">
              <label> N° Tel Responsable</label>

              <input type="text" placeholder=" N° Tel" class="form-control" />
            </div>
            <div class="col-md-4">
              <label> Email responsable</label>

              <input
                type="text"
                placeholder=" Email responsable"
                class="form-control"
              />
            </div>
          </div>

          <div class="row" class="text-right">
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-white btn-xs dropdown-toggle"
                data-dismiss="modal"
              >
                Annuler
              </button>
              <button
                type="button"
                class="btn btn-primary btn-xs dropdown-toggle"
              >
                Ajouter
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
