<div class="row">
  <div class="col-lg-12">
    <form>
      <div class="form-row">
        <div class="col-md-6">
          <label>Abonné </label>

          <input type="email" placeholder="" class="form-control" />
        </div>
        <div class="col-md-6">
          <label>Adresse </label>

          <input type="text" placeholder="" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <label>N° Tel 1</label>

          <input type="text" placeholder="" class="form-control" />
        </div>
        <div class="col-md-6">
          <label>Email </label>

          <input type="text" placeholder="" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <label>Banque</label>

          <select class="form-control">
            <option>Banque 1</option>
            <option>Banque 2</option>
            <option selected>Banque X</option>
          </select>
        </div>
        <div class="col-md-6">
          <label>RIB </label>

          <input type="text" placeholder="" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <label>Banque</label>

          <select class="form-control">
            <option>Banque 1</option>
            <option>Banque 2</option>
            <option selected>Banque X</option>
          </select>
        </div>
        <div class="col-md-6">
          <label>RIB </label>

          <input type="text" placeholder="" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <label>Banque</label>

          <select class="form-control">
            <option>Banque 1</option>
            <option>Banque 2</option>
            <option selected>Banque X</option>
          </select>
        </div>
        <div class="col-md-6">
          <label>RIB </label>

          <input type="text" placeholder="" class="form-control" />
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6">
          <label>Logos </label>

          <input type="file" class="form-control" />
        </div>
        <div class="col-md-6">
          <label>Surface Globale </label>

          <input type="text" placeholder="" class="form-control" />
        </div>
      </div>
      <div class="form-row"></div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationDefault02">Date d'activation </label>
          <input type="date" placeholder="" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefault02">Mode de calcul Cotisation </label>

          <select class="form-control">
            <option>Fixe</option>
            <option>Proportionnel</option>
          </select>
        </div>
        <div class="col-md-4">
          <label>Interrets de retard </label>

          <select class="form-control">
            <option>Oui</option>
            <option>Non</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12">
          <label>Génération</label>
          <select class="form-control">
            <option>Mensuelle</option>
            <option>Semestrielle</option>
            <option>Trimestrielle</option>
            <option>Annuelle</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="col-lg-12">
    <br /><br />
    <div class="row" class="text-right">
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">
          Annuler
        </button>
        <button type="button" class="btn btn-xs btn-primary">Ajouter</button>
      </div>
    </div>
  </div>
</div>
