<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="ibox-content">
      <form class="form-horizontal">
        <div class="form-row">
          <div class="col-md-6">
            <label>Club</label>

            <input type="text" placeholder="Club" class="form-control" />
          </div>
          <div class="col-md-6">
            <label>Abréviation</label>

            <input type="text" placeholder="Abréviation" class="form-control" />
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
            <label>N° Tel 1</label>

            <input type="text" placeholder="N° Tel 1" class="form-control" />
          </div>
          <div class="col-md-6">
            <label>N° Tel 2</label>

            <input type="text" placeholder="N° Tel 2" class="form-control" />
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4">
            <label>Adresse</label>

            <input type="text" placeholder="Adresse" class="form-control" />
          </div>

          <div class="col-md-4">
            <label>Code Postal</label>

            <input type="text" placeholder="Code Postal" class="form-control" />
          </div>
          <div class="col-md-4">
            <label>Pays</label>

            <input type="text" placeholder="Pays" class="form-control" />
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <label>Fédération locale</label>

            <input
              type="text"
              placeholder="Fédération locale"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-12">
            <label>Logo</label>
            <input type="file" placeholder="Adresse" class="form-control" />
            <div>
              <img
                id="imageAffiche"
                style="max-width: 300px; max-height: 300px"
              />
            </div>
          </div>
        </div>
        <div class="row" class="text-right">
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">
              Annuler
            </button>
            <button type="button" class="btn btn-primary">Ajouter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
