<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Support</h2>
    <ol class="breadcrumb">
      <li>
        <a>Tickets Support</a>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row animated fadeInDown">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Détails du ticket</h5>
          <div class="ibox-tools">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> </a>
          </div>
        </div>
        <div class="ibox-content">
          <div id="external-events">
            <table style="width: 100%">
              <tr>
                <td style="width: 50%">Numéro :</td>
                <td style="width: 50%">52</td>
              </tr>
              <tr>
                <td style="width: 50%">Priorité :</td>
                <td style="width: 50%">Haute</td>
              </tr>
              <tr>
                <td style="width: 50%">Création :</td>
                <td style="width: 50%">29/10/2022</td>
              </tr>

              <tr>
                <td style="width: 50%">Echeance :</td>
                <td style="width: 50%">20/06/2023</td>
              </tr>
              <tr>
                <td style="width: 50%">Début mission :</td>
                <td style="width: 50%">29/11/2023</td>
              </tr>
              <tr>
                <td style="width: 50%">Statut : :</td>
                <td style="width: 50%">Réponse reçue</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="ibox-content">
          <div id="external-events">
            <table style="width: 100%">
              <tr>
                <td style="width: 50%">Client :</td>
                <td style="width: 50%">KR TECH</td>
              </tr>
              <tr>
                <td style="width: 50%">Responsable :</td>
                <td style="width: 50%">Mr. Aymen KSIBI</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="ibox-content">
          <div id="external-events">
            <table style="width: 100%">
              <tr>
                <td style="width: 50%">Sous-traitant :</td>
                <td style="width: 50%">STRATEGY & MANAGEMENT SERVICES</td>
              </tr>
              <tr>
                <td style="width: 50%">Collaborateur :</td>
                <td style="width: 50%">Mlle. Itaf Charaabi</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <p><u>Détails de la mission</u></p>
          <br /><br />
        </div>
      </div>
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="ibox-content">
            <div id="external-events">
              <button
                data-toggle="modal"
                data-target="#myModalCommentaire"
                type="button"
                class="btn btn-xs btn-primary"
              >
                <i class="fa fa-plus-square-o"> </i>
              </button>
              <div
                class="modal inmodal"
                id="myModalCommentaire"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span
                        ><span class="sr-only">Fermer</span>
                      </button>

                      <h4 class="modal-title">Ajouter Réponse / Commentaire</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-lg-12">
                          <form>
                            <div class="form-group text-left">
                              <div class="col-md-12 mb-3">
                                <label for="validationDefault03"
                                  >Votre Réponse / Commentaire
                                </label>
                                <textarea
                                  type="text"
                                  class="form-control"
                                  id="validationDefault02"
                                  placeholder=""
                                  required
                                ></textarea>
                              </div>
                            </div>
                          </form>
                          <br />
                          <br />
                          <br />
                          <br />
                        </div>
                        <div class="col-lg-12">
                          <div class="row" class="text-right">
                            <br />
                            <br />
                            <br />
                            <div class="modal-footer">
                              <input
                                type="submit"
                                class="btn btn-xs btn-default"
                                data-dismiss="modal"
                                value="Annuler"
                              />
                              <input
                                type="submit"
                                data-dismiss="modal"
                                class="btn btn-xs btn-primary"
                                value="Ajouter"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
