<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Compétitions</h2>
  </div>
  <div class="col-lg-2 text-right">Club Africain 2023</div>
</div>
<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="row mb-3">
          <div
            class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-right"
          >
            <button
              data-toggle="modal"
              data-target="#myModal"
              class="btn btn-lg btn-primary"
              class="btn btn-outline btn-info add dim"
              title="Ajouter"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div
            class="modal inmodal"
            id="myModal"
            tabindex="-1"
            role="dialog"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                  <h6 class="modal-title">Ajouter Compétition</h6>
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span
                    ><span class="sr-only">Fermer</span>
                  </button>
                </div>
                <br /><br />

                <div class="modal-body">
                  <form>
                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <label>Féderation </label>
                        <select class="form-control">
                          <option>Libre</option>
                          <option selected>Féderation</option>
                          <option>Local</option>
                          <option>CAF</option>
                          <option>AFC</option>
                          <option>UAFC</option>
                        </select>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label f>Compétition </label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationDefault04"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <label f>Saison </label>
                        <select class="form-control">
                          <option value="" selected>2023-2024</option>
                          <option value="option1">2022-2023</option>
                        </select>
                      </div>

                      <div class="col-md-6 mb-3">
                        <label>Etat </label>
                        <select class="form-control">
                          <option>Ouverte</option>
                          <option selected>Clôturée</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label>Logo </label>
                        <input
                          type="file"
                          class="form-control"
                          id="validationDefault04"
                          placeholder=""
                          required
                        />
                        <div>
                          <img
                            id="imageAffiche"
                            style="max-width: 300px; max-height: 300px"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row" class="text-right">
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-white btn-xs dropdown-toggle"
                          data-dismiss="modal"
                        >
                          Annuler
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary btn-xs dropdown-toggle"
                        >
                          Ajouter
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <br /><br />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 pull-right">
          <div class="input-group">
            <input
              type="text"
              placeholder="Rechercher"
              class="input-sm form-control"
            />
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 10%">Logo</th>
              <th style="width: 10%">Compétition</th>
              <th style="width: 10%">Fédération</th>
              <th style="width: 10%">Saison</th>
              <th style="width: 10%">Etat</th>

              <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  src="assets/img/Logofederation.png"
                  alt="image"
                  class="img-circle"
                  width="20%"
                  height="20%"
                />
              </td>
              <td>CHAMPIONNAT</td>
              <td>FÉDÉRATION LOCALE</td>
              <td>2023-2024</td>
              <td>Ouverte</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="assets/img/caf.jpg"
                  alt="image"
                  class="img-circle"
                  width="30%"
                  height="40%"
                />
              </td>
              <td>CHAMPIONS LEAGUE</td>
              <td>CAF</td>
              <td>2023-2024</td>
              <td>Ouverte</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="assets/img/caf.jpg"
                  alt="image"
                  class="img-circle"
                  width="30%"
                  height="40%"
                />
              </td>
              <td>CHAMPIONS LEAGUE</td>
              <td>CAF</td>
              <td>2023-2024</td>
              <td>Ouverte</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="assets/img/caf.jpg"
                  alt="image"
                  class="img-circle"
                  width="30%"
                  height="40%"
                />
              </td>
              <td>CHAMPIONS LEAGUE</td>
              <td>CAF</td>
              <td>2023-2024</td>
              <td>Ouverte</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="assets/img/caf.jpg"
                  alt="image"
                  class="img-circle"
                  width="30%"
                  height="40%"
                />
              </td>
              <td>CHAMPIONS LEAGUE</td>
              <td>CAF</td>
              <td>2023-2024</td>
              <td>Ouverte</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="assets/img/caf.jpg"
                  alt="image"
                  class="img-circle"
                  width="30%"
                  height="40%"
                />
              </td>
              <td>CHAMPIONS LEAGUE</td>
              <td>CAF</td>
              <td>2023-2024</td>
              <td>Ouverte</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          class="modal inmodal"
          id="myModalModifier"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
              <div class="modal-header">
                <h6 class="modal-title">Modifier Compétition</h6>
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span
                  ><span class="sr-only">Fermer</span>
                </button>
              </div>
              <br /><br />

              <div class="modal-body">
                <form>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label>Féderation </label>
                      <select class="form-control">
                        <option>Libre</option>
                        <option selected>Féderation</option>
                        <option>Local</option>
                        <option>CAF</option>
                        <option>AFC</option>
                        <option>UAFC</option>
                      </select>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label f>Compétition </label>
                      <input
                        type="text"
                        class="form-control"
                        id="validationDefault04"
                        placeholder=""
                        required
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label f>Saison </label>
                      <select class="form-control">
                        <option value="" selected>2023-2024</option>
                        <option value="option1">2022-2023</option>
                      </select>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label>Etat </label>
                      <select class="form-control">
                        <option>Ouverte</option>
                        <option selected>Clôturée</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12 mb-3">
                      <label>Logo </label>
                      <input
                        type="file"
                        class="form-control"
                        id="validationDefault04"
                        placeholder=""
                        required
                      />
                      <div>
                        <img
                          id="imageAffiche"
                          style="max-width: 300px; max-height: 300px"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row" class="text-right">
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-white btn-xs dropdown-toggle"
                        data-dismiss="modal"
                      >
                        Annuler
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary btn-xs dropdown-toggle"
                      >
                        Modifier
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <br /><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
