<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Comptabilité</h2>
    <ol class="breadcrumb">
      <li>
        <a>Structure</a>
      </li>
      <li class="active">
        <strong>Affectations</strong>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row"></div>

          <div class="row m-t-sm">
            <div class="col-lg-12">
              <div class="panel blank-panel">
                <div class="panel-heading">
                  <div class="panel-options">
                    <form>
                      <div class="form-group row">
                        <div class="col-sm-9">
                          <select class="form-control">
                            <option value="">
                              --------------------- Choisissez un client
                              ----------------------
                            </option>
                            <option value="83">CLIENT-1ssaaaa</option>
                            <option value="84">NAS</option>
                            <option value="85">WARAM</option>
                            <option value="86">W</option>
                            <option value="87">NEW</option>
                            <option value="88">SM</option>
                            <option value="89">TEST-1</option>
                            <option value="90">T8</option>
                            <option value="91">LPV</option>
                            <option value="92">ARABST</option>
                            <option value="216">TEST8TEST</option>
                            <option value="341">ABC1</option>
                            <option value="342">ABC2</option>
                            <option value="343">ABC3</option>
                            <option value="344">ABC4</option>
                            <option value="345">ABC5</option>
                            <option value="346">ABC6</option>
                            <option value="347">LPV0220</option>
                            <option value="356">A</option>
                          </select>
                        </div>
                        <div class="col-sm-2">
                          <select
                            class="form-control"
                            name="exercices_sear"
                            id="exercices_sear"
                          >
                            <option value="">-- Exercices --</option>
                          </select>
                        </div>
                        <div class="col-sm-1">
                          <button
                            id="upload"
                            type="button"
                            class="btn btn-outline btn-info dim"
                            data-toggle="modal"
                            data-target="#modal_clients_upload"
                            data-whatever="5"
                            title="Valider"
                          >
                            <i class="fa fa-check"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#tab-2" data-toggle="tab">Balance Général</a>
                      </li>
                      <li class="">
                        <a data-toggle="tab" href="#Balance">Balance Tiers</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="panel-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab-2">
                      <app-balance-generer-audit></app-balance-generer-audit>
                    </div>
                    <div class="tab-pane" id="Balance">
                      <app-balance-tier-generer-audit></app-balance-tier-generer-audit>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
