<div class="wrapper wrapper-content animated fadeInDown">
  <div id="Entete" class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="logo-center col-lg-2">
          <div class="logo-center">
            <img width="100%" height="105%" src="assets/img/clubaf.png" />
          </div>
        </div>
        <div class="logo-center col-lg-8">
          <div class="logo-center">
            <h4 class="text-center">Club Sportif Africian</h4>
            <h3 class="text-center">
              Championnat de la ligue Professionnelle 1
            </h3>
            <div class="text-center">
              <b>Saison 2023-2022</b><br />
              <p class="text-center">
                <b>Convocation Match ASR Retour </b>19/05/2022
              </p>
            </div>
          </div>
        </div>

        <div class="logo-center col-lg-2"></div>
      </div>
      <div class="row col-lg-12">
        <h4>Joueurs</h4>

        <table style="width: 100%" class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 50%">Nom & Prénom</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Moez Hassen</td>
            </tr>
            <tr>
              <td>Sabri Ben Hssan</td>
            </tr>
            <tr>
              <td>Mohamed Hedi Gaaloul</td>
            </tr>
            <tr>
              <td>Gaith Maaroufi</td>
            </tr>
            <tr>
              <td>Moez Hassen</td>
            </tr>
            <tr>
              <td>Azmi Ghouma</td>
            </tr>
            <tr>
              <td>Moez Hassen</td>
            </tr>
            <tr>
              <td>Sabri Ben Hssan</td>
            </tr>
            <tr>
              <td>Mohamed Hedi Gaaloul</td>
            </tr>
            <tr>
              <td>Gaith Maaroufi</td>
            </tr>
            <tr>
              <td>Moez Hassen</td>
            </tr>
            <tr>
              <td>Azmi Ghouma</td>
            </tr>
          </tbody>
        </table>
        <br />
        <h4>Staff</h4>

        <table style="width: 100%" class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 50%">Nom & Prénom</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ali Ben Jaafer</td>
            </tr>
            <tr>
              <td>Ahmed Farej</td>
            </tr>
            <tr>
              <td>Moez Hassen</td>
            </tr>
            <tr>
              <td>Moez Hassen</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="modal-footer">
          <input
            type="submit"
            data-toggle="modal"
            data-target="#myModal"
            class="btn btn-primary btn-xs dropdown-toggle"
            value="Envoyer"
          />
          <input
            type="submit"
            class="btn btn-primary btn-xs dropdown-toggle"
            value="Imprimer"
          />

          <input
            type="submit"
            class="btn btn-white btn-xs dropdown-toggle"
            value="Annuler"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal inmodal"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <h6 class="modal-title">Envoyer Convocation</h6>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span
          ><span class="sr-only">Fermer</span>
        </button>
      </div>
      <br /><br />

      <div class="modal-body">
        <form>
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Nom & Prénom</th>
                <th>N° Tel 1</th>
                <th>N° Tel 2</th>
                <th>Qualité</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input
                    type="checkbox"
                    checked
                    class="i-checks"
                    name="input[]"
                  />
                </td>
                <td>Ahmed Ahmed</td>
                <td>23 454 367</td>
                <td>23 454 367</td>
                <td>Président</td>
                <td>Ahmed@gmail.com</td>
              </tr>
              <tr>
                <td>
                  <input
                    type="checkbox"
                    checked
                    class="i-checks"
                    name="input[]"
                  />
                </td>
                <td>Ahmed Ahmed</td>
                <td>23 454 367</td>
                <td>23 454 367</td>
                <td>Président</td>
                <td>Ahmed@gmail.com</td>
              </tr>
              <tr>
                <td>
                  <input
                    type="checkbox"
                    checked
                    class="i-checks"
                    name="input[]"
                  />
                </td>
                <td>Ahmed Ahmed</td>
                <td>23 454 367</td>
                <td>23 454 367</td>
                <td>Président</td>
                <td>Ahmed@gmail.com</td>
              </tr>
              <tr>
                <td>
                  <input
                    type="checkbox"
                    checked
                    class="i-checks"
                    name="input[]"
                  />
                </td>
                <td>Ahmed Ahmed</td>
                <td>23 454 367</td>
                <td>23 454 367</td>
                <td>Président</td>
                <td>Ahmed@gmail.com</td>
              </tr>
              <tr>
                <td>
                  <input
                    type="checkbox"
                    checked
                    class="i-checks"
                    name="input[]"
                  />
                </td>
                <td>Ahmed Ahmed</td>
                <td>23 454 367</td>
                <td>23 454 367</td>
                <td>Président</td>
                <td>Ahmed@gmail.com</td>
              </tr>
              <tr>
                <td>
                  <input
                    type="checkbox"
                    checked
                    class="i-checks"
                    name="input[]"
                  />
                </td>
                <td>Ahmed Ahmed</td>
                <td>23 454 367</td>
                <td>23 454 367</td>
                <td>Président</td>
                <td>Ahmed@gmail.com</td>
              </tr>
              <tr>
                <td>
                  <input
                    type="checkbox"
                    checked
                    class="i-checks"
                    name="input[]"
                  />
                </td>
                <td>Ahmed Ahmed</td>
                <td>23 454 367</td>
                <td>23 454 367</td>
                <td>Président</td>
                <td>Ahmed@gmail.com</td>
              </tr>
              <tr>
                <td>
                  <input
                    type="checkbox"
                    checked
                    class="i-checks"
                    name="input[]"
                  />
                </td>
                <td>Ahmed Ahmed</td>
                <td>23 454 367</td>
                <td>23 454 367</td>
                <td>Président</td>
                <td>Ahmed@gmail.com</td>
              </tr>
              <tr>
                <td>
                  <input
                    type="checkbox"
                    checked
                    class="i-checks"
                    name="input[]"
                  />
                </td>
                <td>Ahmed Ahmed</td>
                <td>23 454 367</td>
                <td>23 454 367</td>
                <td>Président</td>
                <td>Ahmed@gmail.com</td>
              </tr>
              <tr>
                <td>
                  <input
                    type="checkbox"
                    checked
                    class="i-checks"
                    name="input[]"
                  />
                </td>
                <td>Ahmed Ahmed</td>
                <td>23 454 367</td>
                <td>23 454 367</td>
                <td>Président</td>
                <td>Ahmed@gmail.com</td>
              </tr>
            </tbody>
          </table>
          <div class="row" class="text-right">
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-white btn-xs dropdown-toggle"
                data-dismiss="modal"
              >
                Annuler
              </button>
              <button
                type="button"
                class="btn btn-primary btn-xs dropdown-toggle"
              >
                Valider
              </button>
            </div>
          </div>
        </form>
      </div>
      <br /><br />
    </div>
  </div>
</div>
