<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Joueurs</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox-content">
    <div class="row">
      <div class="row mb-3">
        <div class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-right">
          <button
            data-toggle="modal"
            data-target="#myModal5"
            class="btn btn-lg btn-primary"
            class="btn btn-outline btn-info add dim"
            title="Ajouter"
          >
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <div
          class="modal inmodal fade"
          id="myModal5"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span
                  ><span class="sr-only">Fermer</span>
                </button>
                <h4 class="modal-title">Ajouter Joueur</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-row">
                    <div class="col-md-6">
                      <label>Nom Complet</label>
                      <input
                        type="text"
                        class="form-control"
                        id="validationDefault04"
                        placeholder=""
                        required
                      />
                    </div>
                    <div class="col-md-6">
                      <label>Surnom</label>
                      <input
                        type="text"
                        class="form-control"
                        id="validationDefault04"
                        placeholder=""
                        required
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-6">
                      <label> N° Tel</label>

                      <input
                        type="text"
                        placeholder=" N° Tel"
                        class="form-control"
                      />
                    </div>
                    <div class="col-md-6">
                      <label> N° Maillot</label>

                      <input
                        type="text"
                        placeholder="N° Maillot"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6">
                      <label>Supprimer</label>

                      <input
                        type="text"
                        placeholder="Supprimer"
                        class="form-control"
                      />
                    </div>
                    <div class="col-md-6">
                      <label> Nationnalité</label>

                      <select class="form-control">
                        <option></option>
                        <option></option>
                        <option></option>
                        <option selcted>Tunisienne</option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12">
                      <label> Position</label>

                      <select class="form-control">
                        <option>Défenseur Central</option>
                        <option>Latéral Gauche</option>
                        <option>Latéral Droit</option>
                        <option selcted>Gardien</option>
                        <option>Milieu Défensif</option>
                        <option>Milieu Droit</option>
                        <option>Milieu Gauche</option>
                        <option>Milieu défensif</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4">
                      <label>N° Licence</label>

                      <input type="text" placeholder="" class="form-control" />
                    </div>
                    <div class="col-md-4">
                      <label> Date de début du Contrat</label>

                      <input type="date" placeholder="" class="form-control" />
                    </div>
                    <div class="col-md-4">
                      <label>Date d'expiration du Contrat </label>

                      <input type="date" placeholder="" class="form-control" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4">
                      <label>N° Licence</label>

                      <input type="text" placeholder="" class="form-control" />
                    </div>
                    <div class="col-md-4">
                      <label> Date de début de la Licence</label>

                      <input type="date" placeholder="" class="form-control" />
                    </div>
                    <div class="col-md-4">
                      <label>Date d'expiration de la Licence </label>

                      <input type="date" placeholder="" class="form-control" />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-12">
                      <label> Date d'expiration du passeport</label>

                      <input
                        type="date"
                        placeholder=" N° Tel"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="row" class="text-right">
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-white btn-xs dropdown-toggle"
                        data-dismiss="modal"
                      >
                        Annuler
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary btn-xs dropdown-toggle"
                      >
                        Ajouter
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 pull-right">
        <div class="input-group">
          <input
            type="text"
            placeholder="Rechercher"
            class="input-sm form-control"
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col-lg-3">
          <div class="contact-box center-version">
            <a href="profile.html">
              <img
                alt="image"
                class="img-circle"
                src="assets/img/hassen.jpeg"
              />

              <h3 class="m-b-xs"><strong>John Smith</strong></h3>

              <div class="font-bold">Milieu Droit</div>
              <address class="m-t-md">
                Passeport: 01/01/2026

                <br />
                Contrat: 01/01/2026<br />
              </address>
            </a>
            <div class="contact-box-footer">
              <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-phone"></i> Voir Détails
                </a>
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-envelope"></i> Supprimer</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="contact-box center-version">
            <a href="profile.html">
              <img
                alt="image"
                class="img-circle"
                src="assets/img/joueur.jpeg"
              />

              <h3 class="m-b-xs"><strong>Alex Johnatan</strong></h3>

              <div class="font-bold">CEO</div>
              <address class="m-t-md">
                795 Folsom Ave, Suite 600<br />
                San Francisco, CA 94107<br />
              </address>
            </a>
            <div class="contact-box-footer">
              <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-phone"></i> Voir Détails
                </a>
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-envelope"></i> Supprimer</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="contact-box center-version">
            <a href="profile.html">
              <img
                alt="image"
                class="img-circle"
                src="assets/img/joueur.jpeg"
              />

              <h3 class="m-b-xs"><strong>Monica Smith</strong></h3>

              <div class="font-bold">Marketing manager</div>
              <address class="m-t-md">
                795 Folsom Ave, Suite 600<br />
                San Francisco, CA 94107<br />
              </address>
            </a>
            <div class="contact-box-footer">
              <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-phone"></i> Voir Détails
                </a>
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-envelope"></i> Supprimer</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="contact-box center-version">
            <a href="profile.html">
              <img alt="image" class="img-circle" src="assets/img/j6.jpeg" />

              <h3 class="m-b-xs"><strong>Michael Zimber</strong></h3>

              <div class="font-bold">Sales manager</div>
              <address class="m-t-md">
                795 Folsom Ave, Suite 600<br />
                San Francisco, CA 94107<br />
              </address>
            </a>
            <div class="contact-box-footer">
              <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-phone"></i> Voir Détails
                </a>
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-envelope"></i> Supprimer</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="contact-box center-version">
            <a href="profile.html">
              <img
                alt="image"
                class="img-circle"
                src="assets/img/hassen.jpeg"
              />

              <h3 class="m-b-xs"><strong>Sandra Smith</strong></h3>

              <div class="font-bold">Milieu Droit</div>
              <address class="m-t-md">
                795 Folsom Ave, Suite 600<br />
                San Francisco, CA 94107<br />
              </address>
            </a>
            <div class="contact-box-footer">
              <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-phone"></i> Voir Détails
                </a>
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-envelope"></i> Supprimer</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="contact-box center-version">
            <a href="profile.html">
              <img
                alt="image"
                class="img-circle"
                src="assets/img/joueur.jpeg"
              />

              <h3 class="m-b-xs"><strong>Janet Carton</strong></h3>

              <div class="font-bold">CFO</div>
              <address class="m-t-md">
                795 Folsom Ave, Suite 600<br />
                San Francisco, CA 94107<br />
              </address>
            </a>
            <div class="contact-box-footer">
              <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-phone"></i> Voir Détails
                </a>
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-envelope"></i> Supprimer</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="contact-box center-version">
            <a href="profile.html">
              <img
                alt="image"
                class="img-circle"
                src="assets/img/joueur.jpeg"
              />

              <h3 class="m-b-xs"><strong>Alex Johnatan</strong></h3>

              <div class="font-bold">CEO</div>
              <address class="m-t-md">
                795 Folsom Ave, Suite 600<br />
                San Francisco, CA 94107<br />
              </address>
            </a>
            <div class="contact-box-footer">
              <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-phone"></i> Voir Détails
                </a>
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-envelope"></i> Supprimer</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="contact-box center-version">
            <a href="profile.html">
              <img
                alt="image"
                class="img-circle"
                src="assets/img/hassen.jpeg"
              />

              <h3 class="m-b-xs"><strong>John Smith</strong></h3>

              <div class="font-bold">Milieu Droit</div>
              <address class="m-t-md">
                795 Folsom Ave, Suite 600<br />
                San Francisco, CA 94107<br />
              </address>
            </a>
            <div class="contact-box-footer">
              <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-phone"></i> Voir Détails
                </a>
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-envelope"></i> Supprimer</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="contact-box center-version">
            <a href="profile.html">
              <img
                alt="image"
                class="img-circle"
                src="assets/img/hassen.jpeg"
              />

              <h3 class="m-b-xs"><strong>John Smith</strong></h3>

              <div class="font-bold">Milieu Droit</div>
              <address class="m-t-md">
                795 Folsom Ave, Suite 600<br />
                San Francisco, CA 94107<br />
              </address>
            </a>
            <div class="contact-box-footer">
              <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-phone"></i> Voir Détails
                </a>
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-envelope"></i> Supprimer</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="contact-box center-version">
            <a href="profile.html">
              <img
                alt="image"
                class="img-circle"
                src="assets/img/joueur.jpeg"
              />

              <h3 class="m-b-xs"><strong>Alex Johnatan</strong></h3>

              <div class="font-bold">CEO</div>
              <address class="m-t-md">
                795 Folsom Ave, Suite 600<br />
                San Francisco, CA 94107<br />
              </address>
            </a>
            <div class="contact-box-footer">
              <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-phone"></i> Voir Détails
                </a>
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-envelope"></i> Supprimer</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="contact-box center-version">
            <a href="profile.html">
              <img
                alt="image"
                class="img-circle"
                src="assets/img/joueur.jpeg"
              />

              <h3 class="m-b-xs"><strong>Monica Smith</strong></h3>

              <div class="font-bold">Marketing manager</div>
              <address class="m-t-md">
                795 Folsom Ave, Suite 600<br />
                San Francisco, CA 94107<br />
              </address>
            </a>
            <div class="contact-box-footer">
              <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-phone"></i> Voir Détails
                </a>
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-envelope"></i> Supprimer</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="contact-box center-version">
            <a href="profile.html">
              <img alt="image" class="img-circle" src="assets/img/j6.jpeg" />

              <h3 class="m-b-xs"><strong>Michael Zimber</strong></h3>

              <div class="font-bold">Sales manager</div>
              <address class="m-t-md">
                795 Folsom Ave, Suite 600<br />
                San Francisco, CA 94107<br />
              </address>
            </a>
            <div class="contact-box-footer">
              <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-phone"></i> Voir Détails
                </a>
                <a class="btn btn-xs btn-white"
                  ><i class="fa fa-envelope"></i> Supprimer</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal inmodal fade"
        id="myModalModifier"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span
                ><span class="sr-only">Fermer</span>
              </button>
              <h4 class="modal-title">Modifier Joueur</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-row">
                  <div class="col-md-6">
                    <label>Nom Complet</label>
                    <input
                      type="text"
                      class="form-control"
                      id="validationDefault04"
                      placeholder=""
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <label>Surnom</label>
                    <input
                      type="text"
                      class="form-control"
                      id="validationDefault04"
                      placeholder=""
                      required
                    />
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <label> N° Tel</label>

                    <input
                      type="text"
                      placeholder=" N° Tel"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-6">
                    <label> N° Maillot</label>

                    <input
                      type="text"
                      placeholder="N° Maillot"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6">
                    <label>Supprimer</label>

                    <input
                      type="text"
                      placeholder="Supprimer"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-6">
                    <label> Nationnalité</label>

                    <select class="form-control">
                      <option></option>
                      <option></option>
                      <option></option>
                      <option selcted>Tunisienne</option>
                      <option></option>
                      <option></option>
                      <option></option>
                      <option></option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <label> Position</label>

                    <select class="form-control">
                      <option>Défenseur Central</option>
                      <option>Latéral Gauche</option>
                      <option>Latéral Droit</option>
                      <option selcted>Gardien</option>
                      <option>Milieu Défensif</option>
                      <option>Milieu Droit</option>
                      <option>Milieu Gauche</option>
                      <option>Milieu défensif</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-4">
                    <label>N° Licence</label>

                    <input type="text" placeholder="" class="form-control" />
                  </div>
                  <div class="col-md-4">
                    <label> Date de début du Contrat</label>

                    <input type="date" placeholder="" class="form-control" />
                  </div>
                  <div class="col-md-4">
                    <label>Date d'expiration du Contrat </label>

                    <input type="date" placeholder="" class="form-control" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-4">
                    <label>N° Licence</label>

                    <input type="text" placeholder="" class="form-control" />
                  </div>
                  <div class="col-md-4">
                    <label> Date de début de la Licence</label>

                    <input type="date" placeholder="" class="form-control" />
                  </div>
                  <div class="col-md-4">
                    <label>Date d'expiration de la Licence </label>

                    <input type="date" placeholder="" class="form-control" />
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-12">
                    <label> Date d'expiration du passeport</label>

                    <input
                      type="date"
                      placeholder=" N° Tel"
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="row" class="text-right">
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-white btn-xs dropdown-toggle"
                      data-dismiss="modal"
                    >
                      Annuler
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary btn-xs dropdown-toggle"
                    >
                      Modifier
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
