<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Conventions</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>Exploitation</a>
      </li>
      <li class="breadcrumb-item">
        <a>Suivi</a>
      </li>

      <li class="breadcrumb-item active">
        <strong>Conventions</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <div class="tab-content">
          <div role="tabpanel" id="" class="tab-pane active">
            <div class="panel-body">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-right"
                >
                  <button
                    id="upload"
                    type="button"
                    class="btn btn-outline btn-info dim"
                    data-toggle="modal"
                    data-target="#modal_clients_upload"
                    data-whatever="5"
                    title="PDF"
                  >
                    <i class="fa fa-file-pdf"></i>
                  </button>
                  <button
                    class="btn btn-outline btn-info dim export_modele"
                    data-whatever="5"
                    title="Excel"
                  >
                    <i class="fa fa-file-excel"></i>
                  </button>
                </div>
              </div>
              <div class="table-responsive">
                <div
                  id="table_clients_wrapper"
                  class="dataTables_wrapper dt-bootstrap4 no-footer"
                >
                  <div class="row">
                    <div class="col-sm-12 col-md-4">
                      <div
                        class="dataTables_length"
                        id="table_contartdom_length"
                      >
                        <label
                          >Afficher
                          <select
                            name="table_contartdom_length"
                            aria-controls="table_contartdom"
                            class="custom-select custom-select-sm form-control form-control-sm"
                          >
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          entrées
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                      <div
                        class="dataTables_length"
                        id="table_contartdom_length"
                      >
                        <label>
                          <select class="form-control">
                            <option selected>Années</option>
                            <option value="ClientX">1999</option>
                            <option value="ClientX">1998</option>
                            <option value="ClientX">1997</option></select
                          ><br />
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                      <div
                        id="table_contartdom_filter"
                        class="dataTables_filter"
                      >
                        <select class="form-control">
                          <option selected>Mois</option>
                          <option value="ClientX">Janviér</option>
                          <option value="ClientX">Février</option>
                          <option value="ClientX">Mars</option>
                          <option value="ClientX">Avril</option>
                          <option value="ClientX">Mai</option>
                          <option value="ClientX">Juin</option>
                          <option value="ClientX">Juillet</option>
                          <option value="ClientX">Aout</option>
                          <option value="ClientX">Septembre</option>
                          <option value="ClientX">Octobre</option>
                          <option value="ClientX">Novembre</option>

                          <option value="ClientX">Décembre</option></select
                        ><br />
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <div id="table_clients_filter" class="dataTables_filter">
                        <label
                          >Rechercher :
                          <input
                            type="search"
                            class="form-control form-control-sm"
                            placeholder=""
                            aria-controls="table_clients"
                          />
                        </label>
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="col-lg-12">
                      <table
                        id="table_clients"
                        class="table table-striped table-bordered table-hover dataTables-example dataTable no-footer"
                        role="grid"
                        aria-describedby="table_clients_info"
                        style="width: 100%"
                      >
                        <thead>
                          <tr>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Code
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Intitulé
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Solde Antérieur
                            </th>

                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              1
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              2
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              3
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              4
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              5
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              6
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              7
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              8
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              9
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              10
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              11
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              12
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              13
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              14
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              15
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              16
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              17
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              18
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              19
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              21
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              22
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              23
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              24
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              25
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              26
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              27
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              28
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              29
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              30
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              31
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              total
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>125AZ2</td>
                            <td class="sorting_1">Ichrak cherif</td>
                            <td>1000</td>
                            <td style="background-color: rgb(32, 105, 120)">
                              1000
                            </td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td
                              routerLink="renouvelerConvention"
                              style="background-color: rgb(243, 102, 137)"
                            ></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>12</td>
                          </tr>
                          <tr>
                            <td>125AZ2</td>
                            <td class="sorting_1">Ahmed dridi</td>
                            <td>1000</td>
                            <td style="background-color: rgb(32, 105, 120)">
                              1000
                            </td>
                            <td
                              routerLink="renouvelerConvention"
                              style="background-color: rgb(243, 102, 137)"
                            ></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>12</td>
                          </tr>
                          <tr>
                            <td>125AZ2</td>
                            <td class="sorting_1">Ahmed dridi</td>
                            <td>1000</td>
                            <td style="background-color: rgb(32, 105, 120)">
                              1000
                            </td>
                            <td
                              class="btn btn-lg btn-outline-primary"
                              (click)="open(content)"
                              class="btn btn-outline btn-info add dim"
                              style="background-color: rgb(241, 189, 75)"
                            >
                              300
                            </td>
                            <td
                              class="btn btn-lg btn-outline-primary"
                              (click)="open(content)"
                              class="btn btn-outline btn-info add dim"
                              style="background-color: rgb(241, 189, 75)"
                            >
                              300
                            </td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>12</td>
                          </tr>
                          <tr>
                            <td>125AZ2</td>
                            <td class="sorting_1">Ahmed dridi</td>
                            <td>1000</td>
                            <td style="background-color: rgb(32, 105, 120)">
                              1000
                            </td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>12</td>
                          </tr>
                          <tr>
                            <td>185AZ2</td>
                            <td class="sorting_1">Nizar Samet</td>
                            <td>1000</td>
                            <td style="background-color: rgb(32, 105, 120)">
                              1000
                            </td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>12</td>
                          </tr>
                          <tr>
                            <td>125AZ2</td>
                            <td class="sorting_1">Ahmed dridi</td>
                            <td>1000</td>
                            <td style="background-color: rgb(32, 105, 120)">
                              1000
                            </td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>12</td>
                          </tr>

                          <tr>
                            <td>125AZ2</td>
                            <td class="sorting_1">Ichrak cherif</td>
                            <td>1000</td>
                            <td style="background-color: rgb(32, 105, 120)">
                              1000
                            </td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td></td>
                            <td></td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>1000</td>
                            <td>2</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th scope="row" colspan="32">Total</th>
                            <td colspan="1">198.000</td>
                          </tr>
                        </tfoot>
                      </table>

                      <div
                        id="table_clients_processing"
                        class="dataTables_processing card"
                        style="display: none"
                      >
                        Traitement...
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div
                        class="dataTables_info"
                        id="table_clients_info"
                        role="status"
                        aria-live="polite"
                      >
                        Affichage de 1 à 10 sur 18 entrées
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div
                        class="dataTables_paginate paging_simple_numbers"
                        id="table_clients_paginate"
                      >
                        <ul class="pagination">
                          <li
                            class="paginate_button page-item previous disabled"
                            id="table_clients_previous"
                          >
                            <a
                              href="https://murex-bs.tn/clients/#"
                              aria-controls="table_clients"
                              data-dt-idx="0"
                              tabindex="0"
                              class="page-link"
                              >Précédente</a
                            >
                          </li>
                          <li class="paginate_button page-item active">
                            <a
                              href="https://murex-bs.tn/clients/#"
                              aria-controls="table_clients"
                              data-dt-idx="1"
                              tabindex="0"
                              class="page-link"
                              >1</a
                            >
                          </li>

                          <li class="paginate_button page-item">
                            <a
                              href="https://murex-bs.tn/clients/#"
                              aria-controls="table_clients"
                              data-dt-idx="2"
                              tabindex="0"
                              class="page-link"
                              >2</a
                            >
                          </li>
                          <li
                            class="paginate_button page-item next"
                            id="table_clients_next"
                          >
                            <a
                              href="https://murex-bs.tn/clients/#"
                              aria-controls="table_clients"
                              data-dt-idx="3"
                              tabindex="0"
                              class="page-link"
                              >Suivante</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <span
    ><button type="button" class="btn btn-xs btn-primary">
      Facturée et reglée
    </button></span
  >&nbsp;&nbsp;
  <span
    ><button
      type="button"
      class="border border-secondary"
      class="btn btn-danger mb-2"
    >
      Contrat échu
    </button></span
  >&nbsp;&nbsp;
  <span
    ><button
      type="button"
      class="border border-secondary"
      class="btn btn-warning mb-2"
    >
      Non Facturée
    </button></span
  >&nbsp;&nbsp;
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouter Document Vente</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>Type du Document</label>
          <select class="form-control">
            <option selected>Sélectionnez un type de document</option>
            <option value="flotte2">Bon de Commande</option>
            <option value="flotte3">Bon de Réception</option>
            <option value="flotte3">Facture</option>
            <option value="flotte3">Avoir</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label>Souche</label>
          <select class="form-control">
            <option selected>Sélectionnez Souche</option>
            <option value="flotte2">
              Strategy & Management Service -SARL-
            </option>
            <option value="flotte3">Murex Business Solutions -SARL-</option>
            <option value="flotte3">Murex Digital Agency -SARL-</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationDefault02">Client </label>
          <select class="form-control">
            <option selected>Sélectionnez Client</option>
            <option>Client X</option>
            <option>Client X</option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefault03">Reference </label>
          <input class="form-control" type="text" />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefault03">Document attaché </label>
          <input class="form-control" type="file" />
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationDefault05">Timbre Fiscl </label>
          <select class="form-control">
            <option selected>Oui</option>
            <option>Non</option>
          </select>
        </div>

        <div class="col-md-2 mb-3">
          <label for="validationDefault05">Cours </label>
          <input
            type="text"
            class="form-control"
            id="validationDefault05"
            placeholder=""
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="nav-item" class="col-md-4 mb-3">
          <input
            class="nav-link active"
            id="Générale-tab"
            data-toggle="tab"
            href="#Générale"
            role="tab"
            type="submit"
            data-dismiss="modal"
            class="btn btn-xs btn-primary"
            value="Valider"
          />
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="Générale"
        role="tabpanel"
        aria-labelledby="Générale-tab"
      >
        <app-bonde-commande-vente></app-bonde-commande-vente>
      </div>

      <div class="row" class="text-right">
        <div class="modal-footer">
          <input
            type="submit"
            data-dismiss="modal"
            class="btn btn-xs btn-primary"
            value="Ajouter"
          />
          <input
            type="submit"
            data-dismiss="modal"
            class="btn btn-xs btn-primary"
            value="Afficher"
          />
          <input
            type="submit"
            class="btn btn-default"
            data-dismiss="modal"
            value="Annuler"
          />
        </div>
      </div>
    </form>
  </div>
</ng-template>
