<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-xl-12">
      <div>
        <div class="tab-content">
          <div role="tabpanel" id="" class="tab-pane active">
            <div class="panel-body">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-right"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalContact"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Ajouter"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                  <div
                    class="modal inmodal"
                    id="myModalContact"
                    tabindex="-1"
                    role="dialog"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                          >
                            <span aria-hidden="true">&times;</span
                            ><span class="sr-only">Fermer</span>
                          </button>

                          <h4 class="modal-title">Ajouter Contact</h4>
                        </div>
                        <div class="modal-body">
                          <form class="form-horizontal">
                            <div class="form-group row">
                              <label class="col-sm-4">Nom</label>
                              <div class="col-sm-8">
                                <input
                                  class="form-control"
                                  placeholder="nom "
                                />
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-4">Prénom</label>
                              <div class="col-sm-8">
                                <input
                                  class="form-control"
                                  placeholder="prenom"
                                />
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-sm-4">Fonction</label>
                              <div class="col-sm-8">
                                <input
                                  class="form-control"
                                  placeholder="Fonction"
                                />
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-sm-4">Tel 1</label>
                              <div class="col-sm-8">
                                <input
                                  class="form-control"
                                  type="text"
                                  placeholder=""
                                />
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-4">Tel 2</label>
                              <div class="col-sm-8">
                                <input
                                  class="form-control"
                                  type="text"
                                  placeholder=""
                                />
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-4">Email</label>
                              <div class="col-sm-6">
                                <input
                                  class="form-control"
                                  type="text"
                                  placeholder=""
                                />
                              </div>
                            </div>

                            <div class="row" class="text-right">
                              <div class="modal-footer">
                                <input
                                  type="submit"
                                  class="btn btn-default"
                                  data-dismiss="modal"
                                  value="Annuler"
                                />
                                <input
                                  type="submit"
                                  data-dismiss="modal"
                                  class="btn btn-xs btn-primary"
                                  value="Ajouter"
                                />
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <div
                  id="table_contactsclients_wrapper"
                  class="dataTables_wrapper dt-bootstrap4 no-footer"
                >
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div
                        class="dataTables_length"
                        id="table_contactsclients_length"
                      >
                        <label
                          >Afficher
                          <select
                            name="table_contactsclients_length"
                            aria-controls="table_contactsclients"
                            class="custom-select custom-select-sm form-control form-control-sm"
                          >
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          entrées
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                      <div
                        id="table_contactsclients_filter"
                        class="dataTables_filter"
                      >
                        <label
                          >Rechercher :
                          <input
                            type="search"
                            class="form-control form-control-sm"
                            placeholder=""
                            aria-controls="table_contactsclients"
                          />
                        </label>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="col-lg-12">
                      <table
                        id="table_contactsclients"
                        class="table table-striped table-bordered table-hover dataTables-example dataTable no-footer"
                        role="grid"
                        aria-describedby="table_contactsclients_info"
                        style="width: 100%"
                      >
                        <thead>
                          <tr>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_contactsclients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Nom
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_contactsclients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Prénom
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_contactsclients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Fonction
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_contactsclients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Tel 1
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_contactsclients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Tel 2
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_contactsclients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Email
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>12/03/2023</td>
                            <td>1124R4</td>
                            <td>70px0</td>
                            <td>12/02/2023</td>
                            <td>en cour</td>
                            <td>aaaaa@gmail.com</td>
                          </tr>
                          <tr>
                            <td>12/03/2023</td>
                            <td>1124R4</td>
                            <td>70px0</td>
                            <td>12/02/2023</td>
                            <td>en cour</td>
                            <td>aaaaa@gmail.com</td>
                          </tr>
                          <tr>
                            <td>12/03/2023</td>
                            <td>1124R4</td>
                            <td>70px0</td>
                            <td>12/02/2023</td>
                            <td>en cour</td>
                            <td>aaaaa@gmail.com</td>
                          </tr>
                          <tr>
                            <td>12/03/2023</td>
                            <td>1124R4</td>
                            <td>70px0</td>
                            <td>12/02/2023</td>
                            <td>en cour</td>
                            <td>aaaaa@gmail.com</td>
                          </tr>
                        </tbody>
                      </table>

                      <div
                        id="table_contactsclients_processing"
                        class="dataTables_processing card"
                        style="display: none"
                      >
                        Traitement...
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div
                        class="dataTables_info"
                        id="table_contactsclients_info"
                        role="status"
                        aria-live="polite"
                      >
                        Affichage de 1 à 10 sur 18 entrées
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div
                        class="dataTables_paginate paging_simple_numbers"
                        id="table_contactsclients_paginate"
                      >
                        <ul class="pagination">
                          <li
                            class="paginate_button page-item previous disabled"
                            id="table_contactsclients_previous"
                          >
                            <a
                              aria-controls="table_contactsclients"
                              data-dt-idx="0"
                              tabindex="0"
                              class="page-link"
                              >Précédent</a
                            >
                          </li>
                          <li class="paginate_button page-item active">
                            <a
                              aria-controls="table_contactsclients"
                              data-dt-idx="1"
                              tabindex="0"
                              class="page-link"
                              >1</a
                            >
                          </li>

                          <li class="paginate_button page-item">
                            <a
                              aria-controls="table_contactsclients"
                              data-dt-idx="2"
                              tabindex="0"
                              class="page-link"
                              >2</a
                            >
                          </li>
                          <li
                            class="paginate_button page-item next"
                            id="table_contactsclients_next"
                          >
                            <a
                              aria-controls="table_contactsclients"
                              data-dt-idx="3"
                              tabindex="0"
                              class="page-link"
                              >Suivant</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" class="text-right">
            <div class="modal-footer">
              <input
                type="submit"
                class="btn btn-xs btn-default"
                data-dismiss="modal"
                value="Annuler"
              />
              <input
                type="submit"
                data-dismiss="modal"
                class="btn btn-xs btn-primary"
                value="Suivant"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
