<div class="wrapper wrapper-content animated fadeInDown">
  <div class="tab-content">
    <div role="tabpanel" id="" class="tab-pane active">
      <form>
        <div class="row">
          <div class="col-lg-2">
            <input
              class="form-control input-sm"
              type="text"
              placeholder=" Dépôt "
            />
          </div>
          <div class="col-lg-2">
            <input
              class="form-control input-sm"
              type="text"
              placeholder="Code article"
            />
          </div>

          <div class="col-lg-2">
            <input
              class="form-control input-sm"
              type="text"
              placeholder="Désignation"
            />
          </div>
          <div class="col-lg-2">
            <input class="form-control input-sm" placeholder="Valeur" />
          </div>
          <div class="col-lg-2">
            <input class="form-control input-sm" placeholder="Provision" />
          </div>
          <div class="col-lg-1">
            <input
              class="form-control input-sm"
              type="text"
              placeholder="VCN"
            />
          </div>
          <div class="col-lg-1">
            <input
              class="btn btn-xs btn-primary"
              value="Ajouter"
              type="submit"
            />
          </div>
        </div>
        <br />
      </form>
      <div class="table-responsive">
        <div
          id="table_provisions_stocks_wrapper"
          class="dataTables_wrapper dt-bootstrap4 no-footer"
        >
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div
                class="dataTables_length"
                id="table_provisions_stocks_length"
              >
                <label
                  >Afficher
                  <select
                    name="table_provisions_stocks_length"
                    aria-controls="table_provisions_stocks"
                    class="custom-select custom-select-sm form-control input-sm form-control input-sm"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  entrées</label
                >
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div
                id="table_provisions_stocks_filter"
                class="dataTables_filter"
              >
                <label
                  >Rechercher :<input
                    type="search"
                    class="form-control input-sm form-control input-sm"
                    placeholder=""
                    aria-controls="table_provisions_stocks"
                /></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table
                id="table_provisions_stocks"
                class="table table-striped table-bordered table-hover dataTables-example dataTable no-footer"
                role="grid"
                aria-describedby="table_provisions_stocks_info"
                style="width: 100%"
              >
                <thead>
                  <tr role="row">
                    <th
                      class="sorting_asc"
                      tabindex="0"
                      aria-controls="table_provisions_stocks"
                      rowspan="1"
                      colspan="1"
                      aria-sort="ascending"
                      aria-label="Dépôt : activer pour trier la colonne par ordre décroissant"
                      style="width: 10%"
                    >
                      Dépôt
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="table_provisions_stocks"
                      rowspan="1"
                      colspan="1"
                      aria-label="Code article : activer pour trier la colonne par ordre croissant"
                      style="width: 10%"
                    >
                      Code article
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="table_provisions_stocks"
                      rowspan="1"
                      colspan="1"
                      aria-label="Designation : activer pour trier la colonne par ordre croissant"
                      style="width: 10%"
                    >
                      Designation
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="table_provisions_stocks"
                      rowspan="1"
                      colspan="1"
                      aria-label="Valeur : activer pour trier la colonne par ordre croissant"
                      style="width: 10%"
                    >
                      Valeur
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="table_provisions_stocks"
                      rowspan="1"
                      colspan="1"
                      aria-label="Provision : activer pour trier la colonne par ordre croissant"
                      style="width: 10%"
                    >
                      Provision
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="table_provisions_stocks"
                      rowspan="1"
                      colspan="1"
                      aria-label="VCN : activer pour trier la colonne par ordre croissant"
                      style="width: 10%"
                    >
                      VCN
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="table_provisions_stocks"
                      rowspan="1"
                      colspan="1"
                      aria-label="Actions : activer pour trier la colonne par ordre croissant"
                      style="width: 10%"
                    >
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd">
                    <td class="sorting_1">central</td>
                    <td>ART0007</td>
                    <td>aaaa</td>
                    <td>500.000</td>
                    <td>20.000</td>
                    <td>480.000</td>
                    <td class="overflow-hidden">
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                        >
                          Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              data-toggle="modal"
                              data-target="#myModalModifier"
                              >Provisioner</a
                            >
                          </li>
                          <li><a href="#">Supprimer</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="sorting_1">sfax</td>
                    <td>ART0007</td>
                    <td>aaaa</td>
                    <td>400.000</td>
                    <td>200.000</td>
                    <td>200.000</td>
                    <td class="overflow-hidden">
                      <div class="btn-group">
                        <button
                          data-toggle="dropdown"
                          class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                        >
                          Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a
                              data-toggle="modal"
                              data-target="#myModalModifier"
                              >Provisioner</a
                            >
                          </li>
                          <li><a href="#">Supprimer</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                id="table_provisions_stocks_processing"
                class="dataTables_processing card"
                style="display: none"
              >
                Traitement...
              </div>
            </div>
          </div>
               <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div
                        class="dataTables_info"
                        id="table_clients_info"
                        role="status"
                        aria-live="polite"
                      >
                        Affichage de 1 à 10 sur 18 entrées
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div
                        class="text-right"
                        class="dataTables_paginate paging_simple_numbers"
                        id="table_clients_paginate"
                      >
                        <ul class="pagination">
                          <li
                            class="paginate_button page-item previous disabled"
                            id="table_clients_previous"
                          >
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="0"
                              tabindex="0"
                              class="page-link"
                              >Précédent</a
                            >
                          </li>
                          <li class="paginate_button page-item active">
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="1"
                              tabindex="0"
                              class="page-link"
                              >1</a
                            >
                          </li>

                          <li class="paginate_button page-item">
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="2"
                              tabindex="0"
                              class="page-link"
                              >2</a
                            >
                          </li>
                          <li
                            class="paginate_button page-item next"
                            id="table_clients_next"
                          >
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="3"
                              tabindex="0"
                              class="page-link"
                              >Suivant</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
          <table>
            <td style="width: 10%" colspan="3">
              <b>Total Valeur :</b>
            </td>
            <td style="width: 10%"><span id="tot_creance"> 900.000</span></td>
            <td style="width: 10%" colspan="3"><b>Total Provisions :</b></td>
            <td style="width: 10%"><span id="tot_creance"> 220.000</span></td>
            <td style="width: 10%" colspan="3"><b> Total VCN : </b></td>
            <td style="width: 10%"><span id="tot_creance">680.000</span></td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
