<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Contrats Domiciliation</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a>Exploitation</a>
      </li>
      <li class="breadcrumb-item">
        <a>Traitement</a>
      </li>

      <li class="breadcrumb-item active">
        <strong>Contrats Domiciliation</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <div class="tab-content">
          <div role="tabpanel" id="" class="tab-pane active">
            <div class="panel-body">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-right"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModal"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Ajouter"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                  <div
                    class="modal inmodal"
                    id="myModal"
                    tabindex="-1"
                    role="dialog"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                          >
                            <span aria-hidden="true">&times;</span
                            ><span class="sr-only">Fermer</span>
                          </button>

                          <h4 class="modal-title">
                            Ajouter Contrat Domiciliation
                          </h4>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-row text-left">
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault03">Client </label>
                                <select class="form-control">
                                  <option selected>
                                    Selectionnez un client
                                  </option>
                                  <option>xxx</option>
                                  <option>yyyyy</option>
                                </select>
                              </div>
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault04"
                                  >Montant Annuel du contrat HT
                                </label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="validationDefault04"
                                  placeholder=""
                                  required
                                />
                              </div>
                            </div>
                            <div class="form-row text-left">
                              <div class="col-md-4 mb-3">
                                <label for="validationDefault05"
                                  >TVA (%)
                                </label>
                                <select class="form-control">
                                  <option></option>
                                  <option></option>

                                  <option></option>
                                </select>
                              </div>
                              <div class="col-md-4 mb-3">
                                <label for="validationDefault03"
                                  >Majoration Annuelle (%)</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  id="validationDefault04"
                                  placeholder=""
                                  required
                                />
                              </div>
                              <div class="col-md-4 mb-3">
                                <label for="validationDefault03"
                                  >Pénalité de retard (%)
                                </label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  placeholder=""
                                  required
                                />
                              </div>
                            </div>
                            <div class="form-row text-left">
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault03"
                                  >Date début
                                </label>
                                <input
                                  type="date"
                                  class="form-control"
                                  id=""
                                  placeholder=""
                                  required
                                />
                              </div>
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault03"
                                  >Date fin</label
                                >
                                <input
                                  type="date"
                                  class="form-control"
                                  id=""
                                  placeholder=""
                                  required
                                />
                              </div>
                            </div>
                            <br /><br />
                          </form>
                          <div class="row" class="text-right">
                            <br /><br /><br />
                            <div class="modal-footer">
                              <input
                                type="submit"
                                class="btn btn-xs btn-default"
                                data-dismiss="modal"
                                value="Annuler"
                              />
                              <input
                                type="submit"
                                data-dismiss="modal"
                                class="btn btn-xs btn-primary"
                                value="Ajouter"
                              />
                              <input
                                type="submit"
                                data-dismiss="modal"
                                class="btn btn-xs btn-primary"
                                value="Afficher"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <div
                  id="table_clients_wrapper"
                  class="dataTables_wrapper dt-bootstrap4 no-footer"
                >
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="table_clients_length">
                        <label
                          >Afficher
                          <select
                            name="table_clients_length"
                            aria-controls="table_clients"
                            class="custom-select custom-select-sm form-control form-control-sm"
                          >
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          entrées
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div id="table_clients_filter" class="dataTables_filter">
                        <label
                          >Rechercher :
                          <input
                            type="search"
                            class="form-control form-control-sm"
                            placeholder=""
                            aria-controls="table_clients"
                          />
                        </label>
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="col-lg-12">
                      <table
                        id="table_clients"
                        class="table table-striped table-bordered table-hover dataTables-example dataTable no-footer"
                        role="grid"
                        aria-describedby="table_clients_info"
                        style="width: 100%"
                      >
                        <thead>
                          <tr>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              N° Contrat
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Date
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Code
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Client
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Date Début
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Date Fin
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Actions
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>123R455</td>
                            <td>14/08/2023</td>
                            <td>11234567</td>
                            <td>SMS</td>
                            <td>12/03/2023</td>
                            <td>12/12/2023</td>

                            <td class="overflow-hidden">
                              <div class="btn-group">
                                <button
                                  data-toggle="dropdown"
                                  class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                >
                                  Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                  <li>
                                    <a
                                      data-toggle="modal"
                                      data-target="#myModalModifier"
                                      >Modifier</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      data-toggle="modal"
                                      data-target="#myModalRenouveler"
                                      >Renouveler</a
                                    >
                                  </li>
                                  <li><a href="#">Supprimer</a></li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>123R455</td>
                            <td>14/08/2023</td>
                            <td>11234567</td>
                            <td>SMS</td>
                            <td>12/03/2023</td>
                            <td>12/12/2023</td>

                            <td class="overflow-hidden">
                              <div class="btn-group">
                                <button
                                  data-toggle="dropdown"
                                  class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                >
                                  Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                  <li>
                                    <a
                                      data-toggle="modal"
                                      data-target="#myModalModifier"
                                      >Modifier</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      data-toggle="modal"
                                      data-target="#myModalRenouveler"
                                      >Renouveler</a
                                    >
                                  </li>
                                  <li><a href="#">Supprimer</a></li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>123R455</td>
                            <td>14/08/2023</td>
                            <td>11234567</td>
                            <td>SMS</td>
                            <td>12/03/2023</td>
                            <td>12/12/2023</td>

                            <td class="overflow-hidden">
                              <div class="btn-group">
                                <button
                                  data-toggle="dropdown"
                                  class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                >
                                  Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                  <li>
                                    <a
                                      data-toggle="modal"
                                      data-target="#myModalModifier"
                                      >Modifier</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      data-toggle="modal"
                                      data-target="#myModalRenouveler"
                                      >Renouveler</a
                                    >
                                  </li>
                                  <li><a href="#">Supprimer</a></li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>123R455</td>
                            <td>14/08/2023</td>
                            <td>11234567</td>
                            <td>SMS</td>
                            <td>12/03/2023</td>
                            <td>12/12/2023</td>

                            <td class="overflow-hidden">
                              <div class="btn-group">
                                <button
                                  data-toggle="dropdown"
                                  class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                >
                                  Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                  <li>
                                    <a
                                      data-toggle="modal"
                                      data-target="#myModalModifier"
                                      >Modifier</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      data-toggle="modal"
                                      data-target="#myModalRenouveler"
                                      >Renouveler</a
                                    >
                                  </li>
                                  <li><a href="#">Supprimer</a></li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div
                        class="modal inmodal"
                        id="myModalModifier"
                        tabindex="-1"
                        role="dialog"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content animated bounceInRight">
                            <div class="modal-header">
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                              >
                                <span aria-hidden="true">&times;</span
                                ><span class="sr-only">Fermer</span>
                              </button>

                              <h4 class="modal-title">
                                Modifier Contrat Domiciliation
                              </h4>
                            </div>
                            <div class="modal-body">
                              <form>
                                <div class="form-row text-left">
                                  <div class="col-md-6 mb-3">
                                    <label for="validationDefault03"
                                      >Client
                                    </label>
                                    <select class="form-control">
                                      <option selected>
                                        Selectionnez un client
                                      </option>
                                      <option>xxx</option>
                                      <option>yyyyy</option>
                                    </select>
                                  </div>
                                  <div class="col-md-6 mb-3">
                                    <label for="validationDefault04"
                                      >Montant Annuel du contrat HT
                                    </label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="validationDefault04"
                                      placeholder=""
                                      required
                                    />
                                  </div>
                                </div>
                                <div class="form-row text-left">
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault05"
                                      >TVA (%)
                                    </label>
                                    <select class="form-control">
                                      <option></option>
                                      <option></option>

                                      <option></option>
                                    </select>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault03"
                                      >Majoration Annuelle (%)</label
                                    >
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="validationDefault04"
                                      placeholder=""
                                      required
                                    />
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault03"
                                      >Pénalité de retard (%)
                                    </label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      id=""
                                      placeholder=""
                                      required
                                    />
                                  </div>
                                </div>
                                <div class="form-row text-left">
                                  <div class="col-md-6 mb-3">
                                    <label for="validationDefault03"
                                      >Date début
                                    </label>
                                    <input
                                      type="date"
                                      class="form-control"
                                      id=""
                                      placeholder=""
                                      required
                                    />
                                  </div>
                                  <div class="col-md-6 mb-3">
                                    <label for="validationDefault03"
                                      >Date fin</label
                                    >
                                    <input
                                      type="date"
                                      class="form-control"
                                      id=""
                                      placeholder=""
                                      required
                                    />
                                  </div>
                                </div>
                                <h1>Enregistrement</h1>
                                <br />
                                <div class="form-row">
                                  <div class="col-md-3 mb-3">
                                    <label for="validationDefault03"
                                      >Recute des Finances</label
                                    >
                                    <select class="form-control">
                                      <option selected></option>
                                      <option>xxx</option>
                                      <option>yyyyy</option>
                                    </select>
                                  </div>
                                  <div class="col-md-3 mb-3">
                                    <label for="validationDefault04"
                                      >Numéro Quitance
                                    </label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="validationDefault04"
                                      placeholder=""
                                      required
                                    />
                                  </div>
                                  <div class="col-md-2 mb-3">
                                    <label for="validationDefault05"
                                      >Date</label
                                    >
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="validationDefault04"
                                      placeholder=""
                                      required
                                    />
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault05"
                                      >Document</label
                                    >
                                    <input
                                      type="file"
                                      class="form-control"
                                      id="validationDefault04"
                                      placeholder=""
                                      required
                                    />
                                  </div>
                                </div>
                                <h1>Débours</h1>
                                <br />

                                <div class="row">
                                  <div class="col-md-4">
                                    <select class="form-control">
                                      <option>Code Article</option>
                                      <option>Com et Social Media</option>
                                      <option>Débours</option>
                                      <option>Honoraires Conventions</option>
                                      <option>
                                        Honoraires Mise en place SI
                                      </option>
                                      <option>Infographie et Design</option>
                                      <option>Intégration WEB</option>
                                      <option>Services</option>
                                      <option>Solutions de Gestion</option>
                                    </select>
                                  </div>
                                  <div class="col-md-2">
                                    <select class="form-control">
                                      <option value="">Désignation</option>
                                    </select>
                                  </div>
                                  <div class="col-md-2">
                                    <input
                                      class="form-control"
                                      type="text"
                                      placeholder=" Prix Unitaire HT"
                                      required="required"
                                      value=""
                                    />
                                  </div>

                                  <div class="col-md-2">
                                    <input
                                      class="form-control"
                                      placeholder="Quantité "
                                      required="required"
                                      value=""
                                    />
                                  </div>

                                  <div class="col-md-1">
                                    <input
                                      class="form-control"
                                      type="submit"
                                      data-dismiss="modal"
                                      class="btn btn-primary"
                                      value="Ajouter"
                                    />
                                  </div>
                                </div>
                                <table
                                  id="table_clients"
                                  class="table table-striped table-bordered table-hover dataTables-example dataTable no-footer"
                                  role="grid"
                                  aria-describedby="table_clients_info"
                                  style="width: 100%"
                                >
                                  <thead>
                                    <tr>
                                      <th
                                        class="sorting"
                                        tabindex="0"
                                        aria-controls="table_clients"
                                        rowspan="1"
                                        colspan="1"
                                        aria-label="Type : activer pour trier la colonne par ordre croissant"
                                        style="width: 10%"
                                      >
                                        Désignation
                                      </th>
                                      <th
                                        class="sorting"
                                        tabindex="0"
                                        aria-controls="table_clients"
                                        rowspan="1"
                                        colspan="1"
                                        aria-label="Type : activer pour trier la colonne par ordre croissant"
                                        style="width: 10%"
                                      >
                                        Quantité
                                      </th>
                                      <th
                                        class="sorting"
                                        tabindex="0"
                                        aria-controls="table_clients"
                                        rowspan="1"
                                        colspan="1"
                                        aria-label="Type : activer pour trier la colonne par ordre croissant"
                                        style="width: 10%"
                                      >
                                        P.U.HT
                                      </th>
                                      <th
                                        class="sorting"
                                        tabindex="0"
                                        aria-controls="table_clients"
                                        rowspan="1"
                                        colspan="1"
                                        aria-label="Type : activer pour trier la colonne par ordre croissant"
                                        style="width: 10%"
                                      >
                                        Total HT
                                      </th>
                                      <th
                                        class="sorting"
                                        tabindex="0"
                                        aria-controls="table_clients"
                                        rowspan="1"
                                        colspan="1"
                                        aria-label="Type : activer pour trier la colonne par ordre croissant"
                                        style="width: 10%"
                                      >
                                        Actions
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        Séjour pour une personne du 01/03/2023
                                        au 05032023
                                      </td>
                                      <td>1.00</td>
                                      <td>2 000.000</td>
                                      <td>10000</td>

                                      <td class="overflow-hidden">
                                        <div class="btn-group">
                                          <button
                                            data-toggle="dropdown"
                                            class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                          >
                                            Action <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu">
                                            <li>
                                              <a
                                                data-toggle="modal"
                                                data-target="#myModalModifier"
                                                >Modifier</a
                                              >
                                            </li>
                                            <li><a href="#">Supprimer</a></li>
                                          </ul>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>

                                <br /><br />
                                <div class="row" class="text-right">
                                  <br /><br /><br />
                                  <div class="modal-footer">
                                    <input
                                      type="submit"
                                      class="btn btn-xs btn-default"
                                      data-dismiss="modal"
                                      value="Annuler"
                                    />
                                    <input
                                      type="submit"
                                      data-dismiss="modal"
                                      class="btn btn-xs btn-primary"
                                      value="Modifier"
                                    />
                                    <input
                                      type="submit"
                                      data-dismiss="modal"
                                      class="btn btn-xs btn-primary"
                                      value="Afficher"
                                    />
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="modal inmodal"
                        id="myModalRenouveler"
                        tabindex="-1"
                        role="dialog"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content animated bounceInRight">
                            <div class="modal-header">
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                              >
                                <span aria-hidden="true">&times;</span
                                ><span class="sr-only">Fermer</span>
                              </button>

                              <h4 class="modal-title">
                                Modifier Contrat Domiciliation
                              </h4>
                            </div>
                            <div class="modal-body">
                              <form>
                                <div class="form-row text-left">
                                  <div class="col-md-6 mb-3">
                                    <label for="validationDefault03"
                                      >Client
                                    </label>
                                    <select class="form-control">
                                      <option selected>
                                        Selectionnez un client
                                      </option>
                                      <option>xxx</option>
                                      <option>yyyyy</option>
                                    </select>
                                  </div>
                                  <div class="col-md-6 mb-3">
                                    <label for="validationDefault04"
                                      >Montant Annuel du contrat HT
                                    </label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="validationDefault04"
                                      placeholder=""
                                      required
                                    />
                                  </div>
                                </div>
                                <div class="form-row text-left">
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault05"
                                      >TVA (%)
                                    </label>
                                    <select class="form-control">
                                      <option></option>
                                      <option></option>

                                      <option></option>
                                    </select>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault03"
                                      >Majoration Annuelle (%)</label
                                    >
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="validationDefault04"
                                      placeholder=""
                                      required
                                    />
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="validationDefault03"
                                      >Pénalité de retard (%)
                                    </label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      id=""
                                      placeholder=""
                                      required
                                    />
                                  </div>
                                </div>
                                <div class="form-row text-left">
                                  <div class="col-md-6 mb-3">
                                    <label for="validationDefault03"
                                      >Date début
                                    </label>
                                    <input
                                      type="date"
                                      class="form-control"
                                      id=""
                                      placeholder=""
                                      required
                                    />
                                  </div>
                                  <div class="col-md-6 mb-3">
                                    <label for="validationDefault03"
                                      >Date fin</label
                                    >
                                    <input
                                      type="date"
                                      class="form-control"
                                      id=""
                                      placeholder=""
                                      required
                                    />
                                  </div>
                                </div>
                                <br /><br />
                                <div class="row" class="text-right">
                                  <br /><br /><br />
                                  <div class="modal-footer">
                                    <input
                                      type="submit"
                                      class="btn btn-xs btn-default"
                                      data-dismiss="modal"
                                      value="Annuler"
                                    />
                                    <input
                                      type="submit"
                                      data-dismiss="modal"
                                      class="btn btn-xs btn-primary"
                                      value="Renouveler"
                                    />
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        id="table_clients_processing"
                        class="dataTables_processing card"
                        style="display: none"
                      >
                        Traitement...
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div
                        class="dataTables_info"
                        id="table_clients_info"
                        role="status"
                        aria-live="polite"
                      >
                        Affichage de 1 à 10 sur 18 entrées
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div
                        class="dataTables_paginate paging_simple_numbers"
                        id="table_clients_paginate"
                      >
                        <ul class="pagination">
                          <li
                            class="paginate_button page-item previous disabled"
                            id="table_clients_previous"
                          >
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="0"
                              tabindex="0"
                              class="page-link"
                              >Précédent</a
                            >
                          </li>
                          <li class="paginate_button page-item active">
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="1"
                              tabindex="0"
                              class="page-link"
                              >1</a
                            >
                          </li>

                          <li class="paginate_button page-item">
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="2"
                              tabindex="0"
                              class="page-link"
                              >2</a
                            >
                          </li>
                          <li
                            class="paginate_button page-item next"
                            id="table_clients_next"
                          >
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="3"
                              tabindex="0"
                              class="page-link"
                              >Suivant</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
