<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Détails Sanctions</h2>
  </div>
  <div class="col-lg-2 text-right">Club Africain 213</div>
</div>
<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="ibox">
      <div class="ibox-content">
        <div class="tab-content">
          <div role="tabpanel" id="" class="tab-pane active">
            <div class="panel-body">
              <div class="table-responsive">
                <div
                  id="table_clients_wrapper"
                  class="dataTables_wrapper dt-bootstrap4 no-footer"
                >
                  <form>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label>Compétitions </label>
                        <select class="form-control">
                          <option>CHAMPIONS LEAGUE</option>
                          <option selected>CHAMPIONNAT</option>
                          <option>COUPE</option>
                          <option></option>
                          <option></option>
                          <option></option>
                        </select>
                      </div>
                    </div>
                    <br /><br />
                  </form>
                  <br /><br />
                  <table style="width: 1130%" class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 10%">Joueur</th>
                        <th style="width: 10%">Match 1</th>
                        <th style="width: 10%">Match 2</th>
                        <th style="width: 10%">Match 3</th>
                        <th style="width: 10%">Match 4</th>
                        <th style="width: 10%">Match 5</th>
                        <th style="width: 10%">Match 6</th>
                        <th style="width: 10%">Match 7</th>
                        <th style="width: 10%">Match 8</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Joueur 1</td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>

                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>Joueur 1</td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>

                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>Joueur 1</td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>

                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>Joueur 1</td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>

                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>Joueur 1</td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>

                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>Joueur 1</td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>

                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>Joueur 1</td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>

                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>Joueur 1</td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>

                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>Joueur 1</td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>

                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                        <td data-toggle="modal" data-target="#MyModalSanction">
                         <div class="input-group with-margin">
    <button class="btn btn-w-s btn-yellow" type="button">1</button>
    <button class="btn btn-w-s btn-danger" type="button">0</button>
</div>

                          <div style="float: left"></div>
                        </td>
                      </tr>
                    </tbody>
                    <div
                      class="modal inmodal"
                      id="MyModalSanction"
                      tabindex="-1"
                      role="dialog"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                          <div class="modal-header">
                            <h6 class="modal-title">Ajouter</h6>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                            >
                              <span aria-hidden="true">&times;</span
                              ><span class="sr-only">Fermer</span>
                            </button>
                          </div>

                          <div class="modal-body">
                            <div class="panel-body">
                              <form>
                                <div class="form-row">
                                  <div class="col-md-12">
                                    <label>Disponibilté</label>
                                    <select class="form-control">
                                      <option selected>Disponible</option>
                                      <option>Indisponible</option>
                                    </select>
                                  </div>
                                  <div class="row" class="text-right">
                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        class="btn btn-white btn-xs dropdown-toggle"
                                        data-dismiss="modal"
                                      >
                                        Annuler
                                      </button>
                                      <button
                                        type="button"
                                        class="btn btn-primary btn-xs dropdown-toggle"
                                      >
                                        Valider
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </table>
                  <div class="row" class="text-right">
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-white btn-xs dropdown-toggle"
                        data-dismiss="modal"
                      >
                        Annuler
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary btn-xs dropdown-toggle"
                      >
                        Valider
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
