<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-xl-12">
      <div>
        <div class="tab-content">
          <div role="tabpanel" id="" class="tab-pane active">
            <div class="panel-body">
              <div class="table-responsive">
                <div
                  id="table_contactsAdmin Clients_wrapper"
                  class="dataTables_wrapper dt-bootstrap4 no-footer"
                >
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div
                        class="dataTables_length"
                        id="table_contactsAdmin Clients_length"
                      >
                        <label
                          >Afficher
                          <select
                            name="table_contactsAdmin Clients_length"
                            aria-controls="table_contactsAdmin Clients"
                            class="custom-select custom-select-sm form-control form-control-sm"
                          >
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          entrées
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                      <div
                        id="table_contactsAdmin Clients_filter"
                        class="dataTables_filter"
                      >
                        <label
                          >Rechercher :
                          <input
                            type="search"
                            class="form-control form-control-sm"
                            placeholder=""
                            aria-controls="table_contactsAdmin Clients"
                          />
                        </label>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="col-lg-12">
                      <table
                        id="table_contactsAdmin Clients"
                        class="table table-striped table-bordered table-hover dataTables-example dataTable no-footer"
                        role="grid"
                        aria-describedby="table_contactsAdmin Clients_info"
                        style="width: 100%"
                      >
                        <thead>
                          <tr>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_contactsAdmin Clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Document
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_contactsAdmin Clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Destinataire
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_contactsAdmin Clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Alerte/Notification
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Nouvelle Facture</td>
                            <td>Abonnée</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Nouvelle Facture</td>
                            <td>Admin Client</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Nouveau Avoir</td>
                            <td>Abonnée</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Nouveau Avoir</td>
                            <td>Admin Client</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Convention Assistance</td>
                            <td>Abonnée</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Convention Assistance</td>
                            <td>Admin Client</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Convention Consulting</td>
                            <td>Abonnée</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Convention Consulting</td>
                            <td>Admin Client</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>

                          <tr>
                            <td>Contart Domicilation</td>
                            <td>Abonnée</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Contart Domicilation</td>
                            <td>Admin Client</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Attestation Domicilation</td>
                            <td>Abonnée</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Attestation Domicilation</td>
                            <td>Admin Client</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Fiche D'intervention</td>
                            <td>Abonnée</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Fiche D'intervention</td>
                            <td>Admin Client</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Affectation Constitution</td>
                            <td>Abonnée</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Affectation Constitution</td>
                            <td>User</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Réservation</td>
                            <td>Abonnée</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Réservation</td>
                            <td>Admin Client</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Agrément</td>
                            <td>Abonnée</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>Agrément</td>
                            <td>Admin Client</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>RDV</td>
                            <td>Abonnée</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>RDV</td>
                            <td>Admin Client</td>
                            <td>
                              <input
                                type="checkbox"
                                class="js-switch"
                                checked
                              />
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <div
                        id="table_contactsAdmin Clients_processing"
                        class="dataTables_processing card"
                        style="display: none"
                      >
                        Traitement...
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div
                        class="dataTables_info"
                        id="table_contactsAdmin Clients_info"
                        role="status"
                        aria-live="polite"
                      >
                        Affichage de 1 à 10 sur 18 entrées
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div
                        class="dataTables_paginate paging_simple_numbers"
                        id="table_contactsAdmin Clients_paginate"
                      >
                        <ul class="pagination">
                          <li
                            class="paginate_button page-item previous disabled"
                            id="table_contactsAdmin Clients_previous"
                          >
                            <a
                              aria-controls="table_contactsAdmin Clients"
                              data-dt-idx="0"
                              tabindex="0"
                              class="page-link"
                              >Précédent</a
                            >
                          </li>
                          <li class="paginate_button page-item active">
                            <a
                              aria-controls="table_contactsAdmin Clients"
                              data-dt-idx="1"
                              tabindex="0"
                              class="page-link"
                              >1</a
                            >
                          </li>

                          <li class="paginate_button page-item">
                            <a
                              aria-controls="table_contactsAdmin Clients"
                              data-dt-idx="2"
                              tabindex="0"
                              class="page-link"
                              >2</a
                            >
                          </li>
                          <li
                            class="paginate_button page-item next"
                            id="table_contactsAdmin Clients_next"
                          >
                            <a
                              aria-controls="table_contactsAdmin Clients"
                              data-dt-idx="3"
                              tabindex="0"
                              class="page-link"
                              >Suivant</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" class="text-right">
          <div class="modal-footer">
            <input
              type="submit"
              class="btn btn-xs btn-default"
              data-dismiss="modal"
              value="Annuler"
            />
            <input
              type="submit"
              data-dismiss="modal"
              class="btn btn-xs btn-primary"
              value="Ajouter"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
