<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Matchs</h2>
  </div>
  <div class="col-lg-2 text-right">Club Africain 2023</div>
</div>
<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="row mb-3">
          <div
            class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-right"
          >
            <button
              data-toggle="modal"
              data-target="#myModal5"
              class="btn btn-lg btn-primary"
              class="btn btn-outline btn-info add dim"
              title="Ajouter"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div
            class="modal inmodal fade"
            id="myModal5"
            tabindex="-1"
            role="dialog"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span
                    ><span class="sr-only">Fermer</span>
                  </button>
                  <h4 class="modal-title">Ajouter Match</h4>
                </div>
                <div class="modal-body">
                  <div>
                    <label for="options"> Type Match</label>
                    <select
                      class="form-control"
                      id="options"
                      [(ngModel)]="selectedOption"
                    >
                      <option selected value="option1">Match Libre</option>
                      <option value="option2">Match Compétition</option>
                    </select>
                  </div>
                  <div class="wrapper wrapper-content animated fadeInDown">
                    <div class="row">
                      <div *ngIf="selectedOption === 'option1'">
                        <form class="form-horizontal">
                          <div class="form-row">
                            <div class="col-md-6">
                              <label>Adversaire</label>
                              <select class="form-control">
                                <option>Stade Tunisien</option>
                                <option>Union Sportive de Ben Guerdane</option>
                                <option>Club Sportif Sfaxien</option>
                                <option>USMO</option>
                                <option>ASA</option>
                              </select>
                            </div>
                            <div class="col-md-3">
                              <label>Date de Match</label>

                              <input
                                type="date"
                                class="form-control"
                                id="validationDefault04"
                                placeholder=""
                                required
                              />
                            </div>
                            <div class="col-md-3">
                              <label>Heure de Match</label>

                              <input
                                type="time"
                                class="form-control"
                                id="validationDefault04"
                                placeholder=""
                                required
                              />
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="col-md-6">
                              <label>Domicile</label>

                              <select class="form-control">
                                <option selected>Local</option>
                                <option>Exterieur</option>
                              </select>
                            </div>
                            <div class="col-md-6">
                              <label> Lieu</label>

                              <select class="form-control">
                                <option selected>Lieu 1</option>
                                <option>Lieu 2</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="col-md-12">
                              <label>Etat</label>

                              <select class="form-control">
                                <option selected>A Jouer</option>
                                <option>Joué</option>
                                <option>Reporter</option>
                              </select>
                            </div>
                          </div>

                          <div class="row" class="text-right">
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-white btn-xs dropdown-toggle"
                                data-dismiss="modal"
                              >
                                Annuler
                              </button>
                              <button
                                type="button"
                                class="btn btn-primary btn-xs dropdown-toggle"
                              >
                                Ajouter
                              </button>
                            </div>
                          </div>
                        </form>
                        <!-- Mettez ici les champs du formulaire pour l'Option 1 -->
                      </div>
                    </div>
                  </div>
                  <div class="wrapper wrapper-content animated fadeInDown">
                    <div class="row">
                      <div *ngIf="selectedOption === 'option2'">
                        <form class="form-horizontal">
                          <div class="form-row">
                            <div class="col-md-12">
                              <label>Compétition</label>

                              <select class="form-control">
                                <option selected>Championnat</option>
                                <option>Champions League</option>
                                <option>Coupe de la CAF</option>
                                <option>Coupe</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col-md-6">
                              <label>Adversaire</label>
                              <select class="form-control">
                                <option>Stade Tunisien</option>
                                <option>Union Sportive de Ben Guerdane</option>
                                <option>Club Sportif Sfaxien</option>
                                <option>USMO</option>
                                <option>ASA</option>
                              </select>
                            </div>
                            <div class="col-md-3">
                              <label>Date de Match</label>

                              <input
                                type="date"
                                class="form-control"
                                id="validationDefault04"
                                placeholder=""
                                required
                              />
                            </div>
                            <div class="col-md-3">
                              <label>Heure de Match</label>

                              <input
                                type="time"
                                class="form-control"
                                id="validationDefault04"
                                placeholder=""
                                required
                              />
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="col-md-6">
                              <label>Domicile</label>

                              <select class="form-control">
                                <option selected>Local</option>
                                <option>Exterieur</option>
                              </select>
                            </div>
                            <div class="col-md-6">
                              <label> Lieu</label>

                              <select class="form-control">
                                <option selected>Lieu 1</option>
                                <option>Lieu 2</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="col-md-12">
                              <label>Etat</label>

                              <select class="form-control">
                                <option selected>A Jouer</option>
                                <option>Joué</option>
                                <option>Reporter</option>
                              </select>
                            </div>
                          </div>

                          <div class="row" class="text-right">
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-white"
                                data-dismiss="modal"
                              >
                                Annuler
                              </button>
                              <button
                                type="button"
                                class="btn btn-primary btn-xs dropdown-toggle"
                              >
                                Ajouter
                              </button>
                            </div>
                          </div>
                        </form>
                        <!-- Mettez ici les champs du formulaire pour l'Option 2 -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 pull-right">
          <div class="input-group">
            <input
              type="text"
              placeholder="Rechercher"
              class="input-sm form-control"
            />
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 10%">Logo</th>
              <th style="width: 20%">Adversaire</th>
              <th style="width: 20%">Compétition</th>
              <th style="width: 10%">Date</th>
              <th style="width: 10%">Statut</th>
              <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  src="assets/img/logostade.png"
                  alt="image"
                  class="img-circle"
                  width="40%"
                  height="40%"
                />
              </td>
              <td>USMO</td>
              <td>CHAMPIONNAT</td>
              <td>22/10/2023</td>
              <td>A jouer</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li>
                      <a routerLink="FicheMatch">Details Match</a>
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="assets/img/logostade.png"
                  alt="image"
                  class="img-circle"
                  width="40%"
                  height="40%"
                />
              </td>
              <td>Stade Tunisien</td>
              <td>CHAMPIONNAT</td>
              <td>29/10/2023</td>
              <td>A jouer</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li>
                      <a routerLink="FicheMatch">Details Match</a>
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="assets/img/logosfax.png"
                  alt="image"
                  class="img-circle"
                  width="40%"
                  height="40%"
                />
              </td>
              <td>Club Sportif Sfaxien</td>
              <td>CHAMPIONS LEAGUE</td>
              <td>29/10/2023</td>
              <td>joué</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li>
                      <a routerLink="FicheMatch">Details Match</a>
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          class="modal inmodal fade"
          id="myModalModifier"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span
                  ><span class="sr-only">Fermer</span>
                </button>
                <h4 class="modal-title">Modifier Match</h4>
              </div>
              <div class="modal-body">
                <div>
                  <label for="options"> Type Match</label>
                  <select
                    class="form-control"
                    id="options"
                    [(ngModel)]="selectedOption"
                  >
                    <option selected value="option1">Match Libre</option>
                    <option value="option2">Match Compétition</option>
                  </select>
                </div>
                <div class="wrapper wrapper-content animated fadeInDown">
                  <div class="row">
                    <div *ngIf="selectedOption === 'option1'">
                      <form class="form-horizontal">
                        <div class="form-row">
                          <div class="col-md-6">
                            <label>Adversaire</label>
                            <select class="form-control">
                              <option>Stade Tunisien</option>
                              <option>Union Sportive de Ben Guerdane</option>
                              <option>Club Sportif Sfaxien</option>
                              <option>USMO</option>
                              <option>ASA</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <label>Date de Match</label>

                            <input
                              type="date"
                              class="form-control"
                              id="validationDefault04"
                              placeholder=""
                              required
                            />
                          </div>
                          <div class="col-md-3">
                            <label>Heure de Match</label>

                            <input
                              type="time"
                              class="form-control"
                              id="validationDefault04"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="col-md-6">
                            <label>Domicile</label>

                            <select class="form-control">
                              <option selected>Local</option>
                              <option>Exterieur</option>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <label> Lieu</label>

                            <select class="form-control">
                              <option selected>Lieu 1</option>
                              <option>Lieu 2</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="col-md-12">
                            <label>Etat</label>

                            <select class="form-control">
                              <option selected>A Jouer</option>
                              <option>Joué</option>
                              <option>Reporter</option>
                            </select>
                          </div>
                        </div>

                        <div class="row" class="text-right">
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-white btn-xs dropdown-toggle"
                              data-dismiss="modal"
                            >
                              Annuler
                            </button>
                            <button
                              type="button"
                              class="btn btn-primary btn-xs dropdown-toggle"
                            >
                              Modifier
                            </button>
                          </div>
                        </div>
                      </form>
                      <!-- Mettez ici les champs du formulaire pour l'Option 1 -->
                    </div>
                  </div>
                </div>
                <div class="wrapper wrapper-content animated fadeInDown">
                  <div class="row">
                    <div *ngIf="selectedOption === 'option2'">
                      <form class="form-horizontal">
                        <div class="form-row">
                          <div class="col-md-12">
                            <label>Compétition</label>

                            <select class="form-control">
                              <option selected>Championnat</option>
                              <option>Champions League</option>
                              <option>Coupe de la CAF</option>
                              <option>Coupe</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-6">
                            <label>Adversaire</label>
                            <select class="form-control">
                              <option>Stade Tunisien</option>
                              <option>Union Sportive de Ben Guerdane</option>
                              <option>Club Sportif Sfaxien</option>
                              <option>USMO</option>
                              <option>ASA</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <label>Date de Match</label>

                            <input
                              type="date"
                              class="form-control"
                              id="validationDefault04"
                              placeholder=""
                              required
                            />
                          </div>
                          <div class="col-md-3">
                            <label>Heure de Match</label>

                            <input
                              type="time"
                              class="form-control"
                              id="validationDefault04"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="col-md-6">
                            <label>Domicile</label>

                            <select class="form-control">
                              <option selected>Local</option>
                              <option>Exterieur</option>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <label> Lieu</label>

                            <select class="form-control">
                              <option selected>Lieu 1</option>
                              <option>Lieu 2</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="col-md-12">
                            <label>Etat</label>

                            <select class="form-control">
                              <option selected>A Jouer</option>
                              <option>Joué</option>
                              <option>Reporter</option>
                            </select>
                          </div>
                        </div>

                        <div class="row" class="text-right">
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-white"
                              data-dismiss="modal"
                            >
                              Annuler
                            </button>
                            <button
                              type="button"
                              class="btn btn-primary btn-xs dropdown-toggle"
                            >
                              Ajouter
                            </button>
                          </div>
                        </div>
                      </form>
                      <!-- Mettez ici les champs du formulaire pour l'Option 2 -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
