<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Blessures</h2>
  </div>
  <div class="col-lg-2 text-right">Club Africain 2023</div>
</div>
<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="row mb-3">
          <div
            class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-right"
          >
            <button
              data-toggle="modal"
              data-target="#myModal"
              class="btn btn-lg btn-primary"
              class="btn btn-outline btn-info add dim"
              title="Ajouter"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div
            class="modal inmodal"
            id="myModal"
            tabindex="-1"
            role="dialog"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                  <h6 class="modal-title">Ajouter Blessures</h6>
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span
                    ><span class="sr-only">Fermer</span>
                  </button>
                </div>
                <br /><br />

                <div class="modal-body">
                  <form>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label>Compétitions </label>
                        <select class="form-control">
                          <option>CHAMPIONS LEAGUE</option>
                          <option selected>CHAMPIONNAT</option>
                          <option>COUPE</option>
                          <option></option>
                          <option></option>
                          <option></option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <label>Titre </label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationDefault04"
                          placeholder=""
                          required
                        />
                      </div>
                      <div class="col-md-6 mb-3">
                        <label f>Cause</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationDefault04"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <label f>Descipition </label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationDefault04"
                          placeholder=""
                          required
                        />
                      </div>
                      <div class="col-md-6 mb-3">
                        <label f>Joueur </label>
                        <select class="form-control">
                          <option value="" selected>Joueur 1</option>
                          <option value="option1">Joueur 2</option>
                          <option value="" selected>Joueur 3</option>
                          <option value="option1">Joueur 4</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <label>Date Blessure </label>
                        <input
                          type="date"
                          class="form-control"
                          id="validationDefault04"
                          placeholder=""
                          required
                        />
                      </div>
                      <div class="col-md-6 mb-3">
                        <label>Date Reprise</label>
                        <input
                          type="date"
                          class="form-control"
                          id="validationDefault04"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label f>Notes </label>
                        <textarea
                          type="text"
                          class="form-control"
                          id="validationDefault04"
                          placeholder=""
                          required
                        ></textarea>
                      </div>
                    </div>
                    <br />
                    <div class="row" class="text-right">
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-white btn-xs dropdown-toggle"
                          data-dismiss="modal"
                        >
                          Annuler
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary btn-xs dropdown-toggle"
                        >
                          Ajouter
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <br /><br />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 pull-right">
          <div class="input-group">
            <input
              type="text"
              placeholder="Rechercher"
              class="input-sm form-control"
            />
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 10%">Catégorie</th>
              <th style="width: 10%">Notes</th>
              <th style="width: 10%">Joueur</th>
              <th style="width: 10%">Date Début</th>
              <th style="width: 10%">Date Fin</th>

              <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Catégorie 1</td>
              <td>Mauvaise mouvement</td>
              <td>Ahmed Khalil</td>
              <td>12/03/2023</td>
              <td>13/01/2023</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>Catégorie 2</td>
              <td>Notes 1</td>
              <td>Mouez Hassen</td>
              <td>22/12/2022</td>
              <td>01/03/2023</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>Catégorie 1</td>
              <td>Mauvaise mouvement</td>
              <td>Ahmed Khalil</td>
              <td>12/03/2023</td>
              <td>13/01/2023</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>Catégorie 1</td>
              <td>Mauvaise mouvement</td>
              <td>Ahmed Khalil</td>
              <td>12/03/2023</td>
              <td>13/01/2023</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>Catégorie 1</td>
              <td>Mauvaise mouvement</td>
              <td>Ahmed Khalil</td>
              <td>12/03/2023</td>
              <td>13/01/2023</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>Catégorie 1</td>
              <td>Mauvaise mouvement</td>
              <td>Ahmed Khalil</td>
              <td>12/03/2023</td>
              <td>13/01/2023</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>Catégorie 1</td>
              <td>Mauvaise mouvement</td>
              <td>Ahmed Khalil</td>
              <td>12/03/2023</td>
              <td>13/01/2023</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#myModalModifier"
                        >Modifier</a
                      >
                    </li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          class="modal inmodal"
          id="myModalModifier"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
              <div class="modal-header">
                <h6 class="modal-title">Modifier Blessures</h6>
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span
                  ><span class="sr-only">Fermer</span>
                </button>
              </div>
              <br /><br />

              <div class="modal-body">
                <form>
                  <div class="form-row">
                    <div class="col-md-12 mb-3">
                      <label>Compétitions </label>
                      <select class="form-control">
                        <option>CHAMPIONS LEAGUE</option>
                        <option selected>CHAMPIONNAT</option>
                        <option>COUPE</option>
                        <option></option>
                        <option></option>
                        <option></option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label>Titre </label>
                      <input
                        type="text"
                        class="form-control"
                        id="validationDefault04"
                        placeholder=""
                        required
                      />
                    </div>
                    <div class="col-md-6 mb-3">
                      <label f>Cause</label>
                      <input
                        type="text"
                        class="form-control"
                        id="validationDefault04"
                        placeholder=""
                        required
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label f>Descipition </label>
                      <input
                        type="text"
                        class="form-control"
                        id="validationDefault04"
                        placeholder=""
                        required
                      />
                    </div>
                    <div class="col-md-6 mb-3">
                      <label f>Joueur </label>
                      <select class="form-control">
                        <option value="" selected>Joueur 1</option>
                        <option value="option1">Joueur 2</option>
                        <option value="" selected>Joueur 3</option>
                        <option value="option1">Joueur 4</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label>Date Blessure </label>
                      <input
                        type="date"
                        class="form-control"
                        id="validationDefault04"
                        placeholder=""
                        required
                      />
                    </div>
                    <div class="col-md-6 mb-3">
                      <label>Date Reprise</label>
                      <input
                        type="date"
                        class="form-control"
                        id="validationDefault04"
                        placeholder=""
                        required
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12 mb-3">
                      <label f>Notes </label>
                      <textarea
                        type="text"
                        class="form-control"
                        id="validationDefault04"
                        placeholder=""
                        required
                      ></textarea>
                    </div>
                  </div>
                  <br />
                  <div class="row" class="text-right">
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-white btn-xs dropdown-toggle"
                        data-dismiss="modal"
                      >
                        Annuler
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary btn-xs dropdown-toggle"
                      >
                        Ajouter
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <br /><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
