<div class="wrapper wrapper-content animated fadeInDown">
  <div id="Entete" class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="logo-center col-lg-2">
          <div class="logo-center">
            <img width="100%" height="105%" src="assets/img/clubaf.png" />
          </div>
        </div>
        <div class="logo-center col-lg-8">
          <br />
          <br />
          <h4 class="text-center">Contacts</h4>
        </div>

        <div class="logo-center col-lg-2"></div>
      </div>
      <div class="row col-lg-12">
        <h4>Joueurs</h4>

        <table style="width: 100%" class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center" style="width: 50%">Nom & Prénom</th>
              <th class="text-center" style="width: 10%">N° Tél</th>
              <th class="text-center" style="width: 10%">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Moez Hassen</td>
              <td class="text-center">23 098 789</td>
              <td class="text-center">Moez@gmail.com</td>
            </tr>
            <tr>
              <td class="text-center">Ala Ghram</td>
              <td class="text-center">98 768 890</td>
              <td class="text-center">Ala45@gmail.com</td>
            </tr>
            <tr>
              <td class="text-center">Mouhamed Hassen</td>
              <td class="text-center">24 564 435</td>
              <td class="text-center">Mouhamed231@gmail.com</td>
            </tr>
            <tr>
              <td class="text-center">Moez Hassen</td>
              <td class="text-center">23 098 789</td>
              <td class="text-center">Moez@gmail.com</td>
            </tr>
            <tr>
              <td class="text-center">Ala Ghram</td>
              <td class="text-center">98 768 890</td>
              <td class="text-center">Ala45@gmail.com</td>
            </tr>
            <tr>
              <td class="text-center">Mouhamed Hassen</td>
              <td class="text-center">24 564 435</td>
              <td class="text-center">Mouhamed231@gmail.com</td>
            </tr>
          </tbody>
        </table>
        <br />
        <h4>Staff</h4>

        <table style="width: 100%" class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center" style="width: 50%">Nom & Prénom</th>
              <th class="text-center" style="width: 10%">N° Tél</th>
              <th class="text-center" style="width: 10%">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Moez Hassen</td>
              <td class="text-center">23 098 789</td>
              <td class="text-center">Moez@gmail.com</td>
            </tr>
            <tr>
              <td class="text-center">Ala Ghram</td>
              <td class="text-center">98 768 890</td>
              <td class="text-center">Ala45@gmail.com</td>
            </tr>
            <tr>
              <td class="text-center">Mouhamed Hassen</td>
              <td class="text-center">24 564 435</td>
              <td class="text-center">Mouhamed231@gmail.com</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="modal-footer">
          <input
            type="submit"
            class="btn btn-primary btn-xs dropdown-toggle"
            value="Valider"
          />

          <input
            type="submit"
            class="btn btn-white btn-xs dropdown-toggle"
            value="Annuler"
          />
        </div>
      </div>
    </div>
  </div>
</div>
