#Entet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-center,
.logo-center {
  padding: 10px;
  text-align: center;
}
.container {
  padding: 10px;
}
