<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <div class="tab-content">
          <div role="tabpanel" id="" class="tab-pane active">
            <div class="panel-body">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-right"
                >
                  <button
                    class="btn btn-lg btn-outline-primary"
                    (click)="openTransfert(contentTransfert)"
                    class="btn btn-outline btn-info add dim"
                    title="Ajouter"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <div class="table-responsive">
                <div
                  id="table_clients_wrapper"
                  class="dataTables_wrapper dt-bootstrap4 no-footer"
                >
                  <div class="row">
                    <form>
                      <div class="row">
                        <div class="col-12 col-md-3 col-lg-3">
                          Dépôt Départ
                          <select required="required" class="form-control">
                            <option value="0" selected="selected">
                              Sélectionner Dépôt
                            </option>
                            <option value="1">
                              FR0001 - STRATEGY &amp; MANAGEMENT SERVICES
                            </option>
                            <option value="3">FR0002 - KREATIVA</option>
                            <option value="5">FR0003 - TOPNET</option>
                            <option value="6">FR0004 - ACTIVE TRAVEL</option>
                            <option value="7">FR0005 - PIXELS TREND</option>
                            <option value="8">
                              FR0006 - I'm TECH COMMUNICATION
                            </option>
                            <option value="9">FR0007 - TUNISIE TELECOM</option>
                            <option value="10">FR0008 - OOREDOO</option>
                            <option value="11">FR0009 - SARP</option>
                            <option value="12">FR0010 - TRENDY BRAIN</option>
                            <option value="13">FR0011 - GAT ASSURANCE</option>
                            <option value="14">FR0012 - STEG</option>
                            <option value="15">FR0013 - M.KRAIEM</option>
                            <option value="16">FR0014 - TOTAL</option>
                            <option value="17">FR0015 - NAFAA BAHLOUL</option>
                            <option value="19">FR0016 - FR0013</option>
                            <option value="20">FR0017 - TUNISIA TECH</option>
                            <option value="21">FR0018 - BH ASSURRANCES</option>
                            <option value="22">
                              FR0019 - FONDATION BOUEBDELLI
                            </option>
                            <option value="23">FR0020 - FATALES</option>
                            <option value="2">FR0021 - MYNET SERVICES</option>
                            <option value="25">
                              FR0022 - SELENE TECHNOLOGY
                            </option>
                            <option value="26">FR0023 - M.A.F</option>
                            <option value="27">
                              FR0024 - MAHMOUD KARABAKA
                            </option>
                            <option value="28">FR0025 - SFAX PNEUS</option>
                            <option value="29">FR0026 - CONDOR</option>
                            <option value="30">
                              FR0027 - CABINET LAHMAR MOHAMED
                            </option>
                            <option value="31">FR0028 - MASMOUDI EMNA</option>
                            <option value="32">FR0029 - MAHDI KECHAOU</option>
                            <option value="33">FR0030 - ANIS HEDHLI</option>
                            <option value="34">FR0031 - AYMEN RAMDHANI</option>
                            <option value="35">
                              FR0032 - Koussay Elamir Thabet
                            </option>
                            <option value="36">
                              FR0033 - Montassar Agrebi
                            </option>
                            <option value="37">FR0034 - Sarra Kthiri</option>
                            <option value="38">
                              FR0035 - AYADI TRANSITAIRE
                            </option>
                            <option value="39">FR0036 - LA CREA</option>
                            <option value="40">
                              FR0037 - MENUISERIE GENERAL RIMEH ET DJO
                            </option>
                            <option value="41">
                              FR0038 - MULTIPROD TUNISIA
                            </option>
                            <option value="42">FR0039 - FR0003</option>
                            <option value="43">FR0040 - K2A CONSULTING</option>
                          </select>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                          Dépôt Destinataire

                          <select required="required" class="form-control">
                            <option value="0" selected="selected">
                              Sélectionner Dépôt
                            </option>
                            <option value="1">
                              FR0001 - STRATEGY &amp; MANAGEMENT SERVICES
                            </option>
                            <option value="3">FR0002 - KREATIVA</option>
                            <option value="5">FR0003 - TOPNET</option>
                            <option value="6">FR0004 - ACTIVE TRAVEL</option>
                            <option value="7">FR0005 - PIXELS TREND</option>
                            <option value="8">
                              FR0006 - I'm TECH COMMUNICATION
                            </option>
                            <option value="9">FR0007 - TUNISIE TELECOM</option>
                            <option value="10">FR0008 - OOREDOO</option>
                            <option value="11">FR0009 - SARP</option>
                            <option value="12">FR0010 - TRENDY BRAIN</option>
                            <option value="13">FR0011 - GAT ASSURANCE</option>
                            <option value="14">FR0012 - STEG</option>
                            <option value="15">FR0013 - M.KRAIEM</option>
                            <option value="16">FR0014 - TOTAL</option>
                            <option value="17">FR0015 - NAFAA BAHLOUL</option>
                            <option value="19">FR0016 - FR0013</option>
                            <option value="20">FR0017 - TUNISIA TECH</option>
                            <option value="21">FR0018 - BH ASSURRANCES</option>
                            <option value="22">
                              FR0019 - FONDATION BOUEBDELLI
                            </option>
                            <option value="23">FR0020 - FATALES</option>
                            <option value="2">FR0021 - MYNET SERVICES</option>
                            <option value="25">
                              FR0022 - SELENE TECHNOLOGY
                            </option>
                            <option value="26">FR0023 - M.A.F</option>
                            <option value="27">
                              FR0024 - MAHMOUD KARABAKA
                            </option>
                            <option value="28">FR0025 - SFAX PNEUS</option>
                            <option value="29">FR0026 - CONDOR</option>
                            <option value="30">
                              FR0027 - CABINET LAHMAR MOHAMED
                            </option>
                            <option value="31">FR0028 - MASMOUDI EMNA</option>
                            <option value="32">FR0029 - MAHDI KECHAOU</option>
                            <option value="33">FR0030 - ANIS HEDHLI</option>
                            <option value="34">FR0031 - AYMEN RAMDHANI</option>
                            <option value="35">
                              FR0032 - Koussay Elamir Thabet
                            </option>
                            <option value="36">
                              FR0033 - Montassar Agrebi
                            </option>
                            <option value="37">FR0034 - Sarra Kthiri</option>
                            <option value="38">
                              FR0035 - AYADI TRANSITAIRE
                            </option>
                            <option value="39">FR0036 - LA CREA</option>
                            <option value="40">
                              FR0037 - MENUISERIE GENERAL RIMEH ET DJO
                            </option>
                            <option value="41">
                              FR0038 - MULTIPROD TUNISIA
                            </option>
                            <option value="42">FR0039 - FR0003</option>
                            <option value="43">FR0040 - K2A CONSULTING</option>
                          </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-2">
                          Date début
                          <input
                            type="date"
                            class="form-control"
                            name="date_start"
                            value=""
                            required="required"
                          />
                        </div>
                        <div class="col-12 col-sm-6 col-md-2">
                          Date fin
                          <input
                            type="date"
                            class="form-control"
                            required="required"
                          />
                        </div>
                        <div class="col-12 col-md-2 text-center">
                          <br />
                          <input
                            type="submit"
                            class="btn btn-primary"
                            value="Afficher"
                          />
                          <input type="hidden" value="1" />
                        </div>
                      </div>
                    </form>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="table_clients_length">
                        <label
                          >Afficher
                          <select
                            name="table_clients_length"
                            aria-controls="table_clients"
                            class="custom-select custom-select-sm form-control form-control-sm"
                          >
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          entrées
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div id="table_clients_filter" class="dataTables_filter">
                        <label
                          >Rechercher :
                          <input
                            type="search"
                            class="form-control form-control-sm"
                            placeholder=""
                            aria-controls="table_clients"
                          />
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <table
                        id="table_clients"
                        class="table table-striped table-bordered table-hover dataTables-example dataTable no-footer"
                        role="grid"
                        aria-describedby="table_clients_info"
                        style="width: 100%"
                      >
                        <thead>
                          <tr>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              N° Mouvement
                            </th>

                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Date
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Dépôt Départ
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Dépôt Déstinataire
                            </th>

                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Etat
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Quantité Transférée
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Quantité Reçue
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Actions
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>BT23000002</td>
                            <td>24/02/2023</td>
                            <td>DP001</td>

                            <td>DP002</td>
                            <td>Terminer</td>

                            <td>120</td>
                            <td>120</td>

                            <td class="overflow-hidden">
                              <div ngbDropdown container="body">
                                <button
                                  type="button"
                                  class="btn btn-primary"
                                  ngbDropdownToggle
                                >
                                  Actions
                                </button>
                                <div ngbDropdownMenu>
                                  <button
                                    routerLink="404NotFound"
                                    ngbDropdownItem
                                  >
                                    Modifier
                                  </button>

                                  <button
                                    routerLink="404NotFound"
                                    ngbDropdownItem
                                  >
                                    Supprimer
                                  </button>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>BT23000002</td>
                            <td>24/02/2023</td>
                            <td>DP001</td>

                            <td>DP002</td>
                            <td>Terminer</td>

                            <td>120</td>
                            <td>120</td>

                            <td class="overflow-hidden">
                              <div ngbDropdown container="body">
                                <button
                                  type="button"
                                  class="btn btn-primary"
                                  ngbDropdownToggle
                                >
                                  Actions
                                </button>
                                <div ngbDropdownMenu>
                                  <button
                                    routerLink="404NotFound"
                                    ngbDropdownItem
                                  >
                                    Modifier
                                  </button>

                                  <button
                                    routerLink="404NotFound"
                                    ngbDropdownItem
                                  >
                                    Supprimer
                                  </button>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>BT23000002</td>
                            <td>24/02/2023</td>
                            <td>DP001</td>

                            <td>DP002</td>
                            <td>Terminer</td>

                            <td>120</td>
                            <td>120</td>

                            <td class="overflow-hidden">
                              <div ngbDropdown container="body">
                                <button
                                  type="button"
                                  class="btn btn-primary"
                                  ngbDropdownToggle
                                >
                                  Actions
                                </button>
                                <div ngbDropdownMenu>
                                  <button
                                    routerLink="404NotFound"
                                    ngbDropdownItem
                                  >
                                    Modifier
                                  </button>

                                  <button
                                    routerLink="404NotFound"
                                    ngbDropdownItem
                                  >
                                    Supprimer
                                  </button>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>BT23000002</td>
                            <td>24/02/2023</td>
                            <td>DP001</td>

                            <td>DP002</td>
                            <td>Terminer</td>

                            <td>120</td>
                            <td>120</td>

                            <td class="overflow-hidden">
                              <div ngbDropdown container="body">
                                <button
                                  type="button"
                                  class="btn btn-primary"
                                  ngbDropdownToggle
                                >
                                  Actions
                                </button>
                                <div ngbDropdownMenu>
                                  <button
                                    routerLink="404NotFound"
                                    ngbDropdownItem
                                  >
                                    Modifier
                                  </button>

                                  <button
                                    routerLink="404NotFound"
                                    ngbDropdownItem
                                  >
                                    Supprimer
                                  </button>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <div
                        id="table_clients_processing"
                        class="dataTables_processing card"
                        style="display: none"
                      >
                        Traitement...
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div
                        class="dataTables_info"
                        id="table_clients_info"
                        role="status"
                        aria-live="polite"
                      >
                        Affichage de 1 à 10 sur 18 entrées
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div
                        class="text-right"
                        class="dataTables_paginate paging_simple_numbers"
                        id="table_clients_paginate"
                      >
                        <ul class="pagination">
                          <li
                            class="paginate_button page-item previous disabled"
                            id="table_clients_previous"
                          >
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="0"
                              tabindex="0"
                              class="page-link"
                              >Précédent</a
                            >
                          </li>
                          <li class="paginate_button page-item active">
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="1"
                              tabindex="0"
                              class="page-link"
                              >1</a
                            >
                          </li>

                          <li class="paginate_button page-item">
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="2"
                              tabindex="0"
                              class="page-link"
                              >2</a
                            >
                          </li>
                          <li
                            class="paginate_button page-item next"
                            id="table_clients_next"
                          >
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="3"
                              tabindex="0"
                              class="page-link"
                              >Suivant</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTransfert let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Transfert</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationDefault02">N° Bon Transfert</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault02"
            placeholder=""
            required
          />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefault04">Dépôt Départ</label>
          <select required="required" class="form-control">
            <option value="0" selected="selected">Sélectionner Dépôt</option>
            <option value="1">
              FR0001 - STRATEGY &amp; MANAGEMENT SERVICES
            </option>
            <option value="3">FR0002 - KREATIVA</option>
            <option value="5">FR0003 - TOPNET</option>
            <option value="6">FR0004 - ACTIVE TRAVEL</option>
            <option value="7">FR0005 - PIXELS TREND</option>
            <option value="8">FR0006 - I'm TECH COMMUNICATION</option>
            <option value="9">FR0007 - TUNISIE TELECOM</option>
            <option value="10">FR0008 - OOREDOO</option>
            <option value="11">FR0009 - SARP</option>
            <option value="12">FR0010 - TRENDY BRAIN</option>
            <option value="13">FR0011 - GAT ASSURANCE</option>
            <option value="14">FR0012 - STEG</option>
            <option value="15">FR0013 - M.KRAIEM</option>
            <option value="16">FR0014 - TOTAL</option>
            <option value="17">FR0015 - NAFAA BAHLOUL</option>
            <option value="19">FR0016 - FR0013</option>
            <option value="20">FR0017 - TUNISIA TECH</option>
            <option value="21">FR0018 - BH ASSURRANCES</option>
            <option value="22">FR0019 - FONDATION BOUEBDELLI</option>
            <option value="23">FR0020 - FATALES</option>
            <option value="2">FR0021 - MYNET SERVICES</option>
            <option value="25">FR0022 - SELENE TECHNOLOGY</option>
            <option value="26">FR0023 - M.A.F</option>
            <option value="27">FR0024 - MAHMOUD KARABAKA</option>
            <option value="28">FR0025 - SFAX PNEUS</option>
            <option value="29">FR0026 - CONDOR</option>
            <option value="30">FR0027 - CABINET LAHMAR MOHAMED</option>
            <option value="31">FR0028 - MASMOUDI EMNA</option>
            <option value="32">FR0029 - MAHDI KECHAOU</option>
            <option value="33">FR0030 - ANIS HEDHLI</option>
            <option value="34">FR0031 - AYMEN RAMDHANI</option>
            <option value="35">FR0032 - Koussay Elamir Thabet</option>
            <option value="36">FR0033 - Montassar Agrebi</option>
            <option value="37">FR0034 - Sarra Kthiri</option>
            <option value="38">FR0035 - AYADI TRANSITAIRE</option>
            <option value="39">FR0036 - LA CREA</option>
            <option value="40">FR0037 - MENUISERIE GENERAL RIMEH ET DJO</option>
            <option value="41">FR0038 - MULTIPROD TUNISIA</option>
            <option value="42">FR0039 - FR0003</option>
            <option value="43">FR0040 - K2A CONSULTING</option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefault04">Dépôt Destinataire</label>
          <select required="required" class="form-control">
            <option value="0" selected="selected">Sélectionner Dépôt</option>
            <option value="1">
              FR0001 - STRATEGY &amp; MANAGEMENT SERVICES
            </option>
            <option value="3">FR0002 - KREATIVA</option>
            <option value="5">FR0003 - TOPNET</option>
            <option value="6">FR0004 - ACTIVE TRAVEL</option>
            <option value="7">FR0005 - PIXELS TREND</option>
            <option value="8">FR0006 - I'm TECH COMMUNICATION</option>
            <option value="9">FR0007 - TUNISIE TELECOM</option>
            <option value="10">FR0008 - OOREDOO</option>
            <option value="11">FR0009 - SARP</option>
            <option value="12">FR0010 - TRENDY BRAIN</option>
            <option value="13">FR0011 - GAT ASSURANCE</option>
            <option value="14">FR0012 - STEG</option>
            <option value="15">FR0013 - M.KRAIEM</option>
            <option value="16">FR0014 - TOTAL</option>
            <option value="17">FR0015 - NAFAA BAHLOUL</option>
            <option value="19">FR0016 - FR0013</option>
            <option value="20">FR0017 - TUNISIA TECH</option>
            <option value="21">FR0018 - BH ASSURRANCES</option>
            <option value="22">FR0019 - FONDATION BOUEBDELLI</option>
            <option value="23">FR0020 - FATALES</option>
            <option value="2">FR0021 - MYNET SERVICES</option>
            <option value="25">FR0022 - SELENE TECHNOLOGY</option>
            <option value="26">FR0023 - M.A.F</option>
            <option value="27">FR0024 - MAHMOUD KARABAKA</option>
            <option value="28">FR0025 - SFAX PNEUS</option>
            <option value="29">FR0026 - CONDOR</option>
            <option value="30">FR0027 - CABINET LAHMAR MOHAMED</option>
            <option value="31">FR0028 - MASMOUDI EMNA</option>
            <option value="32">FR0029 - MAHDI KECHAOU</option>
            <option value="33">FR0030 - ANIS HEDHLI</option>
            <option value="34">FR0031 - AYMEN RAMDHANI</option>
            <option value="35">FR0032 - Koussay Elamir Thabet</option>
            <option value="36">FR0033 - Montassar Agrebi</option>
            <option value="37">FR0034 - Sarra Kthiri</option>
            <option value="38">FR0035 - AYADI TRANSITAIRE</option>
            <option value="39">FR0036 - LA CREA</option>
            <option value="40">FR0037 - MENUISERIE GENERAL RIMEH ET DJO</option>
            <option value="41">FR0038 - MULTIPROD TUNISIA</option>
            <option value="42">FR0039 - FR0003</option>
            <option value="43">FR0040 - K2A CONSULTING</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-2 mb-3">
          <label for="validationDefault02">Véhicule</label>
          <select class="form-control">
            <option value="" selected></option>
            <option value="option1"></option>
            <option value="option1"></option>
          </select>
        </div>
        <div class="col-md-2 mb-3">
          <label for="validationDefault04">Livreur</label>
          <select class="form-control">
            <option value="" selected></option>
            <option value="option1"></option>
            <option value="option1"></option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefault04">Adresse Dépôt Départ</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault02"
            placeholder=""
            required
          />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefault04">Adresse Dépôt Destinataire</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault02"
            placeholder=""
            required
          />
        </div>
      </div>
      <br />
      <div>
        <div class="col-12 text-center pb-3">
          <form>
            <div class="row">
              <div class="col">
                <select required="required" class="form-control">
                  <option value="0" selected="selected">Référence</option>

                  <option></option>
                  <option></option>
                </select>
              </div>
              <div class="col">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Désignation"
                  required="required"
                  value=""
                />
              </div>
              <div class="col">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Quantité"
                  required="required"
                  value=""
                />
              </div>
              <div class="col">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Cout Unitaire"
                  required="required"
                  value=""
                />
              </div>
              <div class="col">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Cout Total"
                  required="required"
                  value=""
                />
              </div>

              <div class="col">
                <input class="btn btn-primary" type="submit" value="Ajouter" />
              </div>
            </div>
          </form>
        </div>
        <table
          id="table_clients"
          class="table table-striped table-bordered table-hover dataTables-example dataTable no-footer"
          role="grid"
          aria-describedby="table_clients_info"
          style="width: 100%"
        >
          <thead>
            <tr>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="table_clients"
                rowspan="1"
                colspan="1"
                aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                style="width: 10%"
              >
                Référence
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="table_clients"
                rowspan="1"
                colspan="1"
                aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                style="width: 10%"
              >
                Désignation
              </th>

              <th
                class="sorting"
                tabindex="0"
                aria-controls="table_clients"
                rowspan="1"
                colspan="1"
                aria-label="Type : activer pour trier la colonne par ordre croissant"
                style="width: 10%"
              >
                Quantité
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="table_clients"
                rowspan="1"
                colspan="1"
                aria-label="Type : activer pour trier la colonne par ordre croissant"
                style="width: 10%"
              >
                Cout Unitaire
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="table_clients"
                rowspan="1"
                colspan="1"
                aria-label="Type : activer pour trier la colonne par ordre croissant"
                style="width: 10%"
              >
                Cout Total
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="table_clients"
                rowspan="1"
                colspan="1"
                aria-label="Type : activer pour trier la colonne par ordre croissant"
                style="width: 10%"
              >
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>BT23000002</td>
              <td>depot</td>
              <td>2423</td>
              <td>2.000</td>
              <td>2.000</td>
              <td class="overflow-hidden">
                <div ngbDropdown container="body">
                  <button
                    type="button"
                    class="btn btn-primary"
                    ngbDropdownToggle
                  >
                    Actions
                  </button>
                  <div ngbDropdownMenu>
                    <button routerLink="404NotFound" ngbDropdownItem>
                      Modifier
                    </button>

                    <button routerLink="404NotFound" ngbDropdownItem>
                      Supprimer
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>BT23000002</td>
              <td>depot</td>
              <td>2423</td>
              <td>2.000</td>
              <td>2.000</td>
              <td class="overflow-hidden">
                <div ngbDropdown container="body">
                  <button
                    type="button"
                    class="btn btn-primary"
                    ngbDropdownToggle
                  >
                    Actions
                  </button>
                  <div ngbDropdownMenu>
                    <button routerLink="404NotFound" ngbDropdownItem>
                      Modifier
                    </button>

                    <button routerLink="404NotFound" ngbDropdownItem>
                      Supprimer
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>BT23000002</td>
              <td>depot</td>
              <td>2423</td>
              <td>2.000</td>
              <td>2.000</td>
              <td class="overflow-hidden">
                <div ngbDropdown container="body">
                  <button
                    type="button"
                    class="btn btn-primary"
                    ngbDropdownToggle
                  >
                    Actions
                  </button>
                  <div ngbDropdownMenu>
                    <button routerLink="404NotFound" ngbDropdownItem>
                      Modifier
                    </button>

                    <button routerLink="404NotFound" ngbDropdownItem>
                      Supprimer
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>BT23000002</td>
              <td>depot</td>
              <td>2423</td>
              <td>2.000</td>
              <td>2.000</td>
              <td class="overflow-hidden">
                <div ngbDropdown container="body">
                  <button
                    type="button"
                    class="btn btn-primary"
                    ngbDropdownToggle
                  >
                    Actions
                  </button>
                  <div ngbDropdownMenu>
                    <button routerLink="404NotFound" ngbDropdownItem>
                      Modifier
                    </button>

                    <button routerLink="404NotFound" ngbDropdownItem>
                      Supprimer
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row" class="text-right">
        <div class="modal-footer">
          <input
            type="submit"
            class="btn btn-default"
            data-dismiss="modal"
            value="Annuler"
          />
          <input
            type="submit"
            data-dismiss="modal"
            class="btn btn-primary"
            value="Ajouter"
          />
          <input
            type="submit"
            data-dismiss="modal"
            class="btn btn-primary"
            value="Afficher"
          />
        </div>
      </div>
    </form>
  </div>
</ng-template>
