<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Caisse</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-9">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="m-b-md">
                <h2>Folio CS-1</h2>
              </div>
              <dl class="dl-horizontal">
                <dt>Statut:</dt>
                <dd><span class="label label-primary">Ouvert</span></dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5">
              <dl class="dl-horizontal">
                <dt>Date Ouverture :</dt>
                <dd>12/03/2023</dd>
              </dl>
            </div>
            <div class="col-lg-7">
              <dl class="dl-horizontal">
                <dt>Solde Caisse:</dt>
                <dd>20 000.000 DT</dd>
              </dl>
            </div>
          </div>

          <div class="row m-t-sm">
            <div class="col-lg-12">
              <div class="panel blank-panel">
                <div class="panel-heading">
                  <div class="panel-options">
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#tab-2" data-toggle="tab">Encaissement</a>
                      </li>
                      <li class="">
                        <a href="#Depense" data-toggle="tab">Dépense</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="panel-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab-2">
                      <div class="row">
                        <div class="col-sm-3 pull-right">
                          <div class="input-group">
                            <input
                              type="text"
                              placeholder="Rechercher"
                              class="input-sm form-control"
                            />
                            <span class="input-group-btn">
                              <button
                                type="button"
                                class="btn btn-sm btn-primary"
                              >
                                <i class="fa fa-search"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th style="width: 10%">Montant</th>
                              <th style="width: 10%">Reçu de</th>
                              <th style="width: 10%">Date</th>
                              <th style="width: 30%">Note</th>

                              <th style="width: 10%">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-right">50 000.000</td>
                              <td>Président de Club</td>
                              <td>12/03/2022</td>
                              <td>
                                ..................................................................................
                              </td>
                              <td class="overflow-hidden">
                                <div class="btn-group">
                                  <button
                                    data-toggle="dropdown"
                                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                  >
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a
                                        data-toggle="modal"
                                        data-target="#myModalModifier"
                                        >Modifier</a
                                      >
                                    </li>
                                    <li><a href="#">Supprimer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-right">50 000.000</td>
                              <td>Président de Club</td>
                              <td>12/03/2022</td>
                              <td>
                                ..................................................................................
                              </td>
                              <td class="overflow-hidden">
                                <div class="btn-group">
                                  <button
                                    data-toggle="dropdown"
                                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                  >
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a
                                        data-toggle="modal"
                                        data-target="#myModalModifier"
                                        >Modifier</a
                                      >
                                    </li>
                                    <li><a href="#">Supprimer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-right">50 000.000</td>
                              <td>Président de Club</td>
                              <td>12/03/2022</td>
                              <td>
                                ..................................................................................
                              </td>
                              <td class="overflow-hidden">
                                <div class="btn-group">
                                  <button
                                    data-toggle="dropdown"
                                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                  >
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a
                                        data-toggle="modal"
                                        data-target="#myModalModifier"
                                        >Modifier</a
                                      >
                                    </li>
                                    <li><a href="#">Supprimer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-right">50 000.000</td>
                              <td>Président de Club</td>
                              <td>12/03/2022</td>
                              <td>
                                ..................................................................................
                              </td>
                              <td class="overflow-hidden">
                                <div class="btn-group">
                                  <button
                                    data-toggle="dropdown"
                                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                  >
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a
                                        data-toggle="modal"
                                        data-target="#myModalModifier"
                                        >Modifier</a
                                      >
                                    </li>
                                    <li><a href="#">Supprimer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-right">50 000.000</td>
                              <td>Président de Club</td>
                              <td>12/03/2022</td>
                              <td>
                                ..................................................................................
                              </td>
                              <td class="overflow-hidden">
                                <div class="btn-group">
                                  <button
                                    data-toggle="dropdown"
                                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                  >
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a
                                        data-toggle="modal"
                                        data-target="#myModalModifier"
                                        >Modifier</a
                                      >
                                    </li>
                                    <li><a href="#">Supprimer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-right">50 000.000</td>
                              <td>Président de Club</td>
                              <td>12/03/2022</td>
                              <td>
                                ..................................................................................
                              </td>
                              <td class="overflow-hidden">
                                <div class="btn-group">
                                  <button
                                    data-toggle="dropdown"
                                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                  >
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a
                                        data-toggle="modal"
                                        data-target="#myModalModifier"
                                        >Modifier</a
                                      >
                                    </li>
                                    <li><a href="#">Supprimer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-right">50 000.000</td>
                              <td>Président de Club</td>
                              <td>12/03/2022</td>
                              <td>
                                ..................................................................................
                              </td>
                              <td class="overflow-hidden">
                                <div class="btn-group">
                                  <button
                                    data-toggle="dropdown"
                                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                  >
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a
                                        data-toggle="modal"
                                        data-target="#myModalModifier"
                                        >Modifier</a
                                      >
                                    </li>
                                    <li><a href="#">Supprimer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div
                          class="modal inmodal"
                          id="myModalModifier"
                          tabindex="-1"
                          role="dialog"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                              <div class="modal-header">
                                <h6 class="modal-title">
                                  Modifier Encaissement
                                </h6>
                                <button
                                  type="button"
                                  class="close"
                                  data-dismiss="modal"
                                >
                                  <span aria-hidden="true">&times;</span
                                  ><span class="sr-only">Fermer</span>
                                </button>
                              </div>
                              <br /><br />

                              <div class="modal-body">
                                <form>
                                  <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                      <label>Montant </label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="validationDefault04"
                                        placeholder=""
                                        required
                                      />
                                    </div>
                                    <div class="col-md-6 mb-3">
                                      <label>Reçu de </label>
                                      <select class="form-control">
                                        <option value="" selected>
                                          Président de Club
                                        </option>
                                        <option value="option1">X 2</option>
                                        <option value="" selected>X 3</option>
                                        <option value="option1">X 4</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                      <label f>Note </label>
                                      <textarea
                                        type="text"
                                        class="form-control"
                                        id="validationDefault04"
                                        placeholder=""
                                      ></textarea>
                                    </div>
                                  </div>
                                  <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                      <label>Date </label>
                                      <input
                                        type="date"
                                        class="form-control"
                                        id="validationDefault04"
                                        placeholder=""
                                        required
                                      />
                                    </div>
                                  </div>
                                  <div class="row" class="text-right">
                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        class="btn btn-white btn-xs dropdown-toggle"
                                        data-dismiss="modal"
                                      >
                                        Annuler
                                      </button>
                                      <button
                                        type="button"
                                        class="btn btn-primary btn-xs dropdown-toggle"
                                      >
                                        Modifier
                                      </button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <br /><br />
                            </div>
                          </div>
                          <br /><br />
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="Depense">
                      <div class="row">
                        <div class="col-sm-3 pull-right">
                          <div class="input-group">
                            <input
                              type="text"
                              placeholder="Rechercher"
                              class="input-sm form-control"
                            />
                            <span class="input-group-btn">
                              <button
                                type="button"
                                class="btn btn-sm btn-primary"
                              >
                                <i class="fa fa-search"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th style="width: 10%">Montant</th>
                              <th style="width: 10%">Date</th>
                              <th style="width: 40%">Note</th>
                              <th style="width: 10%">Evenement</th>
                              <th style="width: 10%">Effectif</th>
                              <th style="width: 10%">PJ</th>

                              <th style="width: 10%">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-right">100.000</td>
                              <td>12/03/2022</td>
                              <td>Recharge téléphonique</td>
                              <td></td>

                              <td>Ahmed hassen</td>
                              <td>
                                <i
                                  class="fa fa-download"
                                  aria-hidden="true"
                                ></i>
                              </td>

                              <td class="overflow-hidden">
                                <div class="btn-group">
                                  <button
                                    data-toggle="dropdown"
                                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                  >
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a
                                        data-toggle="modal"
                                        data-target="#ModifierDepense"
                                        >Modifier</a
                                      >
                                    </li>

                                    <li><a href="#">Supprimer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-right">100.000</td>
                              <td>12/03/2022</td>
                              <td>Recharge téléphonique</td>
                              <td>Stage de Match</td>

                              <td></td>
                              <td>
                                <i
                                  class="fa fa-download"
                                  aria-hidden="true"
                                ></i>
                              </td>

                              <td class="overflow-hidden">
                                <div class="btn-group">
                                  <button
                                    data-toggle="dropdown"
                                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                  >
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a
                                        data-toggle="modal"
                                        data-target="#ModifierDepense"
                                        >Modifier</a
                                      >
                                    </li>
                                    <li><a href="#">Supprimer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-right">100.000</td>
                              <td>12/03/2022</td>
                              <td>Recharge téléphonique</td>
                              <td></td>

                              <td></td>
                              <td>
                                <i
                                  class="fa fa-download"
                                  aria-hidden="true"
                                ></i>
                              </td>

                              <td class="overflow-hidden">
                                <div class="btn-group">
                                  <button
                                    data-toggle="dropdown"
                                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                  >
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a
                                        data-toggle="modal"
                                        data-target="#ModifierDepense"
                                        >Modifier</a
                                      >
                                    </li>
                                    <li><a href="#">Supprimer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-right">100.000</td>
                              <td>12/03/2022</td>
                              <td>Recharge téléphonique</td>
                              <td>Stage de Match</td>

                              <td>Ahmed hassen</td>
                              <td>
                                <i
                                  class="fa fa-download"
                                  aria-hidden="true"
                                ></i>
                              </td>

                              <td class="overflow-hidden">
                                <div class="btn-group">
                                  <button
                                    data-toggle="dropdown"
                                    class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                  >
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a
                                        data-toggle="modal"
                                        data-target="#ModifierDepense"
                                        >Modifier</a
                                      >
                                    </li>
                                    <li><a href="#">Supprimer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="5"><b>Total</b></td>
                              <td><b>200.000</b></td>
                            </tr>
                          </tfoot>
                        </table>
                        <div
                          class="modal inmodal"
                          id="ModifierDepense"
                          tabindex="-1"
                          role="dialog"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                              <div class="modal-header">
                                <h6 class="modal-title">Modifier Dépense</h6>
                                <button
                                  type="button"
                                  class="close"
                                  data-dismiss="modal"
                                >
                                  <span aria-hidden="true">&times;</span
                                  ><span class="sr-only">Fermer</span>
                                </button>
                              </div>
                              <br /><br />

                              <div class="modal-body">
                                <form>
                                  <div class="form-row text-center">
                                    <div class="col-md-12 mb-3">
                                      <input
                                        class="btn btn-primary btn-sm"
                                        value="Montant Disponible : 20 000.000"
                                        required
                                      />
                                    </div>
                                  </div>
                                  <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                      <label>Evenement </label>
                                      <select class="form-control">
                                        <option>Stage Préparation</option>
                                        <option>Stage de Match</option>

                                        <option>Entrainements</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                      <label>Dépense </label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="validationDefault04"
                                        placeholder=""
                                        required
                                      />
                                    </div>
                                    <div class="col-md-6 mb-3">
                                      <label>Date</label>
                                      <input
                                        type="date"
                                        class="form-control"
                                        id="validationDefault04"
                                        placeholder=""
                                        required
                                      />
                                    </div>
                                  </div>

                                  <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                      <label f>Notes </label>
                                      <textarea
                                        type="text"
                                        class="form-control"
                                        id="validationDefault04"
                                        placeholder=""
                                      ></textarea>
                                    </div>
                                  </div>
                                  <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                      <label f>PJ </label>
                                      <input
                                        type="file"
                                        class="form-control"
                                        id="validationDefault04"
                                        placeholder=""
                                      />
                                    </div>
                                  </div>

                                  <div class="row" class="text-right">
                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        class="btn btn-white btn-xs dropdown-toggle"
                                        data-dismiss="modal"
                                      >
                                        Annuler
                                      </button>

                                      <button
                                        type="button"
                                        class="btn btn-primary btn-xs dropdown-toggle"
                                      >
                                        Modifier
                                      </button>
                                      <button
                                        type="button"
                                        class="btn btn-primary btn-xs dropdown-toggle"
                                        data-dismiss="modal"
                                      >
                                        Envoyer
                                      </button>
                                      <button
                                        type="button"
                                        class="btn btn-primary btn-xs dropdown-toggle"
                                        data-dismiss="modal"
                                      >
                                        Imprimer
                                      </button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                          <br /><br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="wrapper wrapper-content project-manager">
      <div class="form-group row">
        <div class="col-sm-12">
          <div class="overflow-hidden">
            <div container="body">
              <input
                data-toggle="modal"
                data-target="#myModalEncaissement"
                class="btn btn-primary btn-sm"
                value="Encaissement"
              />
            </div>
            <div
              class="modal inmodal"
              id="myModalEncaissement"
              tabindex="-1"
              role="dialog"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                  <div class="modal-header">
                    <h6 class="modal-title">Ajouter Encaissement</h6>
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span
                      ><span class="sr-only">Fermer</span>
                    </button>
                  </div>
                  <br /><br />

                  <div class="modal-body">
                    <form>
                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label>Montant </label>
                          <input
                            type="text"
                            class="form-control"
                            id="validationDefault04"
                            placeholder=""
                            required
                          />
                        </div>
                        <div class="col-md-6 mb-3">
                          <label>Recu de </label>
                          <select class="form-control">
                            <option value="" selected>Président de Club</option>
                            <option value="option1">X 2</option>
                            <option value="" selected>X 3</option>
                            <option value="option1">X 4</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12 mb-3">
                          <label f>Note </label>
                          <textarea
                            type="text"
                            class="form-control"
                            id="validationDefault04"
                            placeholder=""
                          ></textarea>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12 mb-3">
                          <label>Date </label>
                          <input
                            type="date"
                            class="form-control"
                            id="validationDefault04"
                            placeholder=""
                            required
                          />
                        </div>
                      </div>
                      <div class="row" class="text-right">
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-white btn-xs dropdown-toggle"
                            data-dismiss="modal"
                          >
                            Annuler
                          </button>

                          <button
                            type="button"
                            class="btn btn-primary btn-xs dropdown-toggle"
                          >
                            Ajouter
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-xs dropdown-toggle"
                            data-dismiss="modal"
                          >
                            Envoyer
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-xs dropdown-toggle"
                            data-dismiss="modal"
                          >
                            Imprimer
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <br /><br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <div class="overflow-hidden">
            <div container="body">
              <input
                data-toggle="modal"
                data-target="#AjouterDepense"
                class="btn btn-primary btn-sm"
                value="Dépense"
              />
            </div>
            <div
              class="modal inmodal"
              id="AjouterDepense"
              tabindex="-1"
              role="dialog"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                  <div class="modal-header">
                    <h6 class="modal-title">Ajouter Dépense</h6>
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span
                      ><span class="sr-only">Fermer</span>
                    </button>
                  </div>
                  <br /><br />

                  <div class="modal-body">
                    <form>
                      <div class="form-row text-center">
                        <div class="col-md-12 mb-3">
                          <input
                            class="btn btn-primary btn-sm"
                            value="Montant Disponible : 20 000.000"
                            required
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12 mb-3">
                          <label>Evenement </label>
                          <select class="form-control">
                            <option>Stage Préparation</option>
                            <option>Stage de Match</option>

                            <option>Entrainements</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label>Dépense </label>
                          <input
                            type="text"
                            class="form-control"
                            id="validationDefault04"
                            placeholder=""
                            required
                          />
                        </div>
                        <div class="col-md-6 mb-3">
                          <label>Date</label>
                          <input
                            type="date"
                            class="form-control"
                            id="validationDefault04"
                            placeholder=""
                            required
                          />
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="col-md-12 mb-3">
                          <label f>Notes </label>
                          <textarea
                            type="text"
                            class="form-control"
                            id="validationDefault04"
                            placeholder=""
                          ></textarea>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12 mb-3">
                          <label f>PJ </label>
                          <input
                            type="file"
                            class="form-control"
                            id="validationDefault04"
                            placeholder=""
                          />
                        </div>
                      </div>

                      <div class="row" class="text-right">
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-white btn-xs dropdown-toggle"
                            data-dismiss="modal"
                          >
                            Annuler
                          </button>

                          <button
                            type="button"
                            class="btn btn-primary btn-xs dropdown-toggle"
                          >
                            Ajouter
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-xs dropdown-toggle"
                            data-dismiss="modal"
                          >
                            Envoyer
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-xs dropdown-toggle"
                            data-dismiss="modal"
                          >
                            Imprimer
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <br /><br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <div class="overflow-hidden">
            <div container="body">
              <input class="btn btn-primary btn-sm" value="Clôturée" />
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <div class="overflow-hidden">
            <div container="body">
              <input
                data-toggle="modal"
                data-target="#myModalDetaille"
                class="btn btn-primary btn-sm"
                value="Imprimer"
              />
            </div>
            <div
              class="modal inmodal"
              id="myModalDetaille"
              tabindex="-1"
              role="dialog"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content animated bounceInRight">
                  <div class="modal-header">
                    <h6 class="modal-title">Ajouter Detaile</h6>
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span
                      ><span class="sr-only">Fermer</span>
                    </button>
                  </div>
                  <div class="modal-body"></div>
                  <br /><br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
