<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Detail Staff</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-10">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-6">
              <div class="contact-box center-version">
                <a>
                  <img
                    alt="image"
                    class="img-circle"
                    src="assets/img/hassen.jpeg"
                  />

                  <h3 class="m-b-xs">
                    <strong>Moez Hassen</strong>
                  </h3>

                  <div class="font-bold">Milieu Droit</div>
                  <table style="width: 100%">
                    <tr>
                      <td class="text-left" style="width: 70%">
                        <strong>Date d'expiration Passeport:</strong>
                      </td>
                      <td style="width: 30%">12/02/2023</td>
                    </tr>
                    <tr>
                      <td class="text-left" style="width: 70%">
                        <strong>Date d'expiration Contrat:</strong>
                      </td>
                      <td style="width: 30%">12/04/2024</td>
                    </tr>
                    <tr>
                      <td class="text-left" style="width: 70%">
                        <strong>N° Licence:</strong>
                      </td>
                      <td style="width: 30%">232 343 453</td>
                    </tr>
                  </table>
                </a>
              </div>
            </div>
            <div class="col-lg-3">
              <br /><br />
              <table style="width: 100%">
                <tr>
                  <td style="width: 60%"><strong>Matchs Assistés:</strong></td>
                  <td style="width: 40%">10</td>
                </tr>

                <tr>
                  <td style="width: 60%"><strong>Cartons Jaunes :</strong></td>
                  <td style="width: 40%">02</td>
                </tr>
                <tr>
                  <td style="width: 60%">
                    <strong><strong>Cartons Rouges :</strong></strong>
                  </td>
                  <td style="width: 40%">01</td>
                </tr>
              </table>
            </div>
            <div class="col-lg-3">
              <div id="sparkline1" style="width: 100%; height: 100%"></div>
            </div>
          </div>

          <div class="row m-t-sm">
            <div class="col-lg-12">
              <div class="panel blank-panel">
                <div class="panel-heading">
                  <div class="panel-options">
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#tab-2" data-toggle="tab">Info</a>
                      </li>

                      <li class="">
                        <a href="#Sanctions" data-toggle="tab">Sanctions</a>
                      </li>

                      <li class="">
                        <a href="#Statstiques" data-toggle="tab">Statstiques</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="panel-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab-2">
                      <table class="table m-b-xs">
                        <tbody>
                          <tr>
                            <td><strong>Sexe :</strong></td>
                            <td>Homme</td>
                          </tr>
                          <tr>
                            <td><strong>Nationalité :</strong></td>
                            <td>Tunisienne</td>
                          </tr>
                          <tr>
                            <td>
                              <strong>Date de Naissance :</strong>
                            </td>
                            <td>12/03/1999</td>
                          </tr>
                          <tr>
                            <td><strong>Lieu de Naissance :</strong></td>
                            <td>Tunis</td>
                          </tr>
                          <tr>
                            <td><strong>Téléphone 1 :</strong></td>
                            <td>22 343 543</td>
                          </tr>
                          <tr>
                            <td><strong>Téléphone 2 :</strong></td>
                            <td>29 897 435</td>
                          </tr>
                          <tr>
                            <td><strong>Email :</strong></td>
                            <td>MoezGmail.com</td>
                          </tr>
                          <tr>
                            <td><strong>Adresse :</strong></td>
                            <td>Tunis</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane" id="Statstiques">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th style="width: 10%">Compétitions</th>

                              <th style="width: 10%">Matchs</th>

                              <th style="width: 10%">1ére Carton Jaune</th>
                              <th style="width: 10%">2éme Carton Jaune</th>
                              <th style="width: 10%">Carton Rouge</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Compétition 1</td>
                              <td>Match 1</td>

                              <td>Titulaire</td>

                              <td></td>
                              <td></td>
                             
                            </tr>
                            <tr>
                              <td>Compétition 2</td>
                              <td>Match 2</td>

                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>Compétition 4</td>
                              <td>Match 3</td>

                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="tab-pane" id="Sanctions">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th style="width: 10%">Catégorie</th>
                              <th style="width: 10%">Cause</th>
                              <th style="width: 10%">Date Début</th>
                              <th style="width: 10%">Date Fin</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Catégorie 1</td>
                              <td>Mauvaise mouvement</td>

                              <td>12/03/2023</td>
                              <td>13/01/2023</td>
                            </tr>
                            <tr>
                              <td>Catégorie 2</td>
                              <td>Cause 1</td>
                              <td>22/12/2022</td>
                              <td>01/03/2023</td>
                            </tr>
                            <tr>
                              <td>Catégorie 1</td>
                              <td>Mauvaise mouvement</td>

                              <td>12/03/2023</td>
                              <td>13/01/2023</td>
                            </tr>
                            <tr>
                              <td>Catégorie 1</td>
                              <td>Mauvaise mouvement</td>

                              <td>12/03/2023</td>
                              <td>13/01/2023</td>
                            </tr>
                            <tr>
                              <td>Catégorie 1</td>
                              <td>Mauvaise mouvement</td>

                              <td>12/03/2023</td>
                              <td>13/01/2023</td>
                            </tr>
                            <tr>
                              <td>Catégorie 1</td>
                              <td>Mauvaise mouvement</td>

                              <td>12/03/2023</td>
                              <td>13/01/2023</td>
                            </tr>
                            <tr>
                              <td>Catégorie 1</td>
                              <td>Mauvaise mouvement</td>

                              <td>12/03/2023</td>
                              <td>13/01/2023</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="wrapper wrapper-content project-manager">
      <div class="form-group row">
        <div class="col-sm-12">
          <div class="overflow-hidden">
            <div container="body">
              <input
                data-toggle="modal"
                data-target="#myModalResultat"
                class="btn btn-primary btn-sm"
                value="Modifier "
              />
            </div>
            <div
              class="modal inmodal"
              id="myModalResultat"
              tabindex="-1"
              role="dialog"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content animated bounceInRight">
                  <div class="modal-header">
                    <h6 class="modal-title">Modifier</h6>
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span
                      ><span class="sr-only">Fermer</span>
                    </button>
                  </div>
                  <br /><br />

                  <div class="modal-body">
                    <form class="form-horizontal">
                      <div class="form-row">
                        <div class="col-md-6">
                          <label>Nom </label>
                          <input
                            type="text"
                            class="form-control"
                            id="validationDefault04"
                            placeholder=""
                            required
                          />
                        </div>
                        <div class="col-md-6">
                          <label>Prénom</label>
                          <input
                            type="text"
                            class="form-control"
                            id="validationDefault04"
                            placeholder=""
                            required
                          />
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="col-md-12">
                          <label> N° Tel</label>

                          <input
                            type="text"
                            placeholder=" N° Tel"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-6">
                          <label>Email</label>

                          <input
                            type="text"
                            placeholder="Email"
                            class="form-control"
                          />
                        </div>
                        <div class="col-md-6">
                          <label> Nationnalité</label>

                          <select class="form-control">
                            <option></option>
                            <option></option>
                            <option></option>
                            <option selcted>Tunisienne</option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12">
                          <label> Fonction</label>

                          <select class="form-control">
                            <option>Staff Médical</option>
                            <option></option>
                            <option></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-4">
                          <label>N° Contrat</label>

                          <input
                            type="text"
                            placeholder=""
                            class="form-control"
                          />
                        </div>
                        <div class="col-md-4">
                          <label> Date de début du Contrat</label>

                          <input
                            type="date"
                            placeholder=""
                            class="form-control"
                          />
                        </div>
                        <div class="col-md-4">
                          <label>Date d'expiration du Contrat </label>

                          <input
                            type="date"
                            placeholder=""
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-3">
                          <input
                            type="file"
                            id="fileInput"
                            style="display: none"
                            (change)="onFileChange($event)"
                          />
                          <label for="fileInput" id="customLabel">
                            Télécharger Photo</label
                          >
                          <img
                            *ngIf="selectedImage"
                            [src]="selectedImage"
                            alt="Selected Image"
                          />
                        </div>
                        <div class="col-md-3">
                          <input
                            type="file"
                            id="fileInput"
                            style="display: none"
                            (change)="onFilePass($event)"
                          />
                          <label for="fileInput" id="customLabel"
                            >Télécharger Passeport</label
                          >
                          <img
                            *ngIf="selectedPass"
                            [src]="selectedPass"
                            alt="Selected Image"
                          />
                        </div>
                        <div class="col-md-3">
                          <input
                            type="file"
                            id="fileInput"
                            style="display: none"
                            (change)="onFileLicence($event)"
                          />
                          <label for="fileInput" id="customLabel"
                            >Télécharger Licence</label
                          >
                          <img
                            *ngIf="selectedLicence"
                            [src]="selectedLicence"
                            alt="Selected Image"
                          />
                        </div>
                        <div class="col-md-3">
                          <input type="file" (change)="onFileContrat($event)" />
                          <img
                            *ngIf="selectedImage"
                            [src]="selectedImage"
                            alt="Selected Image"
                          />
                        </div>
                      </div>
                      <div class="row" class="text-right">
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-white btn-xs dropdown-toggle"
                            data-dismiss="modal"
                          >
                            Annuler
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-xs dropdown-toggle"
                          >
                            Modifier
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <br /><br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
