<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Caisse</h2>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <div class="tab-content">
          <div role="tabpanel" id="" class="tab-pane active">
            <div class="panel-body">
              <div class="table-responsive">
                <div
                  id="table_clients_wrapper"
                  class="dataTables_wrapper dt-bootstrap4 no-footer"
                >
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="table_clients_length">
                        <label
                          >Afficher
                          <select
                            name="table_clients_length"
                            aria-controls="table_clients"
                            class="custom-select custom-select-sm form-control form-control-sm"
                          >
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          entrées
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-3 pull-right">
                      <div class="input-group">
                        <input
                          type="text"
                          placeholder="Rechercher"
                          class="input-sm form-control"
                        />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-sm btn-primary">
                            <i class="fa fa-search"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <table
                        class="table table-striped"
                        role="grid"
                        style="width: 100%"
                      >
                        <thead>
                          <tr>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              N° FOLIO
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Date Ouverture
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Intitulé : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Date Clôture
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Fond
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Encaissement
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Décaissement
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Solde Final
                            </th>

                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Clôturée
                            </th>

                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="table_clients"
                              rowspan="1"
                              colspan="1"
                              aria-label="Type : activer pour trier la colonne par ordre croissant"
                              style="width: 10%"
                            >
                              Actions
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>CS-1</td>
                            <td>27/04/2022 10:0</td>
                            <td>27/04/2022 10:0</td>
                            <td>0,000</td>

                            <td>0,000</td>
                            <td>3 300,000</td>
                            <td>500,000</td>
                            <td>
                              <label> </label> &nbsp;&nbsp;&nbsp;&nbsp;<input
                                type="checkbox"
                                checked
                              />
                              <br />
                            </td>

                            <td class="overflow-hidden">
                              <div class="btn-group">
                                <button
                                  routerLink="AfficherCaisee"
                                  data-toggle="dropdown"
                                  class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                >
                                  Afficher
                                </button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>CS-1</td>
                            <td>27/04/2022 10:0</td>
                            <td>27/04/2022 10:0</td>
                            <td>0,000</td>

                            <td>0,000</td>
                            <td>3 300,000</td>
                            <td>500,000</td>
                            <td>
                              <label> </label> &nbsp;&nbsp;&nbsp;&nbsp;<input
                                type="checkbox"
                                checked
                              />
                              <br />
                            </td>

                            <td class="overflow-hidden">
                              <div class="btn-group">
                                <button
                                  routerLink="AfficherCaisee"
                                  data-toggle="dropdown"
                                  class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                >
                                  Afficher
                                </button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>CS-1</td>
                            <td>27/04/2022 10:0</td>
                            <td>27/04/2022 10:0</td>
                            <td>0,000</td>

                            <td>0,000</td>
                            <td>3 300,000</td>
                            <td>500,000</td>
                            <td>
                              <label> </label> &nbsp;&nbsp;&nbsp;&nbsp;<input
                                type="checkbox"
                                checked
                              />
                              <br />
                            </td>

                            <td class="overflow-hidden">
                              <div class="btn-group">
                                <button
                                  routerLink="AfficherCaisee"
                                  data-toggle="dropdown"
                                  class="btn btn-primary btn-xs dropdown-toggle btn-xs dropdown-toggle"
                                >
                                  Afficher
                                </button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <div
                        id="table_clients_processing"
                        class="dataTables_processing card"
                        style="display: none"
                      >
                        Traitement...
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div
                        class="dataTables_info"
                        id="table_clients_info"
                        role="status"
                        aria-live="polite"
                      >
                        Affichage de 1 à 10 sur 18 entrées
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                      <div
                        class="dataTables_paginate paging_simple_numbers"
                        id="table_clients_paginate"
                      >
                        <ul class="pagination">
                          <li
                            class="paginate_button page-item previous disabled"
                            id="table_clients_previous"
                          >
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="0"
                              tabindex="0"
                              class="page-link"
                              >Précédent</a
                            >
                          </li>
                          <li class="paginate_button page-item active">
                            <a
                              href=""
                              aria-controls="table_clients"
                              data-dt-idx="1"
                              tabindex="0"
                              class="page-link"
                              >1</a
                            >
                          </li>

                          <li class="paginate_button page-item">
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="2"
                              tabindex="0"
                              class="page-link"
                              >2</a
                            >
                          </li>
                          <li
                            class="paginate_button page-item next"
                            id="table_clients_next"
                          >
                            <a
                              aria-controls="table_clients"
                              data-dt-idx="3"
                              tabindex="0"
                              class="page-link"
                              >Suivant</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
