<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header text-center">
          <div class="dropdown profile-element">
            <span>
              <img
                alt="image"
                class="img-circle"
                width="50%"
                height="50%"
                src="assets/img/default.png"
              />
            </span>
            <a data-toggle="dropdown" class="dropdown-toggle">
              <span class="clear">
                <span class="block m-t-xs">
                  <strong class="font-bold">Murex ERP</strong>
                </span>
                <span class="text-muted text-xs block"
                  >Abonné <b class="caret"></b
                ></span>
              </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a routerLink="Parametrage">Mon Profil</a></li>
              <li><a routerLink="ParametragePwd">Mot de Passe</a></li>
              <li class="divider"></li>
              <li><a>Déconnexion</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a routerLink="tdb"
            ><i class="fa fa-th-large"></i>
            <span class="nav-label">Tableau de bord</span>
          </a>
        </li>
        <li>
          <a
            ><i class="fa fa-building"></i>
            <span class="nav-label">Résidence </span
            ><span class="fa arrow"></span
          ></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a routerLink="Bloc"><span class="nav-label">Bloc</span></a>
            </li>
            <li>
              <a routerLink="Locaux"><span class="nav-label">Locaux</span></a>
            </li>
            <li>
              <a routerLink="Dependances"
                ><span class="nav-label">Dépendances</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="Cotisation"
            ><i class="fa fa-archive"></i>

            <span class="nav-label">Cotisation</span></a
          >
        </li>
        <li>
          <a routerLink="Annonces"
            ><i class="fa fa-bell"></i>

            <span class="nav-label">Annonces</span></a
          >
        </li>

        <li>
          <a
            ><i class="fa fa-usd"></i> <span class="nav-label">Finance </span
            ><span class="fa arrow"></span
          ></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a routerLink="Caisse"> <span class="nav-label">Caisse </span></a>
            </li>
            <li>
              <a routerLink="OrdrePaiement"
                ><span class="nav-label">Ordre de Paiement</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            ><i class="fa fa-share-alt-square"></i>
            <span class="nav-label">Suivi </span><span class="fa arrow"></span
          ></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a routerLink="SuiviEncaissement">
                <span class="nav-label">Encaissement</span></a
              >
            </li>
            <li>
              <a routerLink="SuiviDecaissement"
                ><span class="nav-label">Décaissement</span></a
              >
            </li>
            <li>
              <a routerLink="SuiviVersement"
                ><span class="nav-label">Versement</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            ><i class="fa fa-handshake-o"></i>
            <span class="nav-label">Achats </span><span class="fa arrow"></span
          ></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a routerLink="Fournisseurs"
                ><span class="nav-label">Fournisseurs</span></a
              >
            </li>
            <li>
              <a routerLink="Factures"
                ><span class="nav-label">Factures</span></a
              >
            </li>
            <li>
              <a routerLink="DepenseServices"
                ><span class="nav-label">Natures Dépenses</span></a
              >
            </li>
            <li>
              <a routerLink="ContratMain"
                ><span class="nav-label">Contrats de Maintenance</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="Repertoire"
            ><i class="fa fa-paste"></i>
            <span class="nav-label">Repertoire</span></a
          >
        </li>

        <li>
          <a
            ><i class="fa fa-sign-out"></i>
            <span class="nav-label">Déconnexion </span></a
          >
        </li>
        <br /><br />
        <div class="col-12 ownerCard text-center">
          Powered BY
          <br />
          <img src="assets/img/murex.png" />
          <br />
          © 2023 - ALL RIGHTS RESERVED<br />Murex business solutions
        </div>
      </ul>
    </div>
  </nav>
  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <nav
        aria-label="Site menu"
        class="navbar navbar-static-top"
        role="navigation"
        style="margin-bottom: 0"
      >
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"
            ><i class="fa fa-bars"></i>
          </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <span class="m-r-sm text-muted welcome-message">Bienvenue CA</span>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown">
              <i class="fa fa-envelope"></i>
              <span class="label label-warning">16</span>
            </a>
            <ul class="dropdown-menu dropdown-messages">
              <li>
                <div class="dropdown-messages-box">
                  <a class="pull-left">
                    <img
                      alt="image"
                      class="img-circle"
                      src="assets/img/a7.jpg"
                    />
                  </a>
                  <div class="media-body">
                    <small class="pull-right">46h ago</small>
                    <strong>Mike Loreipsum</strong> started following
                    <strong>Monica Smith</strong>. <br />
                    <small class="text-muted"
                      >3 days ago at 7:58 pm - 10.06.2014</small
                    >
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="dropdown-messages-box">
                  <a class="pull-left">
                    <img
                      alt="image"
                      class="img-circle"
                      src="assets/img/a4.jpg"
                    />
                  </a>
                  <div class="media-body">
                    <small class="pull-right text-navy">5h ago</small>
                    <strong>Chris Johnatan Overtunk</strong> started following
                    <strong>Monica Smith</strong>. <br />
                    <small class="text-muted"
                      >Yesterday 1:21 pm - 11.06.2014</small
                    >
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="dropdown-messages-box">
                  <a class="pull-left">
                    <img
                      alt="image"
                      class="img-circle"
                      src="assets/img/profile.jpg"
                    />
                  </a>
                  <div class="media-body">
                    <small class="pull-right">23h ago</small>
                    <strong>Monica Smith</strong> love
                    <strong>Kim Smith</strong>. <br />
                    <small class="text-muted"
                      >2 days ago at 2:30 am - 11.06.2014</small
                    >
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="text-center link-block">
                  <a routerLink="AllMessages">
                    <i class="fa fa-envelope"></i>
                    <strong>Read All Messages</strong>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown">
              <i class="fa fa-bell"></i>
              <span class="label label-primary">8</span>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
              <li>
                <a>
                  <div>
                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                    <span class="pull-right text-muted small"
                      >4 minutes ago</span
                    >
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a>
                  <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted small"
                      >12 minutes ago</span
                    >
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a>
                  <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                    <span class="pull-right text-muted small"
                      >4 minutes ago</span
                    >
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <div class="text-center link-block">
                  <a routerLink="AllNotif">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                  </a>
                </div>
              </li>
            </ul>
          </li>

          <li>
            <a> <i class="fa fa-sign-out"></i> Déconnexion</a>
          </li>
        </ul>
      </nav>
    </div>

    <router-outlet></router-outlet>

    <div class="footer">
      <div class="pull-right">
        Date Fin Abonnement <strong>12/12/2024</strong>
      </div>
      <div class="pull-Center">10GB of <strong>250GB</strong> Free.</div>
    </div>
  </div>
</div>
